Repository lightbend/kalix-jvm-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

debugging
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

doh moment fixed
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

plugin repos
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kalix-runtime

Add to samples readme
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
  samples/java-protobuf-customer-registry-quickstart/README.md
  samples/java-protobuf-customer-registry-views-quickstart/README.md
  samples/java-protobuf-eventsourced-counter/README.md
  samples/java-protobuf-eventsourced-customer-registry-subscriber/README.md
  samples/java-protobuf-eventsourced-customer-registry/README.md
  samples/java-protobuf-eventsourced-shopping-cart/README.md
  samples/java-protobuf-first-service/README.md
  samples/java-protobuf-replicatedentity-shopping-cart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-protobuf-transfer-workflow-compensation/README.md
  samples/java-protobuf-transfer-workflow/README.md
  samples/java-protobuf-valueentity-customer-registry/README.md
  samples/java-protobuf-valueentity-shopping-cart/README.md
  samples/scala-protobuf-customer-registry-quickstart/README.md
  samples/scala-protobuf-eventsourced-counter/README.md
  samples/scala-protobuf-eventsourced-shopping-cart/README.md
  samples/scala-protobuf-fibonacci-action/README.md
  samples/scala-protobuf-reliable-timers/README.md
  samples/scala-protobuf-transfer-workflow-compensation/README.md
  samples/scala-protobuf-transfer-workflow/README.md
  samples/scala-protobuf-validated/README.md
  samples/scala-protobuf-valueentity-counter/README.md
  samples/scala-protobuf-valueentity-customer-registry/README.md
  samples/scala-protobuf-web-resources/README.md
Labels: kalix-runtime, Documentation

Still cannot cleanup...
  build.sbt
Labels: kalix-runtime

use gitignore
  .gitignore
  build.sbt
Labels: kalix-runtime

fmt
  build.sbt
Labels: kalix-runtime

address comments
  .github/setup/global_resolver/action.yml
  .github/setup_global_resolver.sh
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  .github/workflows/fossa.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish.yml
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
Labels: kalix-runtime, Documentation

push with executable privileges
  .github/setup_global_resolver.sh
Labels: kalix-runtime

Make script more dynamic
  .github/setup_global_resolver.sh
  .github/workflows/ci.yml
Labels: kalix-runtime

use centralized scripting
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  .github/workflows/fossa.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish.yml
Labels: kalix-runtime

remove local script
  .github/setup_global_resolver.sh
Labels: kalix-runtime

Handle merging of global maven settings
  .github/workflows/publish.yml
Labels: kalix-runtime

Update publish-maven.sh
  .github/publish-maven.sh
Labels: kalix-runtime

More resolver (#2367)
  .github/publish-maven.sh
  .github/workflows/publish.yml
Labels: kalix-runtime

chore: License change date for 1.5.19
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.19 (#2369)
  LICENSE
Labels: kalix-runtime

build: wrong env for detecting existing maven settings
  .github/publish-maven.sh
Labels: kalix-runtime

build: test for file existence with correct filename
  .github/publish-maven.sh
Labels: kalix-runtime

build: test for file existence with correct filename (#2370)
  .github/publish-maven.sh
Labels: kalix-runtime

Add environment variables for global resolver setup
  .github/workflows/publish.yml
Labels: kalix-runtime

Modify publish-maven.sh to skip merging if settings exist
  .github/publish-maven.sh
Labels: kalix-runtime

Remove xmlstarlet installation from publish workflow
  .github/workflows/publish.yml
Labels: kalix-runtime

build: Add environment variables for global resolver setup (#2371)
  .github/publish-maven.sh
  .github/workflows/publish.yml
Labels: kalix-runtime

build: use correct mvn publish creds from env
  .github/workflows/publish.yml
Labels: kalix-runtime

build: use correct mvn publish creds from env (#2372)
  .github/workflows/publish.yml
Labels: kalix-runtime

bump: Akka 25.10 versions
  .github/workflows/ci.yml
  project/Dependencies.scala
  project/plugins.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/build.sbt
Labels: kalix-runtime, scala-sdk-protobuf, Documentation

javafmtAll...
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/EventingTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/impl/KalixRuntimeContainer.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/KalixTestKitResource.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/jupiter/KalixTestKitExtension.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/EntityOptions.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/HttpResponse.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/JsonMigration.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/JsonSupport.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/KalixRunnerLicenseKeySupplier.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Metadata.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/StatusCode.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/annotations/Migration.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/view/View.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/AbstractWorkflow.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/ProtoStepBuilder.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/StepBuilder.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowProvider.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/DummyClass.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/DummyClass2.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/DummyClassRenamed.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/eventsourcedentity/AbstractCartEntity.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/eventsourcedentity/CartEntityRouter.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflow.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflowProvider.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflowRouter.java
  tck/java-tck/src/main/java/kalix/javasdk/tck/JavaSdkTck.java
Labels: kalix-runtime, java-sdk-protobuf

fix: handling workflow step call expections
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
Labels: kalix-runtime, java-sdk-protobuf

fix: workflow effect.error should not throw MatchError exception
  publishLocally.sh
  samples/scala-protobuf-transfer-workflow/src/test/scala/com/example/transfer/api/TransferWorkflowIntegrationSpec.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowEffectImpl.scala
Labels: kalix-runtime, scala-sdk-protobuf, Documentation

feat: fallback config for testkit actor system
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
Labels: kalix-runtime, java-sdk-protobuf

fmt
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
Labels: kalix-runtime, java-sdk-protobuf

fix: workflow effect.error should not throw MatchError exception (#2378)
  publishLocally.sh
  samples/scala-protobuf-transfer-workflow/src/test/scala/com/example/transfer/api/TransferWorkflowIntegrationSpec.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowEffectImpl.scala
Labels: kalix-runtime, scala-sdk-protobuf, Documentation

feat: fallback config for testkit actor system (#2377)
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
Labels: kalix-runtime, java-sdk-protobuf

fix: handling workflow step call expections (#2376)
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
Labels: kalix-runtime, java-sdk-protobuf

chore: license bump
  LICENSE
Labels: kalix-runtime

chore: license bump (#2380)
  LICENSE
Labels: kalix-runtime

build: run tests on JDK 21 and 25 (#2365)
  .github/workflows/ci.yml
Labels: kalix-runtime

fix: Concurrency issue in build plugin docker integration
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
Labels: kalix-runtime

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk-protobuf:
  - sdk/java-sdk-protobuf/**/*
  - sdk/java-sdk-protobuf-testkit/**/*
  - maven-java/**/*
  - codegen/java-gen/**/*

scala-sdk-protobuf:
  - sdk/scala-sdk-protobuf/**/*
  - sdk/scala-sdk-protobuf-testkit/**/*
  - sbt-plugin/**/*
  - codegen/scala-gen/**/*

Documentation:
  - docs/**/*
  - samples/**/*
