Repository lightbend/kalix-jvm-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk-protobuf:
  - sdk/java-sdk-protobuf/**/*
  - sdk/java-sdk-protobuf-testkit/**/*
  - maven-java/**/*
  - codegen/java-gen/**/*

scala-sdk-protobuf:
  - sdk/scala-sdk-protobuf/**/*
  - sdk/scala-sdk-protobuf-testkit/**/*
  - sbt-plugin/**/*
  - codegen/scala-gen/**/*

Documentation:
  - docs/**/*
  - samples/**/*

cleaning up. final test passed
  .github/workflows/fakepublish.yml
  .github/workflows/publish.yml
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

remove TODO comment
  .github/workflows/publish.yml
Labels: kalix-runtime

fix: creating pr after publish (#2294)
  .github/workflows/fakepublish.yml
  .github/workflows/publish.yml
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

feat: Access to component gRPC clients in actions and workflows
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/ActionCreationContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowContext.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/action/ActionCreationContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/action/ActionAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/WorkflowContext.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

formatting
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/ActionCreationContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowContext.java
Labels: kalix-runtime, java-sdk-protobuf

one thing fixed
  docs/release-issue-template.md
Labels: kalix-runtime, Documentation

feat: Access to component gRPC clients in actions and workflows (#2296)
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/ActionCreationContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowContext.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/action/ActionCreationContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/action/ActionAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/WorkflowContext.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

chore: License change date for 1.5.9
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.9 (#2302)
  LICENSE
Labels: kalix-runtime

build: Update what does not work in release flow (#2287)
  docs/release-issue-template.md
Labels: kalix-runtime, Documentation

feat: workflows deletion
  docs/src/modules/java-protobuf/pages/workflows.adoc
  samples/java-protobuf-transfer-workflow-compensation/src/it/java/com/example/transfer/api/TransferWorkflowIntegrationTest.java
  samples/java-protobuf-transfer-workflow-compensation/src/main/java/com/example/transfer/api/TransferWorkflow.java
  samples/java-protobuf-transfer-workflow-compensation/src/main/proto/com/example/transfer/transfer_api.proto
  samples/scala-protobuf-transfer-workflow-compensation/README.md
  samples/scala-protobuf-transfer-workflow-compensation/src/main/proto/com/example/transfer/transfer_api.proto
  samples/scala-protobuf-transfer-workflow-compensation/src/main/scala/com/example/transfer/api/TransferWorkflow.scala
  samples/scala-protobuf-transfer-workflow-compensation/src/test/scala/com/example/transfer/api/TransferWorkflowIntegrationSpec.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/AbstractWorkflow.java
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflow.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflowRouter.java
  sdk/java-sdk-protobuf/src/test/proto/workflow/transfer_workflow.proto
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/workflow/WorkflowImplSpec.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowEffectImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/AbstractWorkflow.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

fixing readme files
  project/Dependencies.scala
  samples/java-protobuf-transfer-workflow-compensation/README.md
  samples/java-protobuf-transfer-workflow/README.md
  sdk/java-sdk-protobuf/src/test/resources/logback-test.xml
Labels: kalix-runtime, java-sdk-protobuf, Documentation

feat: allow override of max joins in integration tests
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

feat: allow override of max joins in integration tests (#2308)
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

Update docs/src/modules/java-protobuf/pages/workflows.adoc
  docs/src/modules/java-protobuf/pages/workflows.adoc
Labels: kalix-runtime, Documentation

runtime bump
  project/Dependencies.scala
Labels: kalix-runtime

feat: workflow delete effect (#2305)
  docs/src/modules/java-protobuf/pages/workflows.adoc
  samples/java-protobuf-transfer-workflow-compensation/README.md
  samples/java-protobuf-transfer-workflow-compensation/src/it/java/com/example/transfer/api/TransferWorkflowIntegrationTest.java
  samples/java-protobuf-transfer-workflow-compensation/src/main/java/com/example/transfer/api/TransferWorkflow.java
  samples/java-protobuf-transfer-workflow-compensation/src/main/proto/com/example/transfer/transfer_api.proto
  samples/java-protobuf-transfer-workflow/README.md
  samples/scala-protobuf-transfer-workflow-compensation/README.md
  samples/scala-protobuf-transfer-workflow-compensation/src/main/proto/com/example/transfer/transfer_api.proto
  samples/scala-protobuf-transfer-workflow-compensation/src/main/scala/com/example/transfer/api/TransferWorkflow.scala
  samples/scala-protobuf-transfer-workflow-compensation/src/test/scala/com/example/transfer/api/TransferWorkflowIntegrationSpec.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/AbstractWorkflow.java
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflow.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflow/TransferWorkflowRouter.java
  sdk/java-sdk-protobuf/src/test/proto/workflow/transfer_workflow.proto
  sdk/java-sdk-protobuf/src/test/resources/logback-test.xml
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/workflow/WorkflowImplSpec.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowEffectImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/AbstractWorkflow.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

chore: license date bump
  LICENSE
Labels: kalix-runtime

chore: license date bump (#2311)
  LICENSE
Labels: kalix-runtime

Add Privacy Policy Reference
  README.md
Labels: kalix-runtime

Add Privacy Policy Reference (#2313)
  README.md
Labels: kalix-runtime

chore: Access to host and port from the Scala TestKit
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: kalix-runtime, scala-sdk-protobuf

chore: Access to host and port from the Scala TestKit (#2314)
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: kalix-runtime, scala-sdk-protobuf

chore: License change date for 1.5.11
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.11 (#2317)
  LICENSE
Labels: kalix-runtime

bump: JRE 21.0.7 as base image
  maven-java/kalix-java-protobuf-parent/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, java-sdk-protobuf, Documentation

bump: JRE 21.0.7 as base image (#2321)
  maven-java/kalix-java-protobuf-parent/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, java-sdk-protobuf, Documentation

Update LICENSE
  LICENSE
Labels: kalix-runtime

Update LICENSE (#2324)
  LICENSE
Labels: kalix-runtime

Update LICENSE
  LICENSE
Labels: kalix-runtime

Update LICENSE (#2326)
  LICENSE
Labels: kalix-runtime

chore: update maven nexus url
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

Update LICENSE
  LICENSE
Labels: kalix-runtime

chore: update maven nexus url (#2327)
  LICENSE
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

chore: publishing to new sonatype's repo
  .github/publish-maven.sh
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

chore: publishing to new sonatype's repo (#2329)
  .github/publish-maven.sh
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

fix: publishing server id
  .github/publish-maven.sh
Labels: kalix-runtime

fix: publishing server id (#2330)
  .github/publish-maven.sh
Labels: kalix-runtime

chore: disable virtual threads by default
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
Labels: kalix-runtime, java-sdk-protobuf

drop vt config
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
Labels: kalix-runtime, java-sdk-protobuf
