Repository lightbend/kalix-jvm-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

processIO / stringbuffer instead
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
Labels: kalix-runtime

fix: Concurrency issue in build plugin docker integration (#2382)
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
Labels: kalix-runtime

feat: Long timeout on actions to detect runaway Futures/CompletionStages
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

re-use timers to not flood the scheduler
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

re-use the future as well
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

A lot simpler, cancelling each on success
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

feat: Long timeout on actions to detect runaway Futures/CompletionStages (#2383)
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

chore: validate generated pom.xml
  .github/workflows/ci.yml
Labels: kalix-runtime

generated poms; git add to detect missing files
  .github/workflows/ci.yml
  generated-poms/eventsourced-customer-registry/pom.xml
  generated-poms/kalix-codegen-core/pom.xml
  generated-poms/kalix-codegen-core_2.12/pom.xml
  generated-poms/kalix-codegen-java-compilation-tests/pom.xml
  generated-poms/kalix-codegen-java/pom.xml
  generated-poms/kalix-codegen-java_2.12/pom.xml
  generated-poms/kalix-codegen-scala-compilation-tests/pom.xml
  generated-poms/kalix-codegen-scala/pom.xml
  generated-poms/kalix-codegen-scala_2.12/pom.xml
  generated-poms/kalix-devtools-internal/pom.xml
  generated-poms/kalix-devtools-internal_2.12/pom.xml
  generated-poms/kalix-devtools/pom.xml
  generated-poms/kalix-java-sdk-protobuf/pom.xml
  generated-poms/kalix-java-sdk-spring-testkit/pom.xml
  generated-poms/kalix-java-sdk-spring/pom.xml
  generated-poms/kalix-jvm-core-sdk/pom.xml
  generated-poms/kalix-jvm-sdk/pom.xml
  generated-poms/kalix-maven-java/pom.xml
  generated-poms/kalix-scala-sdk-protobuf-testkit/pom.xml
  generated-poms/kalix-scala-sdk-protobuf/pom.xml
  generated-poms/kalix-spring-boot-starter-test/pom.xml
  generated-poms/kalix-spring-boot-starter/pom.xml
  generated-poms/kalix-tck-java-sdk/pom.xml
  generated-poms/kalix-tck-scala-sdk/pom.xml
  generated-poms/sbt-kalix/pom.xml
  generated-poms/sbt-kalix_2.12_1.0/pom.xml
Labels: kalix-runtime

duplicated pom.xml files existed locally
  generated-poms/kalix-codegen-core/pom.xml
  generated-poms/kalix-codegen-java-compilation-tests/pom.xml
  generated-poms/kalix-codegen-java/pom.xml
  generated-poms/kalix-codegen-scala-compilation-tests/pom.xml
  generated-poms/kalix-codegen-scala/pom.xml
  generated-poms/kalix-devtools-internal/pom.xml
  generated-poms/kalix-devtools/pom.xml
  generated-poms/kalix-java-sdk-protobuf-testkit/pom.xml
  generated-poms/kalix-java-sdk-protobuf/pom.xml
  generated-poms/kalix-jvm-core-sdk/pom.xml
  generated-poms/kalix-jvm-sdk/pom.xml
  generated-poms/kalix-scala-sdk-protobuf/pom.xml
  generated-poms/kalix-tck-java-sdk/pom.xml
  generated-poms/kalix-tck-scala-sdk/pom.xml
  generated-poms/sbt-kalix/pom.xml
Labels: kalix-runtime

Other trash still existed locally
  generated-poms/eventsourced-customer-registry/pom.xml
  generated-poms/kalix-java-sdk-spring-testkit/pom.xml
  generated-poms/kalix-java-sdk-spring/pom.xml
  generated-poms/kalix-spring-boot-starter-test/pom.xml
  generated-poms/kalix-spring-boot-starter/pom.xml
Labels: kalix-runtime

chore: bump testcontainers to 2.0.2
  project/Dependencies.scala
Labels: kalix-runtime

chore: bump testcontainers to 2.0.2 (#2390)
  project/Dependencies.scala
Labels: kalix-runtime

chore: Protocol response message size validation and fail-fast
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

chore: License change date for 1.5.21
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.21 (#2392)
  LICENSE
Labels: kalix-runtime

docs: fix junit 5 link
  docs/src/modules/java-protobuf/pages/project-template.adoc
Labels: kalix-runtime, Documentation

docs: fix junit 5 link (#2395)
  docs/src/modules/java-protobuf/pages/project-template.adoc
Labels: kalix-runtime, Documentation

feat: Start views and actions from snapshot
  .gitignore
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ViewServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ViewServiceSourceGenerator.scala
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

rename to handle_snapshots
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ViewServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ViewServiceSourceGenerator.scala
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

docs
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/java-protobuf-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/java-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-eventsourced-counter/project/plugins.sbt
  samples/scala-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/scala-protobuf-eventsourced-counter/src/main/scala/com/example/actions/CounterJournalToTopicAction.scala
  samples/scala-protobuf-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-eventsourced-customer-registry/src/main/scala/customer/view/CustomerByNameView.scala
Labels: kalix-runtime, Documentation

revert version in samples
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/scala-protobuf-eventsourced-counter/project/plugins.sbt
  samples/scala-protobuf-eventsourced-customer-registry/project/plugins.sbt
Labels: kalix-runtime, Documentation

revert snapshot version
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
Labels: kalix-runtime, Documentation

feat: Start views and actions from snapshot (#2396)
  .gitignore
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ViewServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ViewServiceSourceGenerator.scala
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  samples/java-protobuf-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/java-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/scala-protobuf-eventsourced-counter/src/main/scala/com/example/actions/CounterJournalToTopicAction.scala
  samples/scala-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-eventsourced-customer-registry/src/main/scala/customer/view/CustomerByNameView.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

chore: Update change date for 1.5.22
  LICENSE
Labels: kalix-runtime

chore: Update change date for 1.5.22 (#2399)
  LICENSE
Labels: kalix-runtime

bump: Jackson 2.18.6
  project/Dependencies.scala
Labels: kalix-runtime

bump: Jackson 2.18.6 (#2402)
  project/Dependencies.scala
Labels: kalix-runtime

chore: License change 1.5.23
  LICENSE
Labels: kalix-runtime

chore: License change 1.5.23 (#2404)
  LICENSE
Labels: kalix-runtime

feat: backoffice services backport
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/proto/kalix/auth/v1alpha/auth.proto
  sdk/java-sdk-protobuf/src/main/proto/kalix/projects/v1alpha/projects.proto
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/backoffice/BackofficeAccessTokenCache.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/backoffice/BackofficeServiceSupport.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/backoffice/BackofficeSettingsLoader.scala
Labels: kalix-runtime, java-sdk-protobuf

feat: retry port allocation if not available in TestKit
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/KalixTestKitPortRetrySpec.scala
Labels: kalix-runtime, java-sdk-protobuf

chore: Bump samples docker base image JRE 21.0.10_7
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, Documentation

chore: Bump samples docker base image JRE 21.0.10_7 (#2409)
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, Documentation

test: retry around TestKit.start
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/KalixTestKitRetrySpec.scala
Labels: kalix-runtime, java-sdk-protobuf

fmt
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
Labels: kalix-runtime, java-sdk-protobuf

test: retry around TestKit.start (#2410)
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/KalixTestKitRetrySpec.scala
Labels: kalix-runtime, java-sdk-protobuf

bump runtime
  project/Dependencies.scala
Labels: kalix-runtime

Correct runtime version is 1.2.41
  project/Dependencies.scala
Labels: kalix-runtime

feat: backoffice services (#2406)
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/proto/kalix/auth/v1alpha/auth.proto
  sdk/java-sdk-protobuf/src/main/proto/kalix/projects/v1alpha/projects.proto
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/backoffice/BackofficeAccessTokenCache.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/backoffice/BackofficeServiceSupport.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/backoffice/BackofficeSettingsLoader.scala
Labels: kalix-runtime, java-sdk-protobuf

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk-protobuf:
  - sdk/java-sdk-protobuf/**/*
  - sdk/java-sdk-protobuf-testkit/**/*
  - maven-java/**/*
  - codegen/java-gen/**/*

scala-sdk-protobuf:
  - sdk/scala-sdk-protobuf/**/*
  - sdk/scala-sdk-protobuf-testkit/**/*
  - sbt-plugin/**/*
  - codegen/scala-gen/**/*

Documentation:
  - docs/**/*
  - samples/**/*
