Repository lightbend/kalix-jvm-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

chore: disable virtual threads by default (#2333)
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
Labels: kalix-runtime, java-sdk-protobuf

ci: adding javadocs and sources to archetypes
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

adding to plugin as well
  maven-java/kalix-maven-plugin/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

comment out sbt publish for ci speed up
  .github/workflows/publish.yml
Labels: kalix-runtime

fix version
  maven-java/kalix-maven-plugin/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

sbt publish uncomment
  .github/workflows/publish.yml
Labels: kalix-runtime

ci: adding javadocs and sources to archetypes (#2335)
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

chore: update license for 1.5.15
  LICENSE
Labels: kalix-runtime

chore: update license for 1.5.15 (#2336)
  LICENSE
Labels: kalix-runtime

remove containers in between runs
  .github/workflows/ci.yml
Labels: kalix-runtime

docker stop is enough
  .github/workflows/ci.yml
Labels: kalix-runtime

pass even if no containers exist
  .github/workflows/ci.yml
Labels: kalix-runtime

ci: add debug echo to makefile
  docs/Makefile
Labels: kalix-runtime, Documentation

ci: add debug echo to makefile (#2338)
  docs/Makefile
Labels: kalix-runtime, Documentation

bump: Several dependencies
  project/Dependencies.scala
  project/plugins.sbt
Labels: kalix-runtime

bump: Several dependencies (#2340)
  project/Dependencies.scala
  project/plugins.sbt
Labels: kalix-runtime

feat: Persist metadata together with event
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventWithMetadata.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

final
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventWithMetadata.java
Labels: kalix-runtime, java-sdk-protobuf

chore: docbuiler image version
  docs/Makefile
Labels: kalix-runtime, Documentation

chore: docbuiler image version (#2343)
  docs/Makefile
Labels: kalix-runtime, Documentation

bump: Akka gRPC 2.5.7
  maven-java/kalix-java-protobuf-parent/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
Labels: kalix-runtime, java-sdk-protobuf

feat: Persist metadata together with event
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventWithMetadata.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/eventsourcedentity/EventSourcedMessages.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

feat: Persist metadata together with event (#2342)
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventWithMetadata.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/eventsourcedentity/EventSourcedMessages.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

chore: License change date for 1.5.16
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.16 (#2347)
  LICENSE
Labels: kalix-runtime

feat: Allow error codes for non error effects in Java SDK
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Metadata.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

feat: Allow error codes for non error effects in Java SDK (#2351)
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Metadata.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

docs: point to Akka CLI; remove quickstart pages
  docs/src/modules/java-protobuf/pages/developer-tools.adoc
  docs/src/modules/java-protobuf/pages/failures-and-errors.adoc
  docs/src/modules/java-protobuf/pages/index.adoc
  docs/src/modules/java-protobuf/pages/project-template.adoc
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
Labels: kalix-runtime, Documentation

docs: point to Akka CLI; remove quickstart pages (#2352)
  docs/src/modules/java-protobuf/pages/developer-tools.adoc
  docs/src/modules/java-protobuf/pages/failures-and-errors.adoc
  docs/src/modules/java-protobuf/pages/index.adoc
  docs/src/modules/java-protobuf/pages/project-template.adoc
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
Labels: kalix-runtime, Documentation

chore: License change date for 1.5.17
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.17 (#2354)
  LICENSE
Labels: kalix-runtime

feat: Include log event key value pairs in json output
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
Labels: kalix-runtime, java-sdk-protobuf

default value might be null
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
Labels: kalix-runtime, java-sdk-protobuf

feat: Include log event key value pairs in json output (#2356)
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
Labels: kalix-runtime, java-sdk-protobuf

feat: Allow error codes for non error effects in Scala SDK
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/Metadata.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/StatusCode.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

feat: Allow error codes for non error effects in Scala SDK (#2357)
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/Metadata.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/StatusCode.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

chore: License change date for 1.5.18
  LICENSE
Labels: kalix-runtime

chore: License change date for 1.5.18 (#2359)
  LICENSE
Labels: kalix-runtime

chore: re-open the logging json layout for extension
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
Labels: kalix-runtime, java-sdk-protobuf

chore: re-open the logging json layout for extension (#2361)
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
Labels: kalix-runtime, java-sdk-protobuf

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk-protobuf:
  - sdk/java-sdk-protobuf/**/*
  - sdk/java-sdk-protobuf-testkit/**/*
  - maven-java/**/*
  - codegen/java-gen/**/*

scala-sdk-protobuf:
  - sdk/scala-sdk-protobuf/**/*
  - sdk/scala-sdk-protobuf-testkit/**/*
  - sbt-plugin/**/*
  - codegen/scala-gen/**/*

Documentation:
  - docs/**/*
  - samples/**/*
