Repository lightbend/kalix-jvm-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk-protobuf:
  - sdk/java-sdk-protobuf/**/*
  - sdk/java-sdk-protobuf-testkit/**/*
  - maven-java/**/*
  - codegen/java-gen/**/*

scala-sdk-protobuf:
  - sdk/scala-sdk-protobuf/**/*
  - sdk/scala-sdk-protobuf-testkit/**/*
  - sbt-plugin/**/*
  - codegen/scala-gen/**/*

Documentation:
  - docs/**/*
  - samples/**/*

fix
  project/Dependencies.scala
Labels: kalix-runtime

bump: Broad sweep of dependency bumps
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/KalixRunner.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/PassivationStrategyConverters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

Some sample dependency bumps as well
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/scala-protobuf-tracing/build.sbt
Labels: kalix-runtime, Documentation

drop the spring client sample instead of trying to bump
  .github/workflows/ci.yml
  docs/src/modules/java-protobuf/nav.adoc
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  samples/java-protobuf-valueentity-counter-spring-client/README.md
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/CounterClientApplication.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/GrpcClientConfig.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/WebClientConfig.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/controller/CounterController.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/CounterRequest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/ValueRequest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterService.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterServiceImpl.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/GrpcClientService.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/actions/double-counter.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/counter_api.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/domain/counter_domain.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/application.properties
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/logback.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerIntegrationTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/resources/logback-test.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: kalix-runtime, Documentation

bump: Broad sweep of dependency bumps (#2270)
  .github/workflows/ci.yml
  docs/src/modules/java-protobuf/nav.adoc
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
  samples/java-protobuf-valueentity-counter-spring-client/README.md
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/CounterClientApplication.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/GrpcClientConfig.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/WebClientConfig.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/controller/CounterController.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/CounterRequest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/ValueRequest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterService.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterServiceImpl.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/GrpcClientService.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/actions/double-counter.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/counter_api.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/domain/counter_domain.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/application.properties
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/logback.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerIntegrationTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/resources/logback-test.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  samples/scala-protobuf-tracing/build.sbt
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/KalixRunner.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/PassivationStrategyConverters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

build: Stop building docker image for TCK
  bin/docker-login-public-gcr.sh
  build.sbt
  project/DockerImage.scala
Labels: kalix-runtime

build: Stop building docker image for TCK (#2272)
  bin/docker-login-public-gcr.sh
  build.sbt
  project/DockerImage.scala
Labels: kalix-runtime

pin tck image to 1.2.11
  tck/java-tck/src/test/java/kalix/javasdk/tck/RunTck.java
Labels: kalix-runtime

pin tck image to 1.2.11 for scala tck too
  tck/scala-tck/src/test/java/kalix/javasdk/tck/RunTck.java
Labels: kalix-runtime

note about pinned version
  tck/scala-tck/src/test/java/kalix/javasdk/tck/RunTck.java
Labels: kalix-runtime

chore: update license ahead of 1.5.7
  LICENSE
Labels: kalix-runtime

chore: update license ahead of 1.5.7 (#2275)
  LICENSE
Labels: kalix-runtime

bump: java 21 and ubuntu version to latest versions
  maven-java/kalix-java-protobuf-parent/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, java-sdk-protobuf, Documentation

bump: java 21 and ubuntu version to latest versions (#2276)
  maven-java/kalix-java-protobuf-parent/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, java-sdk-protobuf, Documentation

feat: Access to gRPC clients in through workflow context
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowContext.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/WorkflowContext.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

test if main is broken
  README.md
Labels: kalix-runtime

try force sbt-platforms-deps version
  project/plugins.sbt
Labels: kalix-runtime

forced bump of sbt-platform-deps for CI
  project/plugins.sbt
Labels: kalix-runtime

formatting...
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowContext.java
Labels: kalix-runtime, java-sdk-protobuf

bump sbt-protoc as library to align with plugin
  project/Dependencies.scala
Labels: kalix-runtime

feat: Run user logic on virtual threads
  build.sbt
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/SdkExecutionContext.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

bump: Akka 2.10.3
  project/Dependencies.scala
Labels: kalix-runtime

drop snapshot repository
  build.sbt
Labels: kalix-runtime

proving stalling with .join and .get
  samples/java-protobuf-eventsourced-customer-registry/README.md
  samples/java-protobuf-eventsourced-customer-registry/src/it/java/customer/api/CustomerBatchProcessor.java
  samples/java-protobuf-eventsourced-customer-registry/src/it/java/customer/api/CustomerEntityIntegrationTest.java
  samples/java-protobuf-eventsourced-customer-registry/src/it/java/customer/api/CustomerManager.java
  samples/java-protobuf-eventsourced-customer-registry/src/it/s
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/Main.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/api/CustomerEventsServiceAction.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/domain/CustomerEntity.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/view/CustomerByCityStreamingView.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/api/customer_api.proto
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/api/direct_customer_events.proto
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/domain/customer_domain.proto
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/java-protobuf-eventsourced-customer-registry/src/test/java/customer/domain/CustomerEntityTest.java
Labels: kalix-runtime, Documentation

feat: Run user logic on virtual threads (#2283)
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/SdkExecutionContext.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

feat: Access to gRPC clients in through workflow context (#2281)
  project/Dependencies.scala
  project/plugins.sbt
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/WorkflowContext.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/WorkflowContext.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

chore: License change for 1.5.8
  LICENSE
Labels: kalix-runtime

chore: License change for 1.5.8 (#2285)
  LICENSE
Labels: kalix-runtime

build: Update what does not work in release flow
  docs/release-issue-template.md
Labels: kalix-runtime, Documentation

chore: testing CI
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

debugging
  .github/workflows/fakepublish.yml
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

.github/workflows/update-sdk-version.yml back to original
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

chore: first step to fix PR creation trigger (#2288)
  .github/workflows/fakepublish.yml
Labels: kalix-runtime

fix: creating prs after publish
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

debugging
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

debugging
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

debugging
  .github/workflows/update-sdk-version.yml
Labels: kalix-runtime

moving PR to publish
  .github/workflows/publish.yml
Labels: kalix-runtime

debugging
  .github/workflows/publish.yml
Labels: kalix-runtime

adding review for creator
  .github/workflows/publish.yml
Labels: kalix-runtime
