Repository lightbend/kalix-jvm-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, Documentation

Not for merge: sample verification that method level catchall for service to service works
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/scala/customer/view/AllCustomersViewImpl.scala
Labels: kalix-runtime, Documentation

build: Resolver config for SDK sbt plugins
  project/plugins.sbt
Labels: kalix-runtime

runs on
  .github/workflows/ci.yml
  .github/workflows/delete-pr-caches.yml
  .github/workflows/documentation.yml
  .github/workflows/fossa.yml
  .github/workflows/labeler.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish.yml
Labels: kalix-runtime

more pom fixes
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

build: run tests on JDK 21 and 25
  .github/workflows/ci.yml
Labels: kalix-runtime

Create global sbt_setup
  .github/setup/sbt_setup/action.yml
Labels: kalix-runtime

Setup global resolver
  .github/workflows/ci.yml
Labels: kalix-runtime

Update documentation.yml
  .github/workflows/documentation.yml
Labels: kalix-runtime

Update fossa.yml
  .github/workflows/fossa.yml
Labels: kalix-runtime

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: kalix-runtime

copy/paste typo
  .github/workflows/ci.yml
Labels: kalix-runtime

Update publish.yml
  .github/workflows/publish.yml
Labels: kalix-runtime

remove resolver - leave it to global
  samples/scala-protobuf-customer-registry-quickstart/project/plugins.sbt
Labels: kalix-runtime, Documentation

Remove resolver in favor of global
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
Labels: kalix-runtime, Documentation

Update plugins.sbt
  samples/scala-protobuf-doc-snippets/project/plugins.sbt
Labels: kalix-runtime, Documentation

global resolver for sbt and maven
  .github/setup/global_resolver/action.yml
  .github/setup/sbt_setup/action.yml
Labels: kalix-runtime

Update ci.yml
  .github/workflows/ci.yml
Labels: kalix-runtime

Update documentation.yml
  .github/workflows/documentation.yml
Labels: kalix-runtime

Update fossa.yml
  .github/workflows/fossa.yml
Labels: kalix-runtime

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Labels: kalix-runtime

Update publish.yml
  .github/workflows/publish.yml
Labels: kalix-runtime

Update action.yml
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

DEBUG output
  .github/workflows/ci.yml
Labels: kalix-runtime

Maybe fix for maven
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

Use mirror for archetype redirect
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

Remove debug
  .github/workflows/ci.yml
Labels: kalix-runtime

Remove in favor of global settings
  project/plugins.sbt
Labels: kalix-runtime

Favor global settings
  samples/scala-protobuf-doc-snippets/build.sbt
Labels: kalix-runtime, Documentation

Favor global
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
Labels: kalix-runtime, Documentation

Favor global
  samples/scala-protobuf-eventsourced-counter/build.sbt
Labels: kalix-runtime, Documentation

Favor global
  samples/scala-protobuf-eventsourced-counter/project/plugins.sbt
Labels: kalix-runtime, Documentation

prefer global
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/project/plugins.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-fibonacci-action/project/plugins.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-first-service/project/plugins.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-reliable-timers/project/plugins.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-examples/project/plugins.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-tracing/project/plugins.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/project/plugins.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-transfer-workflow/project/plugins.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-validated/project/plugins.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-counter/project/plugins.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/project/plugins.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-view-store/project/plugins.sbt
  samples/scala-protobuf-web-resources/build.sbt
  samples/scala-protobuf-web-resources/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/project/plugins.sbt
Labels: kalix-runtime, scala-sdk-protobuf, Documentation

scripted test fix
  CONTRIBUTING.md
Labels: kalix-runtime

Update samples/scala-protobuf-validated/project/plugins.sbt
  samples/scala-protobuf-validated/project/plugins.sbt
Labels: kalix-runtime, Documentation

Update samples/scala-protobuf-valueentity-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-valueentity-shopping-cart/project/plugins.sbt
Labels: kalix-runtime, Documentation

Remove in favor of global settings
  maven-java/kalix-java-protobuf-parent/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

remove resolver from all places except the global actions
  maven-java/pom.xml
  project/Common.scala
Labels: kalix-runtime, java-sdk-protobuf

Add sbt-test resolvers
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

add shell type
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

pathing
  .github/setup/global_resolver/action.yml
Labels: kalix-runtime

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

kalix-runtime:
  - '**/*'

java-sdk-protobuf:
  - sdk/java-sdk-protobuf/**/*
  - sdk/java-sdk-protobuf-testkit/**/*
  - maven-java/**/*
  - codegen/java-gen/**/*

scala-sdk-protobuf:
  - sdk/scala-sdk-protobuf/**/*
  - sdk/scala-sdk-protobuf-testkit/**/*
  - sbt-plugin/**/*
  - codegen/scala-gen/**/*

Documentation:
  - docs/**/*
  - samples/**/*
