Repository lightbend/kalix-jvm-sdk, pull requests merged in 2021-11, with the labels that each got.

#676 docs: Embed Java video in project template page
  docs/src/modules/java/pages/quickstart-template.adoc
Labels: Documentation, as-framework

#680 feat: upgrade framework version to 0.8.0
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
Labels: as-framework, java-sdk

#685 chore: Don't pretty print json logging in sample
  samples/java-customer-registry-quickstart/src/main/resources/logback.xml
  samples/java-customer-registry-views-quickstart/src/main/resources/logback.xml
  samples/java-eventsourced-counter/src/main/resources/logback.xml
  samples/java-eventsourced-customer-registry/src/main/resources/logback.xml
  samples/java-eventsourced-shopping-cart/src/main/resources/logback.xml
  samples/java-fibonacci-action/src/main/resources/logback.xml
  samples/java-valueentity-counter/src/main/resources/logback.xml
  samples/java-valueentity-customer-registry/src/main/resources/logback.xml
  samples/scala-customer-registry-quickstart/src/main/resources/logback.xml
  samples/scala-eventsourced-shopping-cart/src/main/resources/logback.xml
  samples/scala-replicatedentity-examples/src/main/resources/logback.xml
  samples/scala-replicatedentity-shopping-cart/src/main/resources/logback.xml
  samples/scala-valueentity-counter/src/main/resources/logback.xml
  samples/scala-valueentity-customer-registry/src/main/resources/logback.xml
Labels: as-framework

#689 feat(scalasdk): access to components for Scala entities
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/TestData.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/EventSourcedEntitySourceGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/SourceGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/ValueEntitySourceGenerator.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/EventSourcedEntitySourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ValueEntitySourceGeneratorSuite.scala
Labels: as-framework, scala-sdk

#687 chore: Fix scala eventsourced customer registry docker build
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
Labels: as-framework

#684 feat: Scala TCK value entity implementation
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/valueentity/ValueEntity.scala
  tck/scala-tck/src/main/scala/akkaserverless/tck/model/TckService.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/valueentity/ValueEntityConfiguredEntity.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/valueentity/ValueEntityTckModelEntity.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/valueentity/ValueEntityTwoEntity.scala
  tck/scala-tck/src/test/java/com/akkaserverless/javasdk/tck/RunTck.java
Labels: as-framework

#694 feat: Update proxy/framework version to 0.8.1
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#697 fix(samples): add logback config to scala-eventsourced-counter.
  samples/scala-eventsourced-counter/src/main/resources/logback.xml
Labels: as-framework

#688 feat: Scala TCK for event-sourced entities
  tck/scala-tck/src/main/scala/akkaserverless/tck/model/TckService.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/eventsourcedentity/EventSourcedConfiguredEntity.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/eventsourcedentity/EventSourcedTckModelEntity.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/eventsourcedentity/EventSourcedTwoEntity.scala
  tck/scala-tck/src/test/java/com/akkaserverless/javasdk/tck/RunTck.java
Labels: as-framework

#698 chore: add 'prod proxy version check' as release prerequisite
  docs/release-issue-template.md
Labels: Documentation, as-framework

#700 fix(sample): log msg.
  samples/scala-eventsourced-counter/src/main/scala/com/example/actions/CounterTopicSubscriptionAction.scala
Labels: as-framework

#701 fix: Include service descriptor file in scala images
  sbt-plugin/src/main/scala/com/akkaserverless/sbt/AkkaserverlessPlugin.scala
Labels: as-framework, scala-sdk

#703 docs: Update Scala SDK support tier
  docs/src/modules/java/pages/index.adoc
Labels: bug, Documentation, as-framework, DX, scala-sdk

#707 chore: fix warning in build
  project/ReflectiveCodeGen.scala
Labels: as-framework

#708 fix: make sure user-function.desc has actually been copied for Scala SDK projects
  project/ReflectiveCodeGen.scala
  sbt-plugin/src/main/scala/com/akkaserverless/sbt/AkkaserverlessPlugin.scala
  sbt-plugin/src/sbt-test/sbt-akkaserverless/compile-only/test
Labels: as-framework, scala-sdk

#710 chore: update proxy to 0.8.2.
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#705 Update samples 0.10.0
  .circleci/config.yml
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/pom.xml
  maven-java/akkaserverless-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: as-framework, java-sdk

#712 Add a 's' to Controller
  docs/src/modules/java/pages/actions-as-controller.adoc
Labels: Documentation, as-framework

#693 feat: convinient way to run only unit tests
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/quickstart-template.adoc
  docs/src/modules/java/pages/value-entity.adoc
  sbt-plugin/src/main/scala/com/akkaserverless/sbt/AkkaserverlessPlugin.scala
Labels: Documentation, as-framework, scala-sdk

#713 Add Scala text to README doc hyperlink
  README.md
Labels: as-framework

#706 fix protobuf descriptor introspection tests
  codegen/core/src/test/resources/test-files/descriptor-sets/event-sourced-shoppingcart.desc
  codegen/core/src/test/resources/test-files/descriptor-sets/generate-from-samples.sh
  codegen/core/src/test/resources/test-files/descriptor-sets/replicated-shoppingcart.desc
  codegen/core/src/test/resources/test-files/descriptor-sets/value-shoppingcart.desc
  codegen/core/src/test/resources/test-files/descriptor-sets/view-shoppingcart.desc
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ModelBuilderSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ClassNameSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/FullyQualifiedNameExtractorSuite.scala
  samples/java-eventsourced-shopping-cart/src/it/java/com/example/shoppingcart/domain/ShoppingCartIntegrationTest.java
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/Main.java
  samples/java-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/domain/shoppingcart_domain.proto
  samples/java-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/view/shopping_cart_view_model.proto
Labels: as-framework, scala-sdk

#721 fix: avoiding match error
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
Labels: as-framework

#725 Only apply CustomerCreated once, on an empty state
  samples/scala-eventsourced-customer-registry/src/main/scala/customer/view/CustomerByNameView.scala
Labels: as-framework

#728 chore: move event-sourced entity codegen into its own file for consistency
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/EntityServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/EventSourcedEntitySourceGenerator.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/EventSourcedEntitySourceGeneratorSuite.scala
Labels: as-framework, java-sdk

#733 chore: update maven plugin and all samples to 0.10.1
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/pom.xml
  maven-java/akkaserverless-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: as-framework, java-sdk

#730 fix: configurable root package
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/SourceGeneratorUtils.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/SourceGeneratorUtilsSuite.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessUnmanagedGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessUnmanagedTestGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/SourceGenerator.scala
  sbt-plugin/src/main/scala/com/akkaserverless/sbt/AkkaserverlessPlugin.scala
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/README.md
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/build.sbt
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/src/main/protobuf/com/example/action_a.proto
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/src/main/protobuf/org/other/action_b.proto
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/test
Labels: as-framework, scala-sdk
