Repository lightbend/kalix-jvm-sdk, pull requests merged in 2021-12, with the labels that each got.

#738 chore: remove unused sbt settings
  build.sbt
Labels: as-framework

#740 feat: JWT claim metadata
  sdk/java-sdk/src/main/java/com/akkaserverless/javasdk/JwtClaims.java
  sdk/java-sdk/src/main/java/com/akkaserverless/javasdk/Metadata.java
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk/src/test/scala/com/akkaserverless/javasdk/impl/MetadataImplSpec.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/JwtClaims.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/Metadata.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/impl/MetadataImpl.scala
Labels: as-framework

#743 chore: update akkaserverless-framework to 0.8.3
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#744 chore: add framework protocol to BuildInfo
  build.sbt
  sbt-plugin/src/main/scala/com/akkaserverless/sbt/AkkaserverlessPlugin.scala
Labels: as-framework, scala-sdk

#747 chore: Update latest tag when publishing to docker in Scala samples
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-first-service/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
Labels: as-framework

#754 bump: sbt 1.5.6, plugins, deprecations
  project/Common.scala
  project/build.properties
  project/plugins.sbt
  sbt-plugin/src/main/scala/com/akkaserverless/sbt/AkkaserverlessPlugin.scala
Labels: as-framework, scala-sdk

#753 chore: add round-trip tests for code-generation (Java)
  build.sbt
  codegen/java-gen/src/test/resources/tests/README.md
  codegen/java-gen/src/test/resources/tests/action-service/generated-managed/com/example/service/AbstractMyServiceAction.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-managed/com/example/service/MyServiceActionProvider.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-managed/com/example/service/MyServiceActionRouter.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-managed/org/example/AkkaServerlessFactory.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-test-managed/com/example/service/MyServiceActionTestKit.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-test-unmanaged/com/example/service/MyServiceActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-unmanaged/com/example/service/MyServiceAction.java
  codegen/java-gen/src/test/resources/tests/action-service/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/action-service/proto/example-action.proto
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ExampleSuite.scala
  project/Common.scala
Labels: as-framework, java-sdk

#752 fix: deserializing EventSourced entity events
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/EventSourcedEntitySourceGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/EventSourcedEntitySourceGenerator.scala
Labels: bug, as-framework, java-sdk, scala-sdk

#760 chore(release): link to check what proxy is on prod
  docs/release-issue-template.md
Labels: Documentation, as-framework

#757 chore(docs): better automated commit message
  docs/bin/deploy.sh
Labels: Documentation, as-framework

#767 chore: upgrate proxy container to 0.8.5
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#763 chore(release): 0.10.2 post-release tasks
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/pom.xml
  maven-java/akkaserverless-maven-plugin/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: as-framework, java-sdk

#770 fix: remove board step from release template
  docs/release-issue-template.md
Labels: Documentation, as-framework

#756 chore: move quickstart pages
  docs/Makefile
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
  samples/java-customer-registry-quickstart/src/main/proto/customer/api/customer_api.proto
  samples/java-customer-registry-quickstart/src/main/proto/customer/domain/customer_domain.proto
  samples/java-customer-registry-views-quickstart/src/main/proto/customer/api/customer_api.proto
  samples/java-customer-registry-views-quickstart/src/main/proto/customer/domain/customer_domain.proto
  samples/java-customer-registry-views-quickstart/src/main/proto/customer/view/customer_view.proto
  samples/java-shopping-cart-quickstart/src/main/proto/shopping/cart/api/shopping_cart_api.proto
  samples/java-shopping-cart-quickstart/src/main/proto/shopping/cart/domain/shopping_cart_domain.proto
  samples/scala-customer-registry-quickstart/src/main/proto/customer/api/customer_api.proto
  samples/scala-customer-registry-quickstart/src/main/proto/customer/domain/customer_domain.proto
  samples/scala-customer-registry-quickstart/src/main/proto/customer/view/customer_view.proto
Labels: Documentation, as-framework

#772 fix: Failing integration test #766
  samples/java-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByEmailIntegrationTest.java
Labels: as-framework

#774 chore: ExampleSuite tests for views (new codegen)
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/ModelBuilder.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ModelBuilderSuite.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/TestData.scala
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/AkkaServerlessFactory.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/AbstractMyUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/MyUserByNameViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/MyUserByNameViewRouter.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-unmanaged/org/example/named/view/MyUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/proto/example-named-views.proto
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/AkkaServerlessFactory.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/AbstractUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/UserByNameViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/UserByNameViewRouter.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-unmanaged/org/example/unnamed/view/UserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/proto/example-unnamed-views.proto
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/AkkaServerlessFactory.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/AbstractUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/UserByNameViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/UserByNameViewRouter.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-unmanaged/org/example/view/UserByNameViewImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/proto/example-views.proto
Labels: as-framework, java-sdk
