Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-02, with the labels that each got.

#828 Emphasise the cli in the value entity scala docs
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
Labels: Documentation, as-framework

#829 chore: remove unused/deprecated failure restart
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/effect/SecondaryEffectImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk/src/test/scala/com/akkaserverless/testkit/entity/EntityMessages.scala
  sdk/java-sdk/src/test/scala/com/akkaserverless/testkit/eventsourcedentity/EventSourcedMessages.scala
Labels: as-framework

#833 feat(sbt-plugin): announce support for proto3 optional fields
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AbstractAkkaserverlessGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessTestGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessUnmanagedGenerator.scala
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/AkkaserverlessUnmanagedTestGenerator.scala
Labels: as-framework, scala-sdk

#836 docs: update deploy and invoke service sections in quickstarts
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
Labels: Documentation, as-framework

#838 bump: Akka Serverless proxy 0.8.8
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#834 Adding kafka example
  .circleci/config.yml
  docs/Makefile
  docs/src/modules/java/pages/quickstart/cr-value-entity-kafka-java.adoc
  samples/java-customer-registry-kafka-quickstart/.bundleignore
  samples/java-customer-registry-kafka-quickstart/README.md
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/my-dev.kafka.properties
  samples/java-customer-registry-kafka-quickstart/kafka/my-local.kafka.properties
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-customer-registry-kafka-quickstart/src/it/resources/logback-test.xml
  samples/java-customer-registry-kafka-quickstart/src/main/java/customer/Main.java
  samples/java-customer-registry-kafka-quickstart/src/main/java/customer/action/CustomerStateSubscriptionAction.java
  samples/java-customer-registry-kafka-quickstart/src/main/java/customer/domain/Customer.java
  samples/java-customer-registry-kafka-quickstart/src/main/proto/customer/action/customer_action.proto
  samples/java-customer-registry-kafka-quickstart/src/main/proto/customer/api/customer_api.proto
  samples/java-customer-registry-kafka-quickstart/src/main/proto/customer/domain/customer_domain.proto
  samples/java-customer-registry-kafka-quickstart/src/main/resources/application.conf
  samples/java-customer-registry-kafka-quickstart/src/main/resources/logback.xml
  samples/java-customer-registry-kafka-quickstart/src/test/java/customer/action/CustomerStateSubscriptionActionTest.java
  samples/java-customer-registry-kafka-quickstart/src/test/java/customer/domain/CustomerTest.java
Labels: Documentation, as-framework

#840 bump: Akka HTTP 10.2.8, Akka 2.6.18
  project/Dependencies.scala
Labels: as-framework

#842 Update sdk version to 0.10.6
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/pom.xml
  maven-java/akkaserverless-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: as-framework, java-sdk
