Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-08, with the labels that each got.

#1060 use different kafka-image
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
Labels: kalix-proxy

#1061 chore: bump Kalix Proxy version to 1.0.15
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk

#1055 chore: avoiding calling through the mesh to the proxy
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
Labels: kalix-proxy, java-sdk

#1063 chore: bump samples SDK to 1.0.5
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: kalix-proxy, java-sdk

#1067 #2 try to fix the kafka sample
  samples/java-customer-registry-kafka-quickstart/README.md
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/my-local.kafka.properties
Labels: kalix-proxy

#1069 chore: bump proxy version to 1.0.16
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk

#1073 Example on how to call exposed service
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
Labels: Documentation, kalix-proxy

#1071 chore: report unique name for java vs scala sdk
  build.sbt
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Kalix.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/KalixRunner.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1075 fix: creates latest-version.txt for scala sdk
  docs/Makefile
Labels: Documentation, kalix-proxy

#1080 chore: merge main into spring sdk
  build.sbt
  docs/Makefile
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/README.md
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/my-local.kafka.properties
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Kalix.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/KalixRunner.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk

#1082 chore: report spring sdk info
  build.sbt
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
Labels: kalix-proxy, spring-sdk

#1083 chore: fix typo in readme files
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  samples/java-eventsourced-counter/README.md
  samples/java-first-service/README.md
  samples/scala-first-service/README.md
  samples/scala-replicatedentity-shopping-cart/README.md
  samples/scala-valueentity-shopping-cart/README.md
Labels: kalix-proxy, java-sdk

#1081 fix: Ensure streaming calls from proxy are parallel
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
Labels: kalix-proxy, java-sdk
