Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-03, with the labels that each got.

#846 chore: update to Akka HTTP 10.2.9
  project/Dependencies.scala
Labels: as-framework

#839 Added New Spring Client for Java Value Entity Counter.
  .circleci/config.yml
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/spring-client.adoc
  samples/java-valueentity-counter-spring-client/README.md
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/CounterClientApplication.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/GrpcClientConfig.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/WebClientConfig.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/controller/CounterController.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/CounterRequest.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/ValueRequest.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterService.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterServiceImpl.java
  samples/java-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/GrpcClientService.java
  samples/java-valueentity-counter-spring-client/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/java-valueentity-counter-spring-client/src/main/proto/com/example/actions/double-counter.proto
  samples/java-valueentity-counter-spring-client/src/main/proto/com/example/counter_api.proto
  samples/java-valueentity-counter-spring-client/src/main/proto/com/example/domain/counter_domain.proto
  samples/java-valueentity-counter-spring-client/src/main/resources/application.properties
  samples/java-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerIntegrationTest.java
  samples/java-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerTest.java
  samples/java-valueentity-counter-spring-client/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Documentation, as-framework

#847 feat: custom failure status code support
  sdk/java-sdk-testkit/src/main/java/com/akkaserverless/javasdk/testkit/ActionResult.java
  sdk/java-sdk-testkit/src/main/java/com/akkaserverless/javasdk/testkit/EventSourcedResult.java
  sdk/java-sdk-testkit/src/main/java/com/akkaserverless/javasdk/testkit/ValueEntityResult.java
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/java-sdk/src/main/java/com/akkaserverless/javasdk/action/Action.java
  sdk/java-sdk/src/main/java/com/akkaserverless/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/com/akkaserverless/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk/src/main/java/com/akkaserverless/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/effect/SecondaryEffectImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/ActionResult.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/EventSourcedResult.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/ValueEntityResult.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/ActionResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/impl/action/ActionEffectImpl.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/replicatedentity/ReplicatedEntity.scala
  sdk/scala-sdk/src/main/scala/com/akkaserverless/scalasdk/valueentity/ValueEntity.scala
Labels: as-framework

#848 bump: Akka Serverless proxy 0.8.10
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#850 bump: Akka 2.6.19
  project/Dependencies.scala
Labels: as-framework

#849 fix(local-proxy): avoid telemetry from our CI
  .circleci/config.yml
  sdk/java-sdk-testkit/src/main/java/com/akkaserverless/javasdk/testkit/AkkaServerlessProxyContainer.java
Labels: as-framework

#853 chore: ensure all samples have a 'logback.xml' file
  samples/java-shopping-cart-quickstart/src/main/resources/logback.xml
  samples/java-valueentity-counter-spring-client/src/main/resources/logback.xml
  samples/scala-doc-snippets/src/main/resources/logback.xml
  samples/scala-fibonacci-action/src/main/resources/logback.xml
  samples/scala-first-service/src/main/resources/logback.xml
  samples/scala-valueentity-shopping-cart/src/main/resources/logback.xml
Labels: as-framework

#862 rename: remaining identifier and other bits in sbt-kalix
  docs/src/modules/java/pages/index.adoc
  project/ReflectiveCodeGen.scala
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-first-service/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/build.sbt
Labels: Documentation, as-framework, scala-sdk

#866 Workaround sample view
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/Main.java
  samples/java-valueentity-customer-registry/src/main/java/customer/Main.java
  samples/scala-valueentity-customer-registry/src/main/scala/customer/Main.scala
Labels: as-framework

#869 rename: update to proxy 0.10.0-M3 with artifacts published to kalix-public
  build.sbt
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Common.scala
  project/Dependencies.scala
  project/DockerImage.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/RELEASING.md
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/RELEASING.md
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/RELEASING.md
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  tck/java-tck/src/test/java/kalix/javasdk/tck/RunTck.java
  tck/scala-tck/src/test/java/kalix/javasdk/tck/RunTck.java
Labels: as-framework, java-sdk, rename

#871 rename: settings for Kalix
  project/DockerImage.scala
  samples/java-eventsourced-shopping-cart/src/main/resources/application.conf
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-eventsourced-shopping-cart/src/main/resources/application.conf
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk/src/main/resources/reference.conf
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/eventsourcedentity/TestEventSourced.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/replicatedentity/TestReplicatedEntity.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/valueentity/TestValueEntity.scala
Labels: as-framework

#872 rename: fix scaladoc/javadoc occurrences
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/EventSourcedEntitySourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ReplicatedEntitySourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ValueEntitySourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/generated-managed/org/example/service/MyServiceNamedActionProvider.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-new-style/generated-managed/org/example/service/MyServiceActionProvider.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-old-style/generated-managed/org/example/service/MyServiceActionProvider.java
  codegen/java-gen/src/test/resources/tests/action-service/with-action-in-name/generated-managed/org/example/service/MyServiceActionProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-managed/org/example/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-managed/org/example/eventsourcedentity/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/eventsourcedentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-managed/org/example/eventsourcedentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-managed/org/example/eventsourcedentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-managed/org/example/eventsourcedentity/CounterServiceEntityProvider.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-absolute-packages/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-domain-in-service-package/generated-managed/com/example/replicated/multimap/SomeMultiMapProvider.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-key-value-in-different-pacakge/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-named-new-style/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-scalar-named-new-style/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-unnamed-new-style/generated-managed/com/example/replicated/multimap/MultiMapServiceEntityProvider.java
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-managed/org/example/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-managed/org/example/valueentity/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-managed/org/example/valueentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-managed/org/example/valueentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-managed/org/example/valueentity/CounterServiceEntityProvider.java
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ReplicatedEntitySourceGenerator.scala
  codegen/scala-gen/src/test/resources/tests/replicated-entity/multimap-absolute-packages/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.scala
  codegen/scala-gen/src/test/resources/tests/replicated-entity/multimap-domain-in-service-package/generated-managed/com/example/replicated/multimap/SomeMultiMapProvider.scala
  codegen/scala-gen/src/test/resources/tests/replicated-entity/multimap-key-value-in-different-pacakge/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.scala
  codegen/scala-gen/src/test/resources/tests/replicated-entity/multimap-named-new-style/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.scala
  codegen/scala-gen/src/test/resources/tests/replicated-entity/multimap-scalar-named-new-style/generated-managed/com/example/replicated/multimap/domain/SomeMultiMapProvider.scala
  codegen/scala-gen/src/test/resources/tests/replicated-entity/multimap-unnamed-new-style/generated-managed/com/example/replicated/multimap/MultiMapServiceEntityProvider.scala
  samples/java-eventsourced-shopping-cart/README.md
  samples/java-replicatedentity-shopping-cart/README.md
  samples/java-valueentity-shopping-cart/README.md
  samples/scala-customer-registry-quickstart/README.md
  samples/scala-eventsourced-counter/README.md
  samples/scala-eventsourced-customer-registry/README.md
  samples/scala-eventsourced-shopping-cart/README.md
  samples/scala-fibonacci-action/README.md
  samples/scala-replicatedentity-shopping-cart/README.md
  samples/scala-valueentity-counter/README.md
  samples/scala-valueentity-customer-registry/README.md
  samples/scala-valueentity-shopping-cart/README.md
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/junit/jupiter/KalixDescriptor.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/junit/jupiter/KalixTestKitExtension.java
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/java/kalix/javasdk/impl/package-info.java
  sdk/java-sdk/src/main/resources/reference.conf
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Kalix.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/KalixRunner.scala
  tck/java-tck/src/main/java/com/example/Main.java
  tck/scala-tck/src/main/scala/kalix/tck/model/TckService.scala
Labels: as-framework, java-sdk, scala-sdk

#876 rename: bump: framework 0.10.0-M4
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
Labels: as-framework, java-sdk, scala-sdk

#867 rename: use Kalix in docs
  docs/Makefile
  docs/bin/bundle.sh
  docs/bin/deploy.sh
  docs/dev/antora.yml
  docs/release-issue-template.md
  docs/src/modules/developing/pages/development-process-java.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/call-another-service.adoc
  docs/src/modules/java/pages/developer-tools.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/failures-and-errors.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/quickstart-template.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java/pages/replicated-entity-crdt.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/side-effects.adoc
  docs/src/modules/java/pages/spring-client.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/writing-grpc-descriptors-protobuf.adoc
  docs/src/modules/java/partials/eventsourced.adoc
  docs/src/modules/java/partials/pubsub-note.adoc
Labels: Documentation, as-framework, rename

#882 rename: allow a different GCR key for Kalix artifacts
  bin/docker-login-public-gcr.sh
Labels: as-framework

#880 bump: jackson-databind 2.12.6.1
  project/Dependencies.scala
Labels: as-framework

#884 rename: rename proxy settings
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, rename

#885 rename: more changes in comments and texts
  docs/src/modules/java/pages/actions.adoc
  sdk/java-sdk/src/main/java/overview.html
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/KalixRunner.scala
Labels: Documentation, as-framework, rename

#886 rename: update antora docbuilder image
  docs/Makefile
Labels: Documentation, as-framework, rename

#883 rename: more build changes using kalix in the name
  build.sbt
  project/Common.scala
  project/Dependencies.scala
  project/ProtocolProject.scala
  project/ReflectiveCodeGen.scala
  samples/java-fibonacci-action/src/test/java/com/example/fibonacci/FibonacciActionTest.java
  samples/scala-fibonacci-action/src/test/scala/com/example/fibonacci/FibonacciActionSpec.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DocLinks.scala
Labels: as-framework, rename

#881 rename: markdown files
  CONTRIBUTING.md
  README.md
  codegen/java-gen/src/test/resources/tests/README.md
  codegen/scala-gen/src/test/resources/tests/README.md
  maven-java/kalix-maven-archetype-event-sourced-entity/README.md
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-plugin/README.md
  samples/java-customer-registry-kafka-quickstart/README.md
  samples/java-customer-registry-quickstart/README.md
  samples/java-customer-registry-views-quickstart/README.md
  samples/java-eventsourced-counter/README.md
  samples/java-eventsourced-shopping-cart/README.md
  samples/java-fibonacci-action/README.md
  samples/java-first-service/README.md
  samples/java-replicatedentity-shopping-cart/README.md
  samples/java-shopping-cart-quickstart/README.md
  samples/java-valueentity-counter/README.md
  samples/java-valueentity-shopping-cart/README.md
  samples/scala-customer-registry-quickstart/README.md
  samples/scala-eventsourced-counter/README.md
  samples/scala-eventsourced-customer-registry/README.md
  samples/scala-eventsourced-shopping-cart/README.md
  samples/scala-fibonacci-action/README.md
  samples/scala-first-service/README.md
  samples/scala-replicatedentity-shopping-cart/README.md
  samples/scala-valueentity-counter/README.md
  samples/scala-valueentity-customer-registry/README.md
  samples/scala-valueentity-shopping-cart/README.md
Labels: as-framework, java-sdk, scala-sdk, rename

#887 chore: remove go_package
  tck/java-tck/src/main/proto/akkaserverless/tck/model/action/action.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventing/local_persistence_eventing.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_configured.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_entity_api.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_tck_model.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_two.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/replicatedentity/replicated_entity.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_api.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_configured.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_tck_model.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_two.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/view/view.proto
Labels: as-framework
