Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-01, with the labels that each got.

#782 chore: upgrade Akka gRPC to 2.1.2
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  sbt-plugin/src/sbt-test/sbt-akkaserverless/compile-only/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-akkaserverless/eventsourcedentity/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-akkaserverless/no-common-pkg-root/project/plugins.sbt
Labels: as-framework, java-sdk, scala-sdk

#783 feat: placeholder configuration for JWT dev secrets
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
Labels: as-framework, java-sdk

#785 chore: move closing ']]#'
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
Labels: as-framework, java-sdk

#784 feat: Support side effects and forward assertion in testkits
  project/Dependencies.scala
  sdk/java-sdk-testkit/src/main/java/com/akkaserverless/javasdk/testkit/ValueEntityResult.java
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/java-sdk-testkit/src/test/scala/com/akkaserverless/javasdk/testkit/impl/ActionResultSpec.scala
  sdk/java-sdk-testkit/src/test/scala/com/akkaserverless/javasdk/testkit/impl/EventSourcedResultSpec.scala
  sdk/java-sdk-testkit/src/test/scala/com/akkaserverless/javasdk/testkit/impl/ValueEntityResultSpec.scala
  sdk/java-sdk/src/main/scala/com/akkaserverless/javasdk/impl/action/ActionEffectImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/EventSourcedResult.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/ValueEntityResult.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/ActionResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/EffectUtils.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/scala-sdk-testkit/src/test/scala/com/akkaserverless/scalasdk/testkit/impl/ActionResultSpec.scala
  sdk/scala-sdk-testkit/src/test/scala/com/akkaserverless/scalasdk/testkit/impl/EventSourcedResultSpec.scala
  sdk/scala-sdk-testkit/src/test/scala/com/akkaserverless/scalasdk/testkit/impl/ValueEntityResultSpec.scala
Labels: as-framework

#786 chore: reduce test duplication
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/ModelBuilder.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ModelBuilderSuite.scala
Labels: as-framework

#787 chore: wrap whole docker-compose with Velocity escaping
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
Labels: as-framework, java-sdk

#790 chore: remove obsolete instructions about forking java sdk
  codegen/core/src/test/resources/test-files/codegen-annotation/generate-from-samples.sh
  codegen/core/src/test/resources/test-files/service-annotation/generate-from-samples.sh
Labels: as-framework

#794 chore: fix link to quickstart page
  docs/src/modules/java/pages/index.adoc
Labels: Documentation, as-framework

#792 chore: use java packages to decide package for Main class
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/SourceGenerator.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/Main.scala
  tck/scala-tck/src/main/scala/com/akkaserverless/tck/model/TckService.scala
  tck/scala-tck/src/test/java/com/akkaserverless/javasdk/tck/RunTck.java
Labels: as-framework, scala-sdk

#788 chore: update proxy version to 0.8.6
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#791 chore: use new annotation in tck tests
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/ModelBuilder.scala
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/Packaging.scala
  codegen/core/src/test/resources/test-files/codegen-annotation/generate-from-samples.sh
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/event-sourced-shoppingcart-with-java-pkg.desc
  codegen/core/src/test/resources/test-files/service-annotation/generate-from-samples.sh
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity-with-java-pkg/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity-with-java-pkg/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity-with-java-pkg/com/example/shoppingcart/view/shopping_cart_view_model.proto
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ModelBuilderSuite.scala
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/AkkaServerlessFactory.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/eventsourcedentity/domain/AbstractCounter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/eventsourcedentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-managed/org/example/eventsourcedentity/domain/CounterRouter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-test-managed/org/example/eventsourcedentity/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-unmanaged/org/example/eventsourcedentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/proto/counter_api.proto
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/proto/counter_domain.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/action/action.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_configured.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_tck_model.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/eventsourcedentity/event_sourced_two.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_configured.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_tck_model.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/valueentity/value_entity_two.proto
  tck/java-tck/src/main/proto/akkaserverless/tck/model/view/view.proto
Labels: as-framework, java-sdk

#797 chore: update SDK version in samples and maven templates
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/pom.xml
  maven-java/akkaserverless-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
Labels: as-framework, java-sdk

#799 chore: dynamic project for ExampleSuite compilation
  .circleci/config.yml
  bin/compile-example-suite-java.sh
  build.sbt
  project/ExampleSuiteCompilationProject.scala
Labels: as-framework

#804 chore: disable java formatter in ExampleSuite compilation
  build.sbt
Labels: as-framework

#806 chore: unrealistic view descriptor in TCK causing validation problems
  tck/java-tck/src/main/proto/akkaserverless/tck/model/view/view.proto
Labels: as-framework

#809 chore: bump Akka gRPC to 2.1.3
  project/Dependencies.scala
  project/plugins.sbt
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  sbt-plugin/src/sbt-test/sbt-akkaserverless/compile-only/project/plugins.sbt
Labels: as-framework, scala-sdk

#810 chore: fix Fibonacci curl call in README
  samples/java-fibonacci-action/README.md
Labels: as-framework

#805 chore: removes redundant introspection tests
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/action-shoppingcart-named.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/action-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/event-sourced-shoppingcart-unnamed.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/event-sourced-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/replicated-shoppingcart-unnamed.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/replicated-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/value-shoppingcart-unnamed.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/value-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/view-shoppingcart-named.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/descriptor-sets/view-shoppingcart.desc
  codegen/core/src/test/resources/test-files/codegen-annotation/generate-from-samples.sh
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/action-named/com/example/shoppingcart/shoppingcart_controller_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/action/com/example/shoppingcart/shoppingcart_controller_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/event-sourced-entity-unnamed/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/event-sourced-entity-unnamed/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/event-sourced-entity/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/event-sourced-entity/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/replicated-entity-unnamed/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/replicated-entity-unnamed/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/replicated-entity/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/replicated-entity/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/value-entity-unnamed/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/value-entity-unnamed/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/value-entity/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/value-entity/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/view-named/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/view-named/com/example/shoppingcart/view/shopping_cart_view_model.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/view/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/codegen-annotation/protos/view/com/example/shoppingcart/view/shopping_cart_view_model.proto
  codegen/core/src/test/resources/test-files/hello-1.0-SNAPSHOT.protobin
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/action-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/event-sourced-shoppingcart-with-java-pkg.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/event-sourced-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/replicated-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/value-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/descriptor-sets/view-shoppingcart.desc
  codegen/core/src/test/resources/test-files/service-annotation/generate-from-samples.sh
  codegen/core/src/test/resources/test-files/service-annotation/protos/action/com/example/shoppingcart/shoppingcart_controller_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity-with-java-pkg/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity-with-java-pkg/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity-with-java-pkg/com/example/shoppingcart/view/shopping_cart_view_model.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/event-sourced-entity/com/example/shoppingcart/view/shopping_cart_view_model.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/replicated-entity/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/replicated-entity/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/shoppingcart/shoppingcart_controller_api.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/value-entity/com/example/shoppingcart/domain/shoppingcart_domain.proto
  codegen/core/src/test/resources/test-files/service-annotation/protos/value-entity/com/example/shoppingcart/shoppingcart_api.proto
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/DescriptorSetSuite.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ModelBuilderSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ClassNameSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/FullyQualifiedNameExtractorSuite.scala
Labels: as-framework, scala-sdk

#811 chore: bump proxy to 0.8.7
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: as-framework, java-sdk

#808 chore: trigger ExampleSuite regeneration via -D property
  build.sbt
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/File.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ExampleSuiteBase.scala
  codegen/java-gen/src/test/resources/tests/README.md
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ExampleSuite.scala
  codegen/scala-gen/src/test/resources/tests/README.md
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ExampleSuite.scala
Labels: as-framework, java-sdk, scala-sdk

#807 chore: abstract away ExampleSuite compilation project
  build.sbt
  project/ExampleSuiteCompilationProject.scala
Labels: as-framework

#771 docs: Paging with OFFSET and LIMIT
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, as-framework

#817 chore: removes obsolte generation suites
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/TestData.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ActionServiceSourceGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ActionTestKitGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/EventSourcedEntitySourceGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/EventSourcedEntityTestKitGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/MainSourceGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ReplicatedEntitySourceGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/SourceGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ValueEntitySourceGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ValueEntityTestKitGeneratorSuite.scala
  codegen/java-gen/src/test/scala/com/lightbend/akkasls/codegen/java/ViewServiceSourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ActionServiceSourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ActionTestKitGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/EventSourcedEntitySourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/EventSourcedEntityTestKitGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/MainSourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ReplicatedEntitySourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ValueEntitySourceGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ValueEntityTestKitGeneratorSuite.scala
  codegen/scala-gen/src/test/scala/com/akkaserverless/codegen/scalasdk/ViewServiceSourceGeneratorSuite.scala
Labels: as-framework, java-sdk, scala-sdk

#816 chore: bump samples to SDK 0.10.5
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/pom.xml
  maven-java/akkaserverless-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: as-framework, java-sdk

#819 Update instructions for samples
  samples/java-eventsourced-customer-registry/README.md
  samples/java-first-service/README.md
  samples/java-valueentity-customer-registry/README.md
Labels: as-framework

#822 bump protoc in samples to e.g. get support for optionals
  maven-java/akkaserverless-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/akkaserverless-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
Labels: as-framework, java-sdk

#825 docs: generated entity keys
  docs/src/modules/java/pages/writing-grpc-descriptors-protobuf.adoc
Labels: Documentation, as-framework

#820 chore: missing value-entities and views. Rest entities/services passing tests
  codegen/core/src/main/scala/com/lightbend/akkasls/codegen/SourceGeneratorUtils.scala
  codegen/core/src/test/scala/com/lightbend/akkasls/codegen/ExampleSuiteBase.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/ActionServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/EntityServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/EventSourcedEntitySourceGenerator.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/ReplicatedEntitySourceGenerator.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/ValueEntitySourceGenerator.scala
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/ViewServiceSourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/generated-unmanaged/org/example/service/MyServiceNamedAction.java
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/proto/com/example/different/example-action.proto
  codegen/java-gen/src/test/resources/tests/action-service/simple-new-style/generated-unmanaged/org/example/service/MyServiceAction.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-old-style/generated-unmanaged/org/example/service/MyServiceAction.java
  codegen/java-gen/src/test/resources/tests/action-service/with-action-in-name/generated-unmanaged/org/example/service/MyServiceActionImpl.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-unmanaged/org/example/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-unmanaged/org/example/eventsourcedentity/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-unmanaged/org/example/eventsourcedentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-unmanaged/org/example/eventsourcedentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-unmanaged/org/example/eventsourcedentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-unmanaged/org/example/eventsourcedentity/CounterServiceEntity.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-absolute-packages/generated-unmanaged/com/example/replicated/multimap/domain/SomeMultiMap.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-domain-in-service-package/generated-unmanaged/com/example/replicated/multimap/SomeMultiMap.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-key-value-in-different-pacakge/generated-unmanaged/com/example/replicated/multimap/domain/SomeMultiMap.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-named-new-style/generated-unmanaged/com/example/replicated/multimap/domain/SomeMultiMap.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-scalar-named-new-style/generated-unmanaged/com/example/replicated/multimap/domain/SomeMultiMap.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-unnamed-new-style/generated-unmanaged/com/example/replicated/multimap/MultiMapServiceEntity.java
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-unmanaged/org/example/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-unmanaged/org/example/valueentity/Counter.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-unmanaged/org/example/valueentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-unmanaged/org/example/valueentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-unmanaged/org/example/valueentity/CounterServiceEntity.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-unmanaged/org/example/named/view/MyUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-unmanaged/org/example/unnamed/view/UserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-unmanaged/org/example/view/UserByNameViewImpl.java
Labels: as-framework, java-sdk
