Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-04, with the labels that each got.

#891 rename: use 'type.kalix.io' for primitive types
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/AnySupportSpec.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/entity/EntityMessages.scala
Labels: as-framework, java-sdk

#893 rename: update sdk version in samples
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: Documentation, java-sdk, as-framework

#894 chore: rename label
  .github/labeler.yml
  RELEASING.md
Labels: as-framework

#896 rename: deploy to doc/kalix-current
  docs/Makefile
Labels: Documentation, kalix-proxy

#897 docs: new view features
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-proxy

#895 Adding Metadata and eventSubject to ActionTestKit
  codegen/java-gen/src/main/scala/com/lightbend/akkasls/codegen/java/ActionTestKitGenerator.scala
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/generated-test-managed/org/example/service/MyServiceNamedActionTestKit.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-new-style/generated-test-managed/org/example/service/MyServiceActionTestKit.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-old-style/generated-test-managed/org/example/service/MyServiceActionTestKit.java
  codegen/java-gen/src/test/resources/tests/action-service/with-action-in-name/generated-test-managed/org/example/service/MyServiceActionImplTestKit.java
  codegen/scala-gen/src/main/scala/com/akkaserverless/codegen/scalasdk/impl/ActionTestKitGenerator.scala
  codegen/scala-gen/src/test/resources/tests/action-service/named-new-style/generated-test-managed/org/example/service/MyServiceNamedActionTestKit.scala
  codegen/scala-gen/src/test/resources/tests/action-service/simple-new-style/generated-test-managed/org/example/service/MyServiceActionTestKit.scala
  codegen/scala-gen/src/test/resources/tests/action-service/simple-old-style/generated-test-managed/org/example/service/MyServiceActionTestKit.scala
  codegen/scala-gen/src/test/resources/tests/action-service/with-action-in-name/generated-test-managed/org/example/service/MyServiceActionImplTestKit.scala
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/java-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/java-eventsourced-counter/src/test/java/com/example/actions/CounterJournalToTopicActionTest.java
  samples/scala-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/scala-eventsourced-counter/src/main/scala/com/example/actions/CounterJournalToTopicAction.scala
  samples/scala-eventsourced-counter/src/test/scala/com/example/actions/CounterJournalToTopicActionSpec.scala
  sdk/java-sdk-testkit/src/main/scala/com/akkaserverless/javasdk/testkit/impl/TestKitActionContext.scala
  sdk/scala-sdk-testkit/src/main/scala/com/akkaserverless/scalasdk/testkit/impl/TestKitActionContext.scala
Labels: java-sdk, scala-sdk, as-framework

#899 fix(backoffice): include 'additional' proto's in reflection
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/Service.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk/src/test/resources/user-function.desc
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/action/ActionHandlerSpec.scala
Labels: kalix-proxy

#901 docs: Cover optional fields in views
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-proxy

#903 chore: Update archetype READMEs to CLI centered and fix links
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
Labels: kalix-proxy, java-sdk

#904 feat(java): Support for building Kalix images on Mac m1 #78
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
Labels: kalix-proxy, java-sdk

#907 chore(samples): manually pushed updated samples
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
Labels: kalix-proxy

#915 chore: fix error prefix and add JWT
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DocLinks.scala
Labels: kalix-proxy

#916 links and things in readmes for samples
  maven-java/kalix-maven-archetype-event-sourced-entity/README.md
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  samples/java-customer-registry-kafka-quickstart/README.md
  samples/java-customer-registry-quickstart/README.md
  samples/java-customer-registry-views-quickstart/README.md
  samples/java-eventsourced-counter/README.md
  samples/java-eventsourced-customer-registry/README.md
  samples/java-eventsourced-shopping-cart/README.md
  samples/java-fibonacci-action/README.md
  samples/java-first-service/README.md
  samples/java-replicatedentity-shopping-cart/README.md
  samples/java-shopping-cart-quickstart/README.md
  samples/java-valueentity-counter-spring-client/README.md
  samples/java-valueentity-counter/README.md
  samples/java-valueentity-customer-registry/README.md
  samples/java-valueentity-shopping-cart/README.md
  samples/scala-customer-registry-quickstart/README.md
  samples/scala-eventsourced-counter/README.md
  samples/scala-eventsourced-customer-registry/README.md
  samples/scala-eventsourced-shopping-cart/README.md
  samples/scala-fibonacci-action/README.md
  samples/scala-first-service/README.md
  samples/scala-replicatedentity-shopping-cart/README.md
  samples/scala-valueentity-counter/README.md
  samples/scala-valueentity-customer-registry/README.md
  samples/scala-valueentity-shopping-cart/README.md
Labels: kalix-proxy, java-sdk

#905 feat(scala): Support for building Kalix images on Mac m1 #78
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-first-service/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
Labels: kalix-proxy

#912 bump: kalix-proxy 1.0.0-M4
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk

#920 fix: remove obsolete Java project template video
  docs/src/modules/java/pages/quickstart-template.adoc
Labels: Documentation, kalix-proxy

#924 Codegen: Mark JUnit tests as ignored
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionTestKitGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/EventSourcedEntityTestKitGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ValueEntityTestKitGenerator.scala
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/generated-test-unmanaged/org/example/service/MyServiceNamedActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-new-style/generated-test-unmanaged/org/example/service/MyServiceActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-old-style/generated-test-unmanaged/org/example/service/MyServiceActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/with-action-in-name/generated-test-unmanaged/org/example/service/MyServiceActionImplTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-test-unmanaged/org/example/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-test-unmanaged/org/example/eventsourcedentity/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceEntityTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-unmanaged/org/example/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-unmanaged/org/example/valueentity/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-unmanaged/org/example/valueentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/valueentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-unmanaged/org/example/valueentity/CounterServiceEntityTest.java
Labels: kalix-proxy, java-sdk

#926 fix: better names in suggested Java test code
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionTestKitGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/EventSourcedEntityTestKitGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ValueEntityTestKitGenerator.scala
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/generated-test-unmanaged/org/example/service/MyServiceNamedActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-new-style/generated-test-unmanaged/org/example/service/MyServiceActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-old-style/generated-test-unmanaged/org/example/service/MyServiceActionTest.java
  codegen/java-gen/src/test/resources/tests/action-service/with-action-in-name/generated-test-unmanaged/org/example/service/MyServiceActionImplTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-test-unmanaged/org/example/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-test-unmanaged/org/example/eventsourcedentity/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceEntityTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-unmanaged/org/example/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-unmanaged/org/example/valueentity/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-unmanaged/org/example/valueentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/valueentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-unmanaged/org/example/valueentity/CounterServiceEntityTest.java
Labels: kalix-proxy, java-sdk, codegen

#923 chore: add some missing 'final' modifiers
  sdk/java-sdk/src/main/java/kalix/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/replicatedentity/ReplicatedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
Labels: kalix-proxy

#922 chore: more clear error message when accessing 'components'
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionServiceSourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/action-service/named-new-style/generated-managed/org/example/service/AbstractMyServiceNamedAction.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-new-style/generated-managed/org/example/service/AbstractMyServiceAction.java
  codegen/java-gen/src/test/resources/tests/action-service/simple-old-style/generated-managed/org/example/service/AbstractMyServiceAction.java
  codegen/java-gen/src/test/resources/tests/action-service/with-action-in-name/generated-managed/org/example/service/AbstractMyServiceAction.java
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionServiceSourceGenerator.scala
  codegen/scala-gen/src/test/resources/tests/action-service/named-new-style/generated-managed/org/example/service/AbstractMyServiceNamedAction.scala
  codegen/scala-gen/src/test/resources/tests/action-service/simple-new-style/generated-managed/org/example/service/AbstractMyServiceAction.scala
  codegen/scala-gen/src/test/resources/tests/action-service/simple-old-style/generated-managed/org/example/service/AbstractMyServiceAction.scala
  codegen/scala-gen/src/test/resources/tests/action-service/with-action-in-name/generated-managed/org/example/service/AbstractMyServiceAction.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#928 chore: more convenient Effect.error API
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/action/ActionEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/replicatedentity/ReplicatedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
Labels: kalix-proxy

#931 bump: kalix-proxy 1.0.1
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk

#909 fix: Remove view id length restriction
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/Main.java
  samples/java-valueentity-customer-registry/src/main/java/customer/Main.java
  samples/scala-valueentity-customer-registry/src/main/scala/customer/Main.scala
Labels: kalix-proxy

#933 Codegen: Mark ScalaTest tests as pending
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionTestKitGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/EventSourcedEntityTestKitGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ValueEntityTestKitGenerator.scala
  codegen/scala-gen/src/test/resources/tests/action-service/named-new-style/generated-test-unmanaged/org/example/service/MyServiceNamedActionSpec.scala
  codegen/scala-gen/src/test/resources/tests/action-service/simple-new-style/generated-test-unmanaged/org/example/service/MyServiceActionSpec.scala
  codegen/scala-gen/src/test/resources/tests/action-service/simple-old-style/generated-test-unmanaged/org/example/service/MyServiceActionSpec.scala
  codegen/scala-gen/src/test/resources/tests/action-service/with-action-in-name/generated-test-unmanaged/org/example/service/MyServiceActionImplSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-test-unmanaged/org/example/domain/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-test-unmanaged/org/example/eventsourcedentity/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceEntitySpec.scala
  codegen/scala-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-test-unmanaged/org/example/eventsourcedentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-unmanaged/org/example/domain/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-unmanaged/org/example/valueentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-unmanaged/org/example/valueentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-unmanaged/org/example/valueentity/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-unmanaged/org/example/valueentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-unmanaged/org/example/valueentity/domain/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/valueentity/CounterServiceIntegrationSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-unmanaged/org/example/valueentity/domain/CounterSpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-unmanaged/org/example/valueentity/CounterServiceEntitySpec.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-unmanaged/org/example/valueentity/CounterServiceIntegrationSpec.scala
Labels: kalix-proxy, scala-sdk

#935 bump: JUnit 4.13.2 everywhere
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
Labels: kalix-proxy, java-sdk

#937 fix: Include build timestamp in image tag, #934
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
Labels: kalix-proxy, java-sdk

#813 Docs for token based paging in views
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-proxy, as-framework

#943 chore: bump samples and config to SDK 1.0.1
  docs/release-issue-template.md
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: Documentation, kalix-proxy, java-sdk
