Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-10, with the labels that each got.

#1135 feat: add unit test kit for Spring SDK
  project/Dependencies.scala
  samples/spring-customer-registry-views-quickstart/src/test/java/customer/api/CustomerEntityTest.java
  samples/spring-eventsourced-counter/src/test/java/com/example/CounterTest.java
  samples/spring-eventsourced-customer-registry/src/test/java/customer/api/CustomerEntityTest.java
  samples/spring-fibonacci-action/src/test/java/com/example/fibonacci/FibonacciActionTest.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/ActionResult.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/EventSourcedResult.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/ValueEntityResult.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/impl/EventSourcedEntityEffectsRunner.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/ActionTestkit.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/EventSourcedTestKit.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/ValueEntityTestKit.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/actions/EchoAction.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/actions/EchoActionTest.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/eventsourced/CounterEventSourcedEntity.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/eventsourced/CounterEventSourcedEntityTest.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/eventsourced/Increased.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/valueentity/CounterValueEntity.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/valueentity/CounterValueEntityTest.java
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1145 bump: logback 1.2.11 in kalix-maven-plugin
  maven-java/kalix-maven-plugin/pom.xml
Labels: kalix-proxy, java-sdk

#1146 fix: language selection syntax
  docs/src/modules/java/pages/replicated-entity-crdt.adoc
Labels: Documentation, kalix-proxy

#1150 chore: bump kalix proxy version to 1.0.20
  project/Dependencies.scala
Labels: kalix-proxy

#1147 feat: add IntegrationTest template to SpringSDK archetype
  maven-java/kalix-spring-boot-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
Labels: kalix-proxy, java-sdk

#1151 chore: disable descriptor source loading for SpringSDK
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
Labels: kalix-proxy, spring-sdk

#1152 fix: include kalix_policy.proto even if source info is disabled
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-proxy, java-sdk

#1123 feat: Allow multiple subscription to topics or EventSourced Entities' events
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/ValueMultiplied.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValueSubscriptions.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoMessageDescriptors.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ReflectiveActionRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/ParameterExtractor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/valueentity/ReflectiveValueEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/view/ReflectiveViewRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/valueentity/CounterState.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/valueentity/CreateUser.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/reflection/ParameterExtractorsSpec.scala
Labels: kalix-proxy, spring-sdk

#1141 feat: JWT annotations
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/JWT.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/EntityDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/action/ActionsTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/reflection/KalixMethodSpec.scala
Labels: kalix-proxy, spring-sdk

#1154 bump: brute-force versions upgrade
  .circleci/config.yml
  build.sbt
  project/Dependencies.scala
  project/build.properties
  project/plugins.sbt
  samples/scala-customer-registry-quickstart/project/build.properties
  samples/scala-doc-snippets/project/build.properties
  samples/scala-eventsourced-counter/project/build.properties
  samples/scala-eventsourced-customer-registry/project/build.properties
  samples/scala-eventsourced-shopping-cart/project/build.properties
  samples/scala-fibonacci-action/project/build.properties
  samples/scala-first-service/project/build.properties
  samples/scala-reliable-timers/project/build.properties
  samples/scala-replicatedentity-examples/project/build.properties
  samples/scala-replicatedentity-shopping-cart/project/build.properties
  samples/scala-valueentity-counter/project/build.properties
  samples/scala-valueentity-customer-registry/project/build.properties
  samples/scala-valueentity-shopping-cart/project/build.properties
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/MockRegistryImpl.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitActionContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityCommandContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitValueEntityCommandContext.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitValueEntityContext.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/PassivationStrategies.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedResultImpl.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk

#1156 fix: java 17 for spring samples and maven archetypes
  .circleci/config.yml
  build.sbt
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/api/Address.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/api/Customer.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/api/CustomerEntity.java
  samples/spring-customer-registry-views-quickstart/src/test/java/customer/api/CustomerEntityTest.java
  samples/spring-eventsourced-counter/README.md
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-counter/src/main/java/com/example/Counter.java
  samples/spring-eventsourced-counter/src/main/java/com/example/CounterEvent.java
  samples/spring-eventsourced-counter/src/main/java/com/example/ValueIncreased.java
  samples/spring-eventsourced-counter/src/main/java/com/example/ValueMultiplied.java
  samples/spring-eventsourced-counter/src/test/java/com/example/CounterTest.java
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/Address.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/AddressChanged.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/Customer.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerCreated.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEvent.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/NameChanged.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerView.java
  samples/spring-eventsourced-customer-registry/src/test/java/customer/api/CustomerEntityTest.java
  samples/spring-fibonacci-action/pom.xml
  samples/spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/spring-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciAction.java
  samples/spring-fibonacci-action/src/main/java/com/example/fibonacci/LimitedFibonacciAction.java
  samples/spring-fibonacci-action/src/main/java/com/example/fibonacci/Number.java
  samples/spring-fibonacci-action/src/test/java/com/example/fibonacci/FibonacciActionTest.java
Labels: Documentation, kalix-proxy, java-sdk

#1161 chore: use overloaded event handlers in views
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/api/Address.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/api/Customer.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/view/CustomerByEmailView.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/view/CustomerByNameView.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/Address.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/Customer.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerByEmailView.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerView.java
Labels: Documentation, kalix-proxy

#1163 chore: improving component descriptor modeling
  sdk/spring-sdk/src/main/java/kalix/springsdk/action/ReflectiveActionProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/eventsourced/ReflectiveEventSourcedEntityProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/valueentity/ReflectiveValueEntityProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/view/ReflectiveViewProvider.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/CommandHandler.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/EntityDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ReflectiveActionRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/RestServiceIntrospector.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/valueentity/ReflectiveValueEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/view/ReflectiveViewRouter.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ComponentDescriptorSuite.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ValueEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/reflection/ParameterExtractorsSpec.scala
Labels: kalix-proxy, spring-sdk

#1165 chore: remove option to pass view state update handler method
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerByEmailView.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  sdk/java-sdk/src/main/java/kalix/javasdk/view/View.java
  sdk/spring-sdk/README.md
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValue.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValueSubscriptions.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UserWithVersionView.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ReflectiveActionRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/valueentity/ReflectiveValueEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/view/ReflectiveViewRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1170 chore: Bump jackson databind
  project/Dependencies.scala
Labels: kalix-proxy

#1171 Lightbend style accepts 2 spaces at the end of a sentence
  styles/Lightbend/Spacing.yml
Labels: kalix-proxy

#1166 chore: adds default ACL to all samples
  samples/java-eventsourced-counter/src/main/proto/com/example/kalix_policy.proto
  samples/java-eventsourced-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/java-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/java-fibonacci-action/src/main/proto/com/example/fibonacci/kalix_policy.proto
  samples/java-first-service/src/main/proto/com/example/kalix_policy.proto
  samples/java-reliable-timers/src/main/proto/com/example/kalix_policy.proto
  samples/java-replicatedentity-examples/src/main/proto/com/example/replicated/kalix_policy.proto
  samples/java-replicatedentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/java-valueentity-counter-spring-client/src/main/proto/com/example/kalix_policy.proto
  samples/java-valueentity-counter/src/main/proto/com/example/kalix_policy.proto
  samples/java-valueentity-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/java-valueentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/scala-eventsourced-counter/src/main/proto/com/example/kalix_policy.proto
  samples/scala-eventsourced-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/scala-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/scala-fibonacci-action/src/main/proto/com/example/fibonacci/kalix_policy.proto
  samples/scala-first-service/src/main/proto/com/example/kalix_policy.proto
  samples/scala-reliable-timers/src/main/proto/com/example/kalix_policy.proto
  samples/scala-replicatedentity-examples/src/main/proto/com/example/replicated/kalix_policy.proto
  samples/scala-replicatedentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/scala-valueentity-counter/src/main/proto/com/example/kalix_policy.proto
  samples/scala-valueentity-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/scala-valueentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
Labels: Documentation, kalix-proxy

#1174 chore: Bump to proxy 1.0.22
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
Labels: Documentation, kalix-proxy, java-sdk

#1175 chore: fix spring-boot-maven-plugin version
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-fibonacci-action/pom.xml
Labels: Documentation, kalix-proxy, java-sdk

#1178 chore: Bump sample versions to 1.0.9
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/pom.xml
  project/DockerImage.scala
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry-subscriber/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-fibonacci-action/pom.xml
Labels: Documentation, kalix-proxy, java-sdk

#1155 feat: ACL support for Spring SDK
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/Main.java
  samples/spring-customer-registry-views-quickstart/src/main/java/customer/Main.java
  samples/spring-eventsourced-counter/src/main/java/com/example/Main.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/Main.java
  samples/spring-fibonacci-action/src/main/java/com/example/Main.java
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/spring-sdk/src/it/java/com/example/Main.java
  sdk/spring-sdk/src/it/java/kalix/springsdk/KalixConfigurationTest.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Acl.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/AclDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/CommandHandler.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorRenderer.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/AclTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/AclDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1179 chore: fix automate PR for sdk bump
  .circleci/config.yml
  updateSdkVersions.sh
Labels: kalix-proxy

#1185 chore: improve labeling of samples
  .github/labeler.yml
Labels: kalix-proxy

#1187 chore: reverting docker plugin base img bump
  project/DockerImage.scala
Labels: kalix-proxy

#1192 chore: bump sdk version to 1.0.10
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry-subscriber/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1189 chore: adding acl to spring reliable timers sample
  .circleci/config.yml
  samples/spring-reliable-timers/pom.xml
  samples/spring-reliable-timers/src/main/java/com/example/Main.java
Labels: kalix-proxy, spring-sdk

#1191 Add placeholders for Spring docs
  docs/src/modules/spring/nav.adoc
  docs/src/modules/spring/pages/developer-tools.adoc
  docs/src/modules/spring/pages/index.adoc
  docs/src/modules/spring/pages/quickstart-template.adoc
  docs/src/modules/spring/partials/actions.adoc
  docs/src/modules/spring/partials/eventsourced.adoc
  docs/src/modules/spring/partials/pubsub-note.adoc
Labels: Documentation, kalix-proxy

#1193 doc: Update development-process-java.adoc
  docs/src/modules/developing/pages/development-process-java.adoc
Labels: Documentation, kalix-proxy

#1197 chore: disable codegen for in Spring projects
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-reliable-timers/pom.xml
Labels: kalix-proxy, java-sdk, spring-sdk

#1194 feat: Reintroduce ignore/noReply effect #1169
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/action/ActionEffectImpl.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1198 chore: clean-up spring samples poms
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-customer-registry/src/main/resources/logback.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
Labels: kalix-proxy, java-sdk, spring-sdk

#1195 feat: support for service and method level ACL
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Acl.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/AclDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/EntityDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/RestServiceIntrospector.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/ServiceIntrospectionException.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/valueentity/ValueEntitiesTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/AclDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ComponentDescriptorSuite.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ValueEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1199 feat: samples available for spring docs
  docs/Makefile
Labels: Documentation, kalix-proxy

#1196 chore: adding spring event-sourced shopping cart sample
  .circleci/config.yml
  samples/spring-eventsourced-shopping-cart/README.md
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/Main.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartService.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCartEvent.java
  samples/spring-eventsourced-shopping-cart/src/main/resources/application.conf
  samples/spring-eventsourced-shopping-cart/src/main/resources/application.properties
  samples/spring-eventsourced-shopping-cart/src/main/resources/logback.xml
  samples/spring-eventsourced-shopping-cart/src/test/java/com/example/shoppingcart/domain/ShoppingCartTest.java
Labels: kalix-proxy, spring-sdk

#1204 docs: Missing view update method in Java s2s sample
  samples/java-eventsourced-customer-registry-subscriber/src/main/java/customer/view/AllCustomersViewImpl.java
  samples/java-eventsourced-customer-registry-subscriber/src/main/proto/customer/view/customer_view.proto
Labels: kalix-proxy, java-sdk

#1203 chore: minor improvements to accomotade spring docs
  docs/Makefile
  docs/dev/src/modules/ROOT/partials/include.adoc
Labels: Documentation, kalix-proxy

#1190 feat: delete effect for jvm sdk
  project/Dependencies.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/view/View.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/view/ViewUpdateEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/view/View.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1206 chore: fix display for group-scala in quickstart template page
  docs/src/modules/java/pages/quickstart-template.adoc
Labels: Documentation, kalix-proxy

#1207 docs: spring sdk page tree
  docs/Makefile
  docs/dev/src/antora.yml
  docs/src/modules/java/pages/quickstart-template.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java/pages/spring-client.adoc
  docs/src/modules/spring/nav.adoc
  docs/src/modules/spring/pages/access-control.adoc
  docs/src/modules/spring/pages/actions-as-controller.adoc
  docs/src/modules/spring/pages/actions-publishing-subscribing.adoc
  docs/src/modules/spring/pages/actions.adoc
  docs/src/modules/spring/pages/call-another-service.adoc
  docs/src/modules/spring/pages/developer-tools.adoc
  docs/src/modules/spring/pages/development-process-spring.adoc
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/failures-and-errors.adoc
  docs/src/modules/spring/pages/getting-started.adoc
  docs/src/modules/spring/pages/quickstart-template.adoc
  docs/src/modules/spring/pages/replicated-entity.adoc
  docs/src/modules/spring/pages/serialization.adoc
  docs/src/modules/spring/pages/service-to-service.adoc
  docs/src/modules/spring/pages/side-effects.adoc
  docs/src/modules/spring/pages/timers.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/pages/views.adoc
Labels: Documentation, kalix-proxy

#1210 fix: remove '{D}' from spring archetype pom
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
Labels: kalix-proxy, java-sdk

#1205 feat: adding actions spring docs #7719
  docs/src/modules/spring/nav.adoc
  docs/src/modules/spring/pages/actions.adoc
  samples/spring-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciAction.java
  samples/spring-fibonacci-action/src/test/java/com/example/fibonacci/FibonacciActionTest.java
Labels: Documentation, kalix-proxy, spring-sdk

#1213 chore: fix links in Vale readme for accepted words
  README-vale.md
Labels: kalix-proxy

#1212 feat: adding stream capabilities to the Action test kit 7786
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/ActionTestkit.java
Labels: kalix-proxy, spring-sdk

#1217 chore: formatAll commands alias
  build.sbt
Labels: kalix-proxy

#1211 feat(spring-sdk): support more HTTP methods in KalixClient
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-reliable-timers/src/main/java/com/example/actions/OrderAction.java
  samples/spring-reliable-timers/src/main/java/com/example/domain/OrderEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/XComponentCallsIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/UserEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/ValidateUserAction.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/KalixClient.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/RestKalixClientImpl.scala
Labels: kalix-proxy, spring-sdk

#1215 fix: remove flakiness in counter test
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
Labels: kalix-proxy, spring-sdk

#1214 fix: disable ACL in dev-mode
  docs/src/modules/java/pages/access-control.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk

#1218 renaming action testkit method to streamedCall
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/ActionTestkit.java
Labels: kalix-proxy, spring-sdk

#1219 docs: add paragraph about views on dev process page
  docs/src/modules/spring/pages/development-process-spring.adoc
Labels: Documentation, kalix-proxy

#1223 feat: support for stream updates in Views
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Query.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk
