Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-09, with the labels that each got.

#1087 feat(spring-sdk): streaming actions
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/Message.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/Parrot.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ReflectiveActionRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/action/ActionsTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1090 chore: emptyState can be null - Optional(null)
  sdk/java-sdk/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
Labels: kalix-proxy, java-sdk

#1084 feat(spring-sdk): add support for event sourced entities
  samples/spring-wiring-tests/docker-compose.yml
  samples/spring-wiring-tests/src/main/java/wiring/eventsourcedentity/Counter.java
  samples/spring-wiring-tests/src/main/java/wiring/eventsourcedentity/ValueIncreased.java
  samples/spring-wiring-tests/src/main/java/wiring/eventsourcedentity/ValueMultiplied.java
  samples/spring-wiring-tests/src/main/resources/logback.xml
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntityProvider.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/Counter.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/ValueIncreased.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/ValueMultiplied.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/EventHandler.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/eventsourced/ReflectiveEventSourcedEntityProvider.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/EventSourcedHandlersExtractor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/eventsourceentity/EventSourcedHandlersExtractorSpec.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1097 bump: Samples to JVM SDK 1.0.6
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: Documentation, kalix-proxy, java-sdk

#1095 feat: adding maven archetype spring
  maven-java/kalix-spring-boot-archetype/README.md
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/META-INF/maven/archetype-metadata.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/.gitignore
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/Main.java
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/resources/application.conf
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/resources/logback.xml
  maven-java/pom.xml
Labels: kalix-proxy, java-sdk

#1098 feat(spring-sdk): spring based integration testkit
  build.sbt
  project/Dependencies.scala
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/spring-customer-registry-views-quickstart/src/it/java/kalix/springsdk/KalixConfigurationTest.java
  samples/spring-fibonacci-action/pom.xml
  samples/spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/KalixConfigurationTest.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/KalixIntegrationTestKitSupport.java
Labels: kalix-proxy

#1100 feat(spring-sdk): streaming views
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/User.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/UserEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UsersByEmail.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UsersByName.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1099 feat: adding Subcribe to Event Sourced Entitites
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Subscribe.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1101 chore: merge main into spring sdk
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/README.md
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/README.md
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/README.md
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/README.md
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/README.md
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-wiring-tests/pom.xml
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
Labels: Documentation, kalix-proxy, java-sdk

#1092 feat(spring-sdk): provide access to current state in views
  .circleci/config.yml
  samples/spring-wiring-tests/README.md
  samples/spring-wiring-tests/docker-compose.yml
  samples/spring-wiring-tests/pom.xml
  samples/spring-wiring-tests/src/it/java/kalix/springsdk/KalixConfigurationTest.java
  samples/spring-wiring-tests/src/it/java/wiring/WiringIntegrationTest.java
  samples/spring-wiring-tests/src/main/java/wiring/Main.java
  samples/spring-wiring-tests/src/main/java/wiring/SomeComponent.java
  samples/spring-wiring-tests/src/main/java/wiring/action/EchoAction.java
  samples/spring-wiring-tests/src/main/java/wiring/action/Message.java
  samples/spring-wiring-tests/src/main/java/wiring/domain/User.java
  samples/spring-wiring-tests/src/main/java/wiring/eventsourcedentity/Counter.java
  samples/spring-wiring-tests/src/main/java/wiring/eventsourcedentity/ValueIncreased.java
  samples/spring-wiring-tests/src/main/java/wiring/eventsourcedentity/ValueMultiplied.java
  samples/spring-wiring-tests/src/main/java/wiring/valueentity/UserValueEntity.java
  samples/spring-wiring-tests/src/main/java/wiring/view/UsersByNameView.java
  samples/spring-wiring-tests/src/main/resources/logback.xml
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UserWithVersion.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UserWithVersionView.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/view/ReflectiveViewRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1102 fix: add -parameters to compiler config
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
Labels: kalix-proxy, java-sdk

#1107 chore: fix release issue link
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#1108 chore: update sdk version samples
  docs/src/modules/java/pages/spring-client.adoc
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-fibonacci-action/pom.xml
Labels: Documentation, kalix-proxy

#1110 chore: refactor on error message for views
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
Labels: kalix-proxy, spring-sdk

#1116 chore: Lint docs in samples directory in CI
  .github/workflows/linting.yml
  samples/java-reliable-timers/README.md
  samples/java-valueentity-counter/README.md
Labels: kalix-proxy

#1119 chore: ApiMayChange for currentState() methods
  sdk/java-sdk/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
Labels: kalix-proxy, java-sdk

#1121 chore: bump proxy version
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
Labels: kalix-proxy, java-sdk

#1122 fix: configure spring apps to not start embedded webserver
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/resources/application.properties
  project/Dependencies.scala
  samples/spring-customer-registry-views-quickstart/src/main/resources/application.properties
  samples/spring-eventsourced-counter/src/main/resources/application.properties
  samples/spring-fibonacci-action/src/main/resources/application.properties
Labels: kalix-proxy, java-sdk

#1118 feat(spring-sdk): add support for cross-component calls
  samples/spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/spring-fibonacci-action/src/main/java/com/example/fibonacci/LimitedFibonacciAction.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/ShortenedEchoAction.java
  sdk/spring-sdk/src/it/resources/logback.xml
  sdk/spring-sdk/src/main/scala/kalix/springsdk/KalixClient.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/RestKalixClientImpl.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1125 chore: add latest version config for spring sdk
  docs/Makefile
Labels: Documentation, kalix-proxy

#1117 feat: use JsonTypeInfo to fill typeUrl
  sdk/spring-sdk/src/main/java/kalix/springsdk/action/ReflectiveActionProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/eventsourced/ReflectiveEventSourcedEntityProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/valueentity/ReflectiveValueEntityProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/view/ReflectiveViewProvider.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/SpringSdkMessageCodecSpec.scala
Labels: kalix-proxy, spring-sdk

#1127 fix: correctly inject the EventSourcedEntityContext
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
Labels: kalix-proxy, spring-sdk

#1129 chore: better use of awaitility API
  samples/java-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByEmailIntegrationTest.java
  samples/java-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByNameIntegrationTest.java
  samples/spring-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkWiringIntegrationTest.java
Labels: kalix-proxy, spring-sdk

#1130 chore: move testkit to its own package
  samples/spring-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/KalixConfigurationTest.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/KalixIntegrationTestKitSupport.java
Labels: kalix-proxy, spring-sdk

#1124 feat: block wiring of Kalix Components inside other components
  sdk/spring-sdk/src/main/scala/kalix/springsdk/KalixConfiguration.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/action/IllDefinedAction.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/action/Main.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/eventsourced/IllDefinedEventSourcedEntity.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/eventsourced/Main.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/valueentity/IllDefinedValueEntity.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/valueentity/Main.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/view/IllDefinedView.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/badwiring/view/Main.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/KalixComponentInjectionBlockerSpec.scala
Labels: kalix-proxy, spring-sdk

#1126 docs: add README to springsdk to serve as temporary general docs
  sdk/spring-sdk/README.md
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Entity.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/EventHandler.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Publish.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Query.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Subscribe.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Table.java
Labels: kalix-proxy, spring-sdk

#1133 chore: bump jvm sdk versions to 1.0.8
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-fibonacci-action/pom.xml
Labels: kalix-proxy, java-sdk

#1136 chore: set current state in ValueEntity testkit
  codegen/java-gen/src/main/scala/kalix/codegen/java/ValueEntityTestKitGenerator.scala
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-managed/org/example/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-managed/org/example/valueentity/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-managed/org/example/valueentity/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-managed/org/example/valueentity/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-managed/org/example/valueentity/CounterServiceEntityTestKit.java
Labels: kalix-proxy, java-sdk

#1140 chore: try to improve CircleCI caching
  .circleci/config.yml
  project/build.properties
Labels: kalix-proxy

#1142 chore: moving files outside folder
  samples/java-customer-registry-kafka-quickstart/README.md
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/my-dev.kafka.properties
  samples/java-customer-registry-kafka-quickstart/my-local.kafka.properties
Labels: Documentation, kalix-proxy

#1143 fix: logging level in template should be INFO
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/resources/logback.xml
Labels: kalix-proxy, java-sdk
