Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-06, with the labels that each got.

#990 chore: improved updatePomVersion.sh
  updatePomVersions.sh
Labels: kalix-proxy

#991 feat: reflection based action proto generation
  .circleci/config.yml
  build.sbt
  project/Dependencies.scala
  samples/spring-java-fibonacci-action/README.md
  samples/spring-java-fibonacci-action/docker-compose.yml
  samples/spring-java-fibonacci-action/pom.xml
  samples/spring-java-fibonacci-action/src/main/java/com/example/KalixServer.java
  samples/spring-java-fibonacci-action/src/main/java/com/example/Main.java
  samples/spring-java-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciAction.java
  samples/spring-java-fibonacci-action/src/main/java/com/example/fibonacci/Number.java
  samples/spring-java-fibonacci-action/src/main/resources/application.conf
  samples/spring-java-fibonacci-action/src/main/resources/logback.xml
  sdk/core/src/main/scala/kalix/serializer/Serializer.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/java/kalix/javasdk/action/ActionProvider.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/ResolvedServiceMethod.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/AnySupportSpec.scala
  sdk/spring-sdk/src/main/java/kalix/springsdk/action/ReflectiveActionProvider.java
  sdk/spring-sdk/src/main/scala/kalix/serializer/JacksonProtobufSerializer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorGenerator.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ActionReflectiveRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/action/EchoAction.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/action/Message.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/action/Number.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/AnySupportWithJacksonProtobufSerializerSpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ProtoDescriptorGeneratorSpec.scala
  updatePomVersions.sh
Labels: kalix-proxy, spring-sdk

#1001 chore: merge main into spring-sdk branch
  .github/labeler.yml
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
Labels: kalix-proxy, spring-sdk

#1000 chore: use Collections.empty()
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
Labels: kalix-proxy, spring-sdk

#1003 chore: prefer Collection.emptyMap
  sdk/java-sdk/src/main/java/kalix/javasdk/action/ActionProvider.java
Labels: kalix-proxy, java-sdk

#998 feat: transpose RequestMapping to proto http options
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/view/ShoppingCartViewServiceImpl.java
  samples/spring-java-fibonacci-action/README.md
  samples/spring-java-fibonacci-action/src/main/java/com/example/Main.java
  samples/spring-java-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciAction.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorGenerator.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/action/Number.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/action/RestAnnotatedAction.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/AnySupportWithGeneratedProtobufSerializerSpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ProtoDescriptorGeneratorSpec.scala
Labels: kalix-proxy, spring-sdk

#995 chore: bump proxy to 1.0.10
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-proxy, java-sdk

#988 feat(acl): self identity, and ACL APIs
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk/src/main/java/kalix/javasdk/Metadata.java
  sdk/java-sdk/src/main/java/kalix/javasdk/Principal.java
  sdk/java-sdk/src/main/java/kalix/javasdk/Principals.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/MetadataImplSpec.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Metadata.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Principal.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Principals.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1006 Some support for spring annotations
  samples/spring-java-fibonacci-action/docker-compose.yml
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk/src/main/java/kalix/javasdk/action/ActionProvider.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/ResolvedServiceMethod.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/spring-sdk/src/main/java/kalix/springsdk/action/ReflectiveActionProvider.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/EntityKey.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorGenerator.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ActionIntrospector.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ActionReflectiveRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/path/SpringPathPatternParser.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/DynamicMethodInfo.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/DynamicServiceInfo.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/ParameterExtractor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/RestServiceIntrospector.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/serializer/GeneratedProtobufSerializer.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/action/EchoAction.java
  sdk/spring-sdk/src/test/resources/logback.xml
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/AnySupportWithGeneratedProtobufSerializerSpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ProtoDescriptorGeneratorSpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/SpringSDKTestRunner.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/path/SpringPathPatternParserSpec.scala
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1007 chore:formatting
  sdk/spring-sdk/src/main/java/kalix/springsdk/action/ReflectiveActionProvider.java
Labels: kalix-proxy, spring-sdk

#981 feat: ACL support
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/index.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/src/main/proto/__packageInPathFormat__/kalix_policy.proto
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/src/main/proto/__packageInPathFormat__/kalix_policy.proto
  samples/java-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByEmailIntegrationTest.java
  samples/java-doc-snippets/src/main/proto/com/example/kalix_policy.proto
  samples/scala-doc-snippets/src/main/proto/com/example/kalix_policy.proto
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
Labels: Documentation, kalix-proxy, java-sdk

#966 fix: correctly pass Action and View options in the Java SDK
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/SourceGenerator.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/Service.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/action/ActionHandlerSpec.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1011 chore: typo in timers doc
  docs/src/modules/java/pages/timers.adoc
Labels: Documentation, kalix-proxy

#1019 feat(codegen): avoid touching regenerated files if nothing has changed
  codegen/core/src/main/scala/kalix/codegen/File.scala
Labels: kalix-proxy

#1029 chore: bump samples to 1.0.3
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
Labels: Documentation, kalix-proxy, java-sdk

#1031 build: fix sbt run for scala samples by forking
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-reliable-timers/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
Labels: kalix-proxy

#1030 ci: add untested samples to workflow
  .circleci/config.yml
  samples/java-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/scala-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
Labels: kalix-proxy

#1032 chore: update link to kalix forum in release issue template
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#1033 docs: add testkit docs for unit testing with cross-component calls
  docs/src/modules/java/pages/actions-as-controller.adoc
  samples/java-valueentity-shopping-cart/src/test/java/com/example/shoppingcart/ShoppingCartActionImplTest.java
  samples/scala-valueentity-shopping-cart/src/test/scala/com/example/shoppingcart/ShoppingCartActionImplSpec.scala
Labels: Documentation, kalix-proxy

#1036 fix: propagate GRPC status code to response for entities
  samples/java-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-valueentity-counter/src/main/java/com/example/domain/Counter.java
  samples/scala-valueentity-counter/src/main/scala/com/example/domain/Counter.scala
  samples/scala-valueentity-counter/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/effect/SecondaryEffectImpl.scala
  sdk/java-sdk/src/test/java/kalix/javasdk/eventsourcedentity/CartEntity.java
  sdk/java-sdk/src/test/java/kalix/javasdk/replicatedentity/CartEntity.java
  sdk/java-sdk/src/test/java/kalix/javasdk/valueentity/CartEntity.java
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImplSpec.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImplSpec.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImplSpec.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/entity/EntityMessages.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/eventsourcedentity/EventSourcedMessages.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/replicatedentity/ReplicatedEntityMessages.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/valueentity/ValueEntityMessages.scala
Labels: kalix-proxy, java-sdk

#1037 chore: allow override of proxy version by config
  project/Dependencies.scala
Labels: kalix-proxy

#1038 chore: increase timeout in flaky test
  samples/java-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByNameIntegrationTest.java
Labels: kalix-proxy
