Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-05, with the labels that each got.

#944 chore: update the release checklist
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#941 bump: Jackson 2.13.2; Databind 2.13.2.2
  project/Dependencies.scala
Labels: kalix-proxy

#932 feat: Removing no reply
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  project/Dependencies.scala
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/java-eventsourced-counter/src/main/java/com/example/actions/CounterTopicSubscriptionAction.java
  samples/java-valueentity-counter/src/main/java/com/example/actions/CounterStateSubscriptionAction.java
  samples/scala-eventsourced-counter/src/main/scala/com/example/actions/CounterJournalToTopicAction.scala
  samples/scala-eventsourced-counter/src/main/scala/com/example/actions/CounterTopicSubscriptionAction.scala
  samples/scala-valueentity-counter/src/main/scala/com/example/actions/CounterStateSubscriptionAction.scala
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/ActionResult.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/EventSourcedResult.java
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/ValueEntityResult.java
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/java-sdk-testkit/src/test/scala/kalix/javasdk/testkit/impl/EventSourcedResultSpec.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/effect/SecondaryEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/ActionResult.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/EventSourcedResult.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/ValueEntityResult.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ActionResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EffectUtils.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/scala-sdk-testkit/src/test/scala/kalix/scalasdk/testkit/impl/EventSourcedResultSpec.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/action/ActionEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/replicatedentity/ReplicatedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
  tck/java-tck/src/main/java/kalix/tck/model/action/ActionTckModelImpl.java
  tck/scala-tck/src/main/scala/kalix/tck/model/action/ActionTckModelImpl.scala
Labels: Documentation, kalix-proxy

#946 bump: kalix-proxy 1.0.2
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/kafka/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk

#949 bug: it was calling the java method
  samples/scala-eventsourced-counter/src/main/scala/com/example/actions/CounterTopicSubscriptionAction.scala
Labels: kalix-proxy

#951 chore: regenerate Main class for customer registry
  samples/java-valueentity-customer-registry/src/main/java/customer/Main.java
  samples/scala-valueentity-customer-registry/src/main/scala/customer/Main.scala
Labels: kalix-proxy

#952 feat: adding file to show kalix SDK version
  docs/src/modules/java/attachments/latest-version.txt
Labels: Documentation, kalix-proxy

#953 chore: fix typo in ActionResult exception message
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ActionResultImpl.scala
Labels: kalix-proxy

#947 feat: implicitly available ExecutionContext for Actions in Scala
  samples/scala-fibonacci-action/src/main/scala/com/example/fibonacci/FibonacciAction.scala
  samples/scala-valueentity-shopping-cart/src/main/scala/com/example/shoppingcart/ShoppingCartActionImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/action/ActionTckModelImpl.scala
Labels: kalix-proxy

#921 feat: reliable timers API
  .circleci/config.yml
  build.sbt
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/timers.adoc
  docs/src/modules/java/partials/actions.adoc
  samples/java-eventsourced-counter/pom.xml
  samples/java-reliable-timers/README.md
  samples/java-reliable-timers/docker-compose.yml
  samples/java-reliable-timers/pom.xml
  samples/java-reliable-timers/src/it/java/com/example/OrderIntegrationTest.java
  samples/java-reliable-timers/src/main/java/com/example/Main.java
  samples/java-reliable-timers/src/main/java/com/example/actions/OrderAction.java
  samples/java-reliable-timers/src/main/java/com/example/domain/Order.java
  samples/java-reliable-timers/src/main/proto/com/example/actions/order_action.proto
  samples/java-reliable-timers/src/main/proto/com/example/domain/order_domain.proto
  samples/java-reliable-timers/src/main/proto/com/example/order_service_api.proto
  samples/java-reliable-timers/src/main/resources/logback.xml
  samples/java-reliable-timers/src/test/java/com/example/actions/OrderActionTest.java
  samples/java-reliable-timers/src/test/java/com/example/domain/OrderTest.java
  samples/java-reliable-timers/src/test/resources/logback-test.xml
  samples/scala-reliable-timers/.scalafmt.conf
  samples/scala-reliable-timers/README.md
  samples/scala-reliable-timers/build.sbt
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-reliable-timers/project/build.properties
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-reliable-timers/src/main/proto/com/example/actions/order_action.proto
  samples/scala-reliable-timers/src/main/proto/com/example/domain/order_domain.proto
  samples/scala-reliable-timers/src/main/proto/com/example/order_service_api.proto
  samples/scala-reliable-timers/src/main/resources/logback.xml
  samples/scala-reliable-timers/src/main/scala/com/example/Main.scala
  samples/scala-reliable-timers/src/main/scala/com/example/actions/OrderAction.scala
  samples/scala-reliable-timers/src/main/scala/com/example/domain/Order.scala
  samples/scala-reliable-timers/src/test/resources/logback-test.xml
  samples/scala-reliable-timers/src/test/scala/com/example/OrderServiceIntegrationSpec.scala
  samples/scala-reliable-timers/src/test/scala/com/example/actions/OrderActionSpec.scala
  samples/scala-reliable-timers/src/test/scala/com/example/domain/OrderSpec.scala
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitActionContext.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk/src/main/java/kalix/javasdk/action/ActionContext.java
  sdk/java-sdk/src/main/java/kalix/javasdk/timer/TimerScheduler.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DocLinks.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/timer/TimerScheduler.scala
  updatePomVersions.sh
Labels: Documentation, kalix-proxy

#962 chore: highlighting kafka as the folder to go to
  samples/java-customer-registry-kafka-quickstart/README.md
Labels: kalix-proxy

#963 Improving readme kafka sample
  samples/java-customer-registry-kafka-quickstart/README.md
Labels: kalix-proxy

#961 feat: Adding latest version
  docs/Makefile
  docs/src/modules/java/attachments/latest-version.txt
Labels: Documentation, kalix-proxy

#967 use Scala 2.13.8 in examples and tests (was 2.13.6)
  docs/src/modules/java/pages/index.adoc
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-first-service/build.sbt
  samples/scala-reliable-timers/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/build.sbt
Labels: Documentation, kalix-proxy, scala-sdk

#972 chore: modern sbt syntax in samples and docs #971
  docs/src/modules/java/pages/developer-tools.adoc
  docs/src/modules/java/pages/quickstart-template.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  samples/scala-customer-registry-quickstart/README.md
  samples/scala-eventsourced-counter/README.md
  samples/scala-eventsourced-customer-registry/README.md
  samples/scala-eventsourced-shopping-cart/README.md
  samples/scala-fibonacci-action/README.md
  samples/scala-first-service/README.md
  samples/scala-reliable-timers/README.md
  samples/scala-replicatedentity-shopping-cart/README.md
  samples/scala-valueentity-counter/README.md
  samples/scala-valueentity-customer-registry/README.md
  samples/scala-valueentity-shopping-cart/README.md
Labels: Documentation, kalix-proxy

#973 quickstart docs: improve styling
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  samples/scala-eventsourced-counter/src/test/scala/com/example/actions/CounterJournalToTopicActionSpec.scala
Labels: Documentation, kalix-proxy

#975 quickstart: add emptyState in instructions
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
  samples/java-customer-registry-quickstart/src/main/java/customer/domain/Customer.java
  samples/scala-customer-registry-quickstart/src/main/scala/customer/domain/Customer.scala
Labels: Documentation, kalix-proxy

#976 chore: Some more places for modern sbt #971
  .circleci/config.yml
  docs/src/modules/java/pages/developer-tools.adoc
Labels: Documentation, kalix-proxy

#978 fix typos
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
Labels: Documentation, kalix-proxy

#979 chore: typo in timers documentation
  docs/src/modules/java/pages/timers.adoc
Labels: Documentation, kalix-proxy

#983 fix: Add @Ignore for generated IT methods (#959)
  codegen/java-gen/src/main/scala/kalix/codegen/java/EntityServiceSourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-pacakge/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-integration-unmanaged/org/example/eventsourcedentity/CounterServiceEntityIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-absolute-packages/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-domain-in-service-package/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-key-value-in-different-pacakge/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-named-new-style/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-scalar-named-new-style/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-unnamed-new-style/generated-integration-unmanaged/com/example/replicated/multimap/MultiMapServiceEntityIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-integration-unmanaged/org/example/valueentity/CounterServiceEntityIntegrationTest.java
Labels: kalix-proxy, java-sdk, codegen

#987 Fixes formatting of code block for downloading `plugins.sbt`
  .gitignore
  docs/src/modules/java/pages/quickstart/cr-value-entity-scala.adoc
Labels: Documentation, kalix-proxy

#989 feat: initial build structure for Spring SDK
  build.sbt
  project/Dependencies.scala
Labels: kalix-proxy
