Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-11, with the labels that each got.

#1222 feat: adds support for entity key generator
  docs/src/modules/spring/pages/getting-started.adoc
  samples/spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/EntityKey.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/GenerateEntityKey.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/EntityDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, spring-sdk

#1224 docs(springsdk): add page for value entities docs
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/spring/pages/getting-started.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/partials/testing-entity.adoc
  samples/spring-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
  samples/spring-valueentity-counter/src/test/java/com/example/CounterTest.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
Labels: Documentation, kalix-proxy, spring-sdk

#1225 docs(spring-sdk): add docs for timers
  docs/dev/src/modules/ROOT/partials/timers-intro.adoc
  docs/src/modules/java/pages/timers.adoc
  docs/src/modules/spring/pages/timers.adoc
  samples/java-reliable-timers/src/main/java/com/example/actions/OrderAction.java
  samples/java-reliable-timers/src/main/java/com/example/domain/Order.java
  samples/spring-reliable-timers/src/main/java/com/example/actions/OrderAction.java
  samples/spring-reliable-timers/src/main/java/com/example/domain/OrderEntity.java
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1232 chore: Get rid of some compiler warnings
  codegen/core/src/main/scala/kalix/codegen/SourceGeneratorUtils.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ActionResultImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/action/ActionEffectImpl.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/action/ActionTckModelImpl.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1238 chore: Bump Proxy 1.0.26
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1228 feat: Pass along env to proxy for substitution
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/service-to-service.adoc
  samples/scala-doc-snippets/src/main/scala/com/example/Main.scala
  samples/scala-doc-snippets/src/main/scala/com/example/MyTopicsActionImpl.scala
  samples/scala-doc-snippets/src/test/scala/com/example/DelegatingServiceActionSpec.scala
  samples/scala-doc-snippets/src/test/scala/com/example/MyTopicsActionImplSpec.scala
  sdk/java-sdk/src/main/resources/reference.conf
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/DiscoverySpec.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk

#1221 docs: Spring Boot integration page
  docs/src/modules/spring/nav.adoc
  docs/src/modules/spring/pages/dependency-injection.adoc
  docs/src/modules/spring/pages/getting-started.adoc
  docs/src/modules/spring/pages/index.adoc
  docs/src/modules/spring/pages/spring-boot-integration.adoc
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-proxy

#1242 fix: Syntax error in proxy reference
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1220 feat: spring docs pubsub #7722
  .circleci/config.yml
  docs/src/modules/spring/pages/actions-publishing-subscribing.adoc
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/Confirmed.java
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/CounterTopicSubscriptionAction.java
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/SubscribeTypeLevelAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValueWithIgnore.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Subscribe.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-proxy, spring-sdk

#1235 docs(spring-sdk): add generating entity keys section
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/partials/generate-entity-keys.adoc
  samples/spring-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartEntity.java
  samples/spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
Labels: Documentation, kalix-proxy, spring-sdk

#1247 feat: KalixClient.post without body
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/ValidateUserAction.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/KalixClient.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/RestKalixClientImpl.scala
Labels: kalix-proxy, spring-sdk

#1245 feat: codegen Scala support for handle deletes
  build.sbt
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionServiceSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionTestKitGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ViewServiceSourceGenerator.scala
  project/ReflectiveCodeGen.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
Labels: kalix-proxy, scala-sdk

#1233 docs: spring docs handling serialization
  docs/src/modules/spring/pages/serialization.adoc
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/Confirmed.java
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-proxy, spring-sdk

#1252 chore: bump sdk versions to 1.0.11
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry-subscriber/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-valueentity-counter/pom.xml
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1251 docs: quickstart page
  .circleci/config.yml
  docs/Makefile
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/spring/pages/getting-started.adoc
  docs/src/modules/spring/pages/quickstart/cr-value-entity-spring.adoc
  docs/src/modules/spring/partials/maven-archetype.adoc
  samples/spring-customer-registry-quickstart/.bundleignore
  samples/spring-customer-registry-quickstart/README.md
  samples/spring-customer-registry-quickstart/docker-compose.yml
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/spring-customer-registry-quickstart/src/main/java/customer/Main.java
  samples/spring-customer-registry-quickstart/src/main/java/customer/api/CustomerEntity.java
  samples/spring-customer-registry-quickstart/src/main/java/customer/domain/Address.java
  samples/spring-customer-registry-quickstart/src/main/java/customer/domain/Customer.java
  samples/spring-customer-registry-quickstart/src/main/resources/application.conf
  samples/spring-customer-registry-quickstart/src/main/resources/application.properties
  samples/spring-customer-registry-quickstart/src/main/resources/logback.xml
  samples/spring-customer-registry-quickstart/src/test/java/customer/api/CustomerEntityTest.java
Labels: Documentation, kalix-proxy, spring-sdk

#1254 fix: value entity test kit deletes support
  codegen/java-gen/src/main/scala/kalix/codegen/java/ActionTestKitGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ValueEntityTestKitGenerator.scala
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-managed/org/example/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-managed/org/example/valueentity/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-managed/org/example/valueentity/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-managed/org/example/valueentity/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-managed/org/example/valueentity/CounterServiceEntityTestKit.java
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ActionTestKitGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ValueEntityTestKitGenerator.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/absolute-packages/generated-test-managed/org/example/domain/CounterTestKit.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-test-managed/org/example/valueentity/CounterTestKit.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/named-new-style/generated-test-managed/org/example/valueentity/domain/CounterTestKit.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-test-managed/org/example/valueentity/domain/CounterTestKit.scala
  codegen/scala-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-test-managed/org/example/valueentity/CounterServiceEntityTestKit.scala
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/ValueEntityTestKit.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/valueentity/CounterValueEntity.java
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/valueentity/CounterValueEntityTest.java
  tck/scala-tck/src/main/scala/kalix/tck/model/valueentity/ValueEntityTckModelEntity.scala
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1230 feat: support for service to service streaming
  .circleci/config.yml
  docs/src/modules/java/pages/service-to-service.adoc
  docs/src/modules/spring/pages/service-to-service.adoc
  docs/src/modules/spring/pages/views.adoc
  samples/spring-eventsourced-customer-registry-subscriber/README.md
  samples/spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/src/main/java/customer/Main.java
  samples/spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/Customer.java
  samples/spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomerPublicEvent.java
  samples/spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByNameView.java
  samples/spring-eventsourced-customer-registry-subscriber/src/main/resources/application.conf
  samples/spring-eventsourced-customer-registry-subscriber/src/main/resources/application.properties
  samples/spring-eventsourced-customer-registry-subscriber/src/main/resources/logback.xml
  samples/spring-eventsourced-customer-registry/README.md
  samples/spring-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/Customer.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEventsService.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerPublicEvent.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/domain/Address.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/domain/Customer.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/domain/CustomerEvent.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerByEmailView.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerByNameView.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/view/CustomerView.java
  samples/spring-eventsourced-customer-registry/src/test/java/customer/api/CustomerEntityTest.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Publish.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Subscribe.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/AclDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/EntityDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/RestServiceIntrospector.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ComponentDescriptorSuite.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
  updatePomVersions.sh
Labels: Documentation, kalix-proxy, spring-sdk

#1241 docs(spring-sdk): add actions as controllers page
  .circleci/config.yml
  docs/src/modules/java/pages/actions-as-controller.adoc
  docs/src/modules/spring/pages/actions-as-controller.adoc
  docs/src/modules/spring/pages/structuring-your-application.adoc
  samples/java-valueentity-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/spring-valueentity-shopping-cart/README.md
  samples/spring-valueentity-shopping-cart/docker-compose.yml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-valueentity-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/spring-valueentity-shopping-cart/src/main/java/com/example/Main.java
  samples/spring-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartController.java
  samples/spring-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartDTO.java
  samples/spring-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEntity.java
  samples/spring-valueentity-shopping-cart/src/main/java/com/example/domain/ShoppingCart.java
  samples/spring-valueentity-shopping-cart/src/main/resources/application.conf
  samples/spring-valueentity-shopping-cart/src/main/resources/application.properties
  samples/spring-valueentity-shopping-cart/src/main/resources/logback.xml
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1258 fix: fail to publish docs on release
  docs/Makefile
  docs/bin/deploy.sh
Labels: Documentation, kalix-proxy

#1256 docs: 7730 spring docs failures and errors
  docs/src/modules/spring/pages/failures-and-errors.adoc
Labels: Documentation, kalix-proxy, spring-sdk

#1236 feat: handle deletes in views
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UserWithVersionView.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/UsersByName.java
  sdk/spring-sdk/src/it/resources/logback-test.xml
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Subscribe.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/CommandHandler.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorGenerator.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/view/ReflectiveViewRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1253 docs: handle deletes in scala and java proto
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  samples/java-valueentity-counter/src/main/java/com/example/actions/CounterStateSubscriptionAction.java
  samples/java-valueentity-counter/src/main/java/com/example/domain/Counter.java
  samples/java-valueentity-counter/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/java-valueentity-counter/src/main/proto/com/example/counter_api.proto
  samples/java-valueentity-counter/src/test/java/com/example/actions/CounterStateSubscriptionActionTest.java
  samples/java-valueentity-counter/src/test/java/com/example/domain/CounterTest.java
  samples/java-valueentity-customer-registry/src/main/java/customer/domain/CustomerValueEntity.java
  samples/java-valueentity-customer-registry/src/main/proto/customer/api/customer_api.proto
  samples/java-valueentity-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-valueentity-counter/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/scala-valueentity-counter/src/main/proto/com/example/counter_api.proto
  samples/scala-valueentity-counter/src/main/scala/com/example/actions/CounterStateSubscriptionAction.scala
  samples/scala-valueentity-counter/src/main/scala/com/example/domain/Counter.scala
  samples/scala-valueentity-counter/src/test/scala/com/example/domain/CounterSpec.scala
  samples/scala-valueentity-customer-registry/src/main/proto/customer/api/customer_api.proto
  samples/scala-valueentity-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-valueentity-customer-registry/src/main/scala/customer/domain/CustomerValueEntity.scala
  samples/scala-valueentity-customer-registry/src/test/scala/customer/action/CustomerActionImplSpec.scala
  samples/scala-valueentity-customer-registry/src/test/scala/customer/api/CustomerServiceIntegrationSpec.scala
  samples/scala-valueentity-customer-registry/src/test/scala/customer/domain/CustomerValueEntitySpec.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk

#1255 feat(spring-sdk): support return of collection on view queries
  docs/dev/src/modules/ROOT/partials/query-syntax-paging.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/spring/pages/views.adoc
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorGenerator.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ProtoDescriptorRenderer.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/UserCollection.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, spring-sdk

#1265 fix: typo in Spring Value Entity Quickstart
  docs/src/modules/spring/pages/quickstart/cr-value-entity-spring.adoc
Labels: Documentation, kalix-proxy

#1261 fix: Allow 12M incoming, s2s client to allow 12M replies in cross service calls.
  sdk/java-sdk/src/main/resources/reference.conf
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/GrpcClients.scala
Labels: kalix-proxy, java-sdk

#1264 docs: Spring docs side effect #7723
  docs/src/modules/spring/pages/side-effects.adoc
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/Confirmed.java
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/CounterTopicSubscriptionAction.java
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/SubscribeTypeLevelAction.java
  samples/spring-valueentity-counter/src/main/java/com/example/action/Confirmed.java
  samples/spring-valueentity-counter/src/main/java/com/example/action/DoubleCounterAction.java
Labels: Documentation, kalix-proxy, spring-sdk

#1266 fix: missing partials in docs
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/timers.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/partials/eventsourced-snapshots.adoc
  docs/src/modules/java/partials/eventsourced.adoc
  docs/src/modules/java/partials/query-syntax-paging.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  docs/src/modules/java/partials/timers-intro.adoc
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/timers.adoc
  docs/src/modules/spring/pages/views.adoc
Labels: Documentation, kalix-proxy

#1262 feat: handle deletes in spring Action
  project/Dependencies.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/SubscribeUserAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/User.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/UserSideEffect.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/DescriptorValidationCommon.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ReflectiveActionRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1263 docs(spring-sdk): add examples for transforming results in views
  .circleci/config.yml
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/pages/views.adoc
  samples/spring-valueentity-customer-registry/README.md
  samples/spring-valueentity-customer-registry/docker-compose.yml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-customer-registry/src/it/java/com/example/CustomerIntegrationTest.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/Main.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/api/CustomerEntity.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/api/CustomerSummary.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/api/CustomersResponse.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/domain/Address.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/domain/Customer.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomerSummaryByName.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomersResponseByName.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomersStreamByName.java
  samples/spring-valueentity-customer-registry/src/main/resources/application.conf
  samples/spring-valueentity-customer-registry/src/main/resources/application.properties
  samples/spring-valueentity-customer-registry/src/main/resources/logback.xml
Labels: Documentation, kalix-proxy, spring-sdk

#1267 docs(spring-sdk): small fixes to Quickstart
  docs/src/modules/spring/pages/quickstart/cr-value-entity-spring.adoc
Labels: Documentation, kalix-proxy

#1272 chore: Bump proxy to 1.0.28
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-eventsourced-customer-registry/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/spring-customer-registry-quickstart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
  samples/spring-valueentity-customer-registry/docker-compose.yml
  samples/spring-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1269 docs(spring-sdk): handle deletes
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/pages/views.adoc
  samples/java-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
  samples/spring-valueentity-counter/src/test/java/com/example/CounterTest.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomerSummaryByName.java
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1275 feat: introduce @TypeName for logical type names
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/views.adoc
  samples/spring-eventsourced-counter/src/main/java/com/example/CounterEvent.java
  samples/spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomerPublicEvent.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerPublicEvent.java
  samples/spring-eventsourced-customer-registry/src/main/java/customer/domain/CustomerEvent.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCartEvent.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/Counter.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEvent.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/ValueIncreased.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/ValueMultiplied.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValue.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValueSubscriptions.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CountersByValueWithIgnore.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/TypeName.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EmployeeCreated.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EmployeeEmailUpdated.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EmployeeEvent.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/subscriptions/PubSubTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/SpringSdkMessageCodecSpec.scala
Labels: Documentation, kalix-proxy, spring-sdk

#1277 docs(spring-sdk): remove page for replicated entities
  docs/src/modules/spring/nav.adoc
Labels: Documentation, kalix-proxy

#1274 fix: pass metadata further whenever available
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/action/ReflectiveActionRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/valueentity/ReflectiveValueEntityRouter.scala
Labels: kalix-proxy, spring-sdk

#1278 fix: (codegen,views) missing validation when in/out params are different
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
Labels: kalix-proxy

#1279 fix: exception when trying to emit collection of events with a wrong …
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
Labels: kalix-proxy, java-sdk

#1282 fix: Use the testcontainer host name for cross component calls
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/ProxyInfoHolder.scala
Labels: kalix-proxy, java-sdk

#1287 fix: removed http option from subscription methods
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/http/HttpEndpointMethodDefinition.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1288 fix(spring-sdk): fails to handle persisted events for ES entity
  .gitignore
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/EventSourcedTestKit.java
  sdk/spring-sdk/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  sdk/spring-sdk/src/it/resources/application.conf
  sdk/spring-sdk/src/main/java/kalix/springsdk/eventsourced/ReflectiveEventSourcedEntityProvider.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/EventSourcedHandlersExtractor.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/eventsourceentity/EventSourcedHandlersExtractorSpec.scala
Labels: kalix-proxy, spring-sdk

#1291 fix(spring-sdk): avoid exception when using currentState in VE after persistence
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/ValueEntityIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/UserEntity.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/valueentity/ReflectiveValueEntityRouter.scala
Labels: kalix-proxy, spring-sdk

#1295 docs(spring-sdk): add reference to s2s in features
  docs/src/modules/spring/pages/index.adoc
Labels: Documentation, kalix-proxy

#1293 chore: decrease CI pipeline run time
  .circleci/config.yml
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#1284 chore: validate before registering
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ActionDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/DescriptorValidationCommon.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/Validations.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1300 fix: using query params should not collide with path params
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/valueentity/ValueEntitiesTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ComponentDescriptorSuite.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ValueEntityDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk
