Repository lightbend/kalix-jvm-sdk, pull requests merged in 2022-12, with the labels that each got.

#1299 feat: support views with multiple tables
  build.sbt
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/Types.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ViewServiceSourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/AbstractMyUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/MyUserByNameViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/AbstractUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/UserByNameViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/AbstractUserByNameView.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/UserByNameViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/UserByNameViewRouter.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-unmanaged/org/example/view/UserByNameViewImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/view-in-name-new-style/proto/example-views.proto
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/KalixFactory.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AbstractCustomerOrdersView.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/CustomerOrdersViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/CustomerOrdersViewRouter.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/view/CustomerOrdersView.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/proto/customer_orders.proto
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/AbstractKalixGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ViewServiceSourceGenerator.scala
  codegen/scala-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/AbstractMyUserByNameView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/named-new-style/generated-managed/org/example/named/view/MyUserByNameViewProvider.scala
  codegen/scala-gen/src/test/resources/tests/view-service/named-new-style/generated-unmanaged/org/example/named/view/MyUserByNameView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/AbstractUserByNameView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-managed/org/example/unnamed/view/UserByNameViewProvider.scala
  codegen/scala-gen/src/test/resources/tests/view-service/unnamed-new-style/generated-unmanaged/org/example/unnamed/view/UserByNameView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/AbstractUserByNameView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/UserByNameViewProvider.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-managed/org/example/view/UserByNameViewRouter.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-in-name-new-style/generated-unmanaged/org/example/view/UserByNameViewImpl.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-in-name-new-style/proto/example-views.proto
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/Components.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/ComponentsImpl.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/KalixFactory.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AbstractCustomerOrdersView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/CustomerOrdersViewProvider.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/CustomerOrdersViewRouter.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/Main.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/view/CustomerOrdersView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/proto/customer_orders.proto
  sdk/java-sdk/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk/src/main/java/kalix/javasdk/impl/ViewFactory.java
  sdk/java-sdk/src/main/java/kalix/javasdk/view/ViewProvider.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewRouter.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/Kalix.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/view/ViewAdapters.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/view/ViewRouter.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/view/View.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/view/ViewProvider.scala
  sdk/spring-sdk/src/main/java/kalix/springsdk/view/ReflectiveViewProvider.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1297 feat: adding setting to testkit through properties #7906
  docs/src/modules/spring/pages/access-control.adoc
  samples/spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/spring-eventsourced-counter/src/it/java/com/example/TestkitConfig.java
  samples/spring-eventsourced-counter/src/main/java/com/example/actions/Confirmed.java
  samples/spring-eventsourced-counter/src/main/resources/application.properties
  samples/spring-valueentity-counter/src/main/java/com/example/action/Confirmed.java
  sdk/spring-sdk-testkit/src/main/java/kalix/springsdk/testkit/KalixConfigurationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/TestkitConfig.java
  sdk/spring-sdk/src/it/java/kalix/springsdk/KalixConfigurationTest.java
Labels: Documentation, kalix-proxy, spring-sdk

#1302 docs: adding JWT documentation #7976
  .circleci/config.yml
  docs/src/modules/spring/nav.adoc
  docs/src/modules/spring/pages/access-control.adoc
  docs/src/modules/spring/pages/call-another-service.adoc
  docs/src/modules/spring/pages/using-jwts.adoc
  samples/spring-acl-examples/README.md
  samples/spring-acl-examples/pom.xml
  samples/spring-doc-snippets/src/main/java/com/example/Number.java
  samples/spring-doc-snippets/src/main/java/com/example/acl/EmployeeAction.java
  samples/spring-doc-snippets/src/main/java/com/example/acl/Main.java
  samples/spring-doc-snippets/src/main/java/com/example/acl/MyAction.java
  samples/spring-doc-snippets/src/main/java/com/example/acl/UserAction.java
  samples/spring-doc-snippets/src/main/java/com/example/callanotherservice/DelegatingServiceAction.java
  samples/spring-doc-snippets/src/main/java/com/example/callanotherservice/Main.java
  samples/spring-doc-snippets/src/main/java/com/example/callanotherservice/Number.java
  samples/spring-doc-snippets/src/main/java/com/example/jwt/JWTAction.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/JWT.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/action/ActionsTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ActionDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, spring-sdk

#1304 chore: use more explicit name for colleciton result
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/spring/pages/views.adoc
  samples/java-valueentity-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-valueentity-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/spring-valueentity-customer-registry/src/main/java/com/example/api/CustomersResponse.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomersResponseByName.java
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1306 docs: fix typo about writing views
  docs/src/modules/spring/pages/development-process-spring.adoc
Labels: Documentation, kalix-proxy

#1305 chore: use multi-line string in queries
  samples/spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByNameView.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomersResponseByName.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomersStreamByName.java
Labels: kalix-proxy, spring-sdk

#1308 docs: remove 'with Spring' from title
  docs/src/modules/spring/pages/event-sourced-entities.adoc
Labels: Documentation, kalix-proxy

#1309 chore: make it explicit that teskit is stateful
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  samples/spring-eventsourced-shopping-cart/src/test/java/com/example/shoppingcart/domain/ShoppingCartTest.java
  samples/spring-valueentity-counter/src/test/java/com/example/CounterTest.java
Labels: Documentation, kalix-proxy, spring-sdk

#1307 docs: adding JWT documentation #7976
  docs/src/modules/spring/pages/using-jwts.adoc
Labels: Documentation, kalix-proxy

#1310 fix: support for java primitives in path variables
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/ActionWithPrimitives.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
Labels: kalix-proxy, spring-sdk

#1311 chore: removing fixme about missing metadata
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
Labels: kalix-proxy, spring-sdk

#1312 docs: adding spring API docs #7732
  docs/Makefile
Labels: Documentation, kalix-proxy

#1315 docs: more detailed text about EntityKey
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/partials/entity-keys.adoc
  docs/src/modules/spring/partials/generate-entity-keys.adoc
  samples/spring-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartEntity.java
  samples/spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
Labels: Documentation, kalix-proxy, spring-sdk

#1317 docs: fix Spring SDK Value Entity typo
  docs/src/modules/spring/pages/value-entity.adoc
Labels: Documentation, kalix-proxy

#1320 bug: mixing javadocs and scaladocs #1314
  docs/src/modules/java/pages/event-sourced-entities.adoc
Labels: Documentation, kalix-proxy

#1316 chore: minor improvement on SubscriptionServiceMethod description
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/reflection/KalixMethod.scala
Labels: kalix-proxy, spring-sdk

#1352 bump: kalix-proxy 1.0.29
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-eventsourced-customer-registry/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/spring-customer-registry-quickstart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-doc-snippets/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
  samples/spring-valueentity-customer-registry/docker-compose.yml
  samples/spring-valueentity-shopping-cart/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1351 feat: Run testkit against arbitrary kalix proxy image #1047
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixProxyContainer.java
Labels: kalix-proxy, java-sdk

#1353 fix: Allow ignore as async effect #1318
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/action/ActionHandlerSpec.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/action/ActionEffectImpl.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1354 feat: Support ignore in action result testkit API
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/ActionResult.java
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/ActionResult.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ActionResultImpl.scala
Labels: kalix-proxy, java-sdk, scala-sdk

#1357 chore: fix escaping in composite keys documentation
  docs/src/modules/spring/partials/entity-keys.adoc
Labels: Documentation, kalix-proxy

#1303 fix(scala-sdk): replicated entities CCE after entity passivation
  samples/scala-replicatedentity-examples/src/test/resources/application.conf
  samples/scala-replicatedentity-examples/src/test/scala/com/example/replicated/counter/SomeCounterIntegrationSpec.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/replicatedentity/ReplicatedEntityAdapters.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/replicatedentity/ReplicatedCounterMap.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/replicatedentity/ReplicatedMap.scala
Labels: kalix-proxy, scala-sdk

#1363 bump: SDKs to 1.1.4
  docs/src/modules/java/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-eventsourced-shopping-cart/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter-spring-client/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
  samples/scala-customer-registry-quickstart/project/plugins.sbt
  samples/scala-doc-snippets/project/plugins.sbt
  samples/scala-eventsourced-counter/project/plugins.sbt
  samples/scala-eventsourced-customer-registry-subscriber/project/plugins.sbt
  samples/scala-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-fibonacci-action/project/plugins.sbt
  samples/scala-first-service/project/plugins.sbt
  samples/scala-reliable-timers/project/plugins.sbt
  samples/scala-replicatedentity-examples/project/plugins.sbt
  samples/scala-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-valueentity-counter/project/plugins.sbt
  samples/scala-valueentity-customer-registry/project/plugins.sbt
  samples/scala-valueentity-shopping-cart/project/plugins.sbt
  samples/scala-view-store/project/plugins.sbt
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-doc-snippets/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-valueentity-counter/pom.xml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-view-store/pom.xml
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1365 bump: Kalix Proxy 1.0.30
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-eventsourced-customer-registry/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/java-view-store/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/scala-view-store/docker-compose.yml
  samples/spring-customer-registry-quickstart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-doc-snippets/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
  samples/spring-valueentity-customer-registry/docker-compose.yml
  samples/spring-valueentity-shopping-cart/docker-compose.yml
  samples/spring-view-store/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1364 fix: Run in samples is now forked, pass along props accordingly
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-reliable-timers/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
Labels: kalix-proxy, scala-sdk

#1366 chore: bump proxy to 1.0.31
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-eventsourced-customer-registry/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/java-view-store/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-eventsourced-customer-registry/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/scala-view-store/docker-compose.yml
  samples/spring-customer-registry-quickstart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-doc-snippets/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
  samples/spring-valueentity-customer-registry/docker-compose.yml
  samples/spring-valueentity-shopping-cart/docker-compose.yml
  samples/spring-view-store/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1373 feat(spring-sdk): support multi-value query parameters
  samples/spring-valueentity-customer-registry/src/it/java/com/example/CustomerIntegrationTest.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/view/CustomersResponseByCity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/ActionWithPrimitives.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptor.scala
Labels: kalix-proxy, spring-sdk

#1367 ci: add script to bump proxy version
  updateProxyVersions.sh
Labels: kalix-proxy
