Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-04, with the labels that each got.

#1555 fix(samples): s2s java example and improve docs
  docs/src/modules/java-protobuf/pages/service-to-service.adoc
  docs/src/modules/java/pages/service-to-service.adoc
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomerPublicEvent.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/domain/CustomerEvent.java
Labels: Documentation, kalix-proxy, java-sdk

#1558 fix: explicit input types for workflow step definition
  project/Dependencies.scala
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/transfer/TransferWorkflow.java
  samples/java-spring-transfer-workflow/src/main/java/com/example/transfer/TransferWorkflow.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflowentity/WorkflowEntity.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/workflowentity/TransferWorkflowEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithFraudDetection.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithoutInputs.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithDefaultRecoverStrategy.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithRecoverStrategy.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithStepTimeout.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithTimeout.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1559 chore: remove old samples from build.sbt
  build.sbt
Labels: kalix-proxy

#1560 ci: migrate more samples to GitHub actions
  .circleci/config.yml
  .github/workflows/samples.yml
Labels: kalix-proxy

#1562 feat!: default to FQCN when typename is not present
  docs/src/modules/java/pages/event-sourced-entities.adoc
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/JsonMessageCodecSpec.scala
Labels: Documentation, kalix-proxy, java-sdk

#1561 feat: mvn kalix:run with proxy in dev mode
  build.sbt
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
  project/Dependencies.scala
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-spring/src/it/java/kalix/spring/KalixConfigurationTest.java
  sdk/java-sdk-spring/src/main/scala/kalix/spring/boot/KalixConfiguration.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1564 docs(sample): add integration test example for s2s eventing
  .github/workflows/samples.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/TestkitConfig.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/resources/logback-test.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByNameView.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1565 chore: suppress STDOUT in proxy container logs
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
Labels: kalix-proxy

#1567 fix: retry container port until is available
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
Labels: kalix-proxy, java-sdk-protobuf

#1568 chore: make logConfig optional
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
Labels: kalix-proxy, java-sdk-protobuf

#1569 fix: pass pubsub emulator exposed port
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
Labels: kalix-proxy, java-sdk-protobuf

#1570 chore: replacing junit 4 @RunWith annotation with junit 5 @ExtendWith
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerTest.java
  samples/java-spring-customer-registry-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/java-spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/java-spring-reliable-timers/src/it/java/com/example/OrderActionIntegrationTest.java
  samples/java-spring-shopping-cart-quickstart/src/it/java/shoppingcart/cart/IntegrationTest.java
  samples/java-spring-transfer-workflow-compensation/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/java-spring-transfer-workflow/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/java-spring-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-valueentity-customer-registry/src/it/java/customer/CustomerIntegrationTest.java
  samples/java-spring-valueentity-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/java-spring-view-store/src/it/java/store/view/StoreViewIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/ValueEntityIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/XComponentCallsIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1574 fix(testkit): remove modification of proxy name
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixProxyContainer.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1575 fix: README - use correct container naming
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
Labels: kalix-proxy, java-sdk-protobuf

#1573 fix: mount current dir as volume under /conf
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
Labels: kalix-proxy, java-sdk-protobuf

#1577 fix: check if file exists before using it
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
Labels: kalix-proxy, java-sdk-protobuf

#1580 feat: local service port mapping
  build.sbt
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
  project/Dependencies.scala
  sdk/core/src/main/java/kalix/devtools/impl/DevModeSettings.java
  sdk/core/src/main/scala/kalix/serializer/Serializer.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/KalixRunnerSpec.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/boot/KalixConfiguration.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1583 feat: local discovery for WebClient
  sdk/core/src/main/java/kalix/devtools/impl/DevModeSettings.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/HostAndPort.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/WebClientProviderHolder.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1585 fix: always use host.docker.internal in container
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/HostAndPort.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/HostAndPortSpec.scala
Labels: kalix-proxy, java-sdk-protobuf

#1588 Docs: remove duplicated subject.
  docs/src/modules/java/pages/spring-boot-integration.adoc
Labels: Documentation, kalix-proxy

#1591 bump: protobuf-java 3.20.3 (was 3.20.1)
  project/Dependencies.scala
Labels: kalix-proxy

#1596 feat: pass service port mappings to KalixTestKit
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1600 chore(ci): don't format code on CI
  project/Common.scala
Labels: kalix-proxy

#1584 docs: Serving Arbitrary Web Resources
  .github/workflows/samples.yml
  docs/src/modules/java-protobuf/pages/serving-web-resources.adoc
  samples/java-protobuf-web-resources/README.md
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/java-protobuf-web-resources/pom.xml
  samples/java-protobuf-web-resources/src/main/java/com/example/FileServiceAction.java
  samples/java-protobuf-web-resources/src/main/java/com/example/Main.java
  samples/java-protobuf-web-resources/src/main/java/com/example/ShoppingCartServiceAction.java
  samples/java-protobuf-web-resources/src/main/proto/com/example/kalix_policy.proto
  samples/java-protobuf-web-resources/src/main/proto/com/example/web_resources.proto
  samples/java-protobuf-web-resources/src/main/resources/application.conf
  samples/java-protobuf-web-resources/src/main/resources/logback-dev-mode.xml
  samples/java-protobuf-web-resources/src/main/resources/logback.xml
  samples/java-protobuf-web-resources/src/main/resources/web/img/favicon.png
  samples/java-protobuf-web-resources/src/main/resources/web/index.css
  samples/java-protobuf-web-resources/src/main/resources/web/index.html
  samples/java-protobuf-web-resources/src/main/resources/web/index.js
  samples/java-protobuf-web-resources/src/test/java/com/example/FileServiceActionTest.java
  samples/java-protobuf-web-resources/src/test/java/com/example/ShoppingCartServiceActionTest.java
  samples/scala-protobuf-web-resources/README.md
  samples/scala-protobuf-web-resources/build.sbt
  samples/scala-protobuf-web-resources/docker-compose.yml
  samples/scala-protobuf-web-resources/project/build.properties
  samples/scala-protobuf-web-resources/project/plugins.sbt
  samples/scala-protobuf-web-resources/src/main/proto/com/example/kalix_policy.proto
  samples/scala-protobuf-web-resources/src/main/proto/com/example/web_resources.proto
  samples/scala-protobuf-web-resources/src/main/resources/logback-dev-mode.xml
  samples/scala-protobuf-web-resources/src/main/resources/logback.xml
  samples/scala-protobuf-web-resources/src/main/resources/web/img/favicon.png
  samples/scala-protobuf-web-resources/src/main/resources/web/index.css
  samples/scala-protobuf-web-resources/src/main/resources/web/index.html
  samples/scala-protobuf-web-resources/src/main/resources/web/index.js
  samples/scala-protobuf-web-resources/src/main/scala/com/example/FileServiceAction.scala
  samples/scala-protobuf-web-resources/src/main/scala/com/example/Main.scala
  samples/scala-protobuf-web-resources/src/main/scala/com/example/ShoppingCartServiceAction.scala
  samples/scala-protobuf-web-resources/src/test/scala/com/example/FileServiceActionSpec.scala
  samples/scala-protobuf-web-resources/src/test/scala/com/example/ShoppingCartServiceActionSpec.scala
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1592 feat: sbt runAll to start proxy and UF
  build.sbt
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
Labels: kalix-proxy, scala-sdk-protobuf
