Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-07, with the labels that each got.

#1716 chore: simplifying workflow samples
  samples/java-spring-transfer-workflow-compensation/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/wallet/WalletEntity.java
  samples/java-spring-transfer-workflow/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/java-spring-transfer-workflow/src/main/java/com/example/wallet/WalletEntity.java
Labels: kalix-proxy, java-sdk

#1730 fix: view unary calls support in ComponentClient
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/CustomerByCreationTime.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UserCountersView.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UsersByEmail.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ActionCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ComponentClient.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/EventSourcedEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ValueEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ViewCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/WorkflowCallBuilder.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/client/ComponentCall.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/client/ViewCallValidator.scala
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/client/ComponentClientTest.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1741 docs: remove unnecessary -d flag in grpcurl commands
  docs/src/modules/java-protobuf/pages/running-locally.adoc
Labels: Documentation, kalix-proxy

#1742 fix: using overridden path variable name
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/RestServiceIntrospector.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/ActionsTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1744 fix: enable component client for integration tests
  samples/java-spring-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  sdk/java-sdk-spring-testkit/src/main/java/kalix/spring/testkit/KalixIntegrationTestKitSupport.java
  sdk/spring-boot-starter-test/src/main/scala/kalix/spring/boot/KalixConfigurationTest.scala
Labels: kalix-proxy, java-sdk

#1745 fix: unwrap json on expectType for eventing testkit
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
Labels: kalix-proxy, java-sdk-protobuf

#1748 docs: link to documentation from samples for web-resources
  samples/java-protobuf-web-resources/README.md
  samples/scala-protobuf-web-resources/README.md
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1747 fix: support passing collection in json_body
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/JsonSupport.java
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/JsonSupportSpec.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/BodyWithPrimitives.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/ParameterExtractor.scala
  sdk/scala-sdk-protobuf/src/test/scala/kalix/scalasdk/JsonSupportSpec.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1735 fix: skipping state update for finished workflow
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/DummyWorkflow.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk
