Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-11, with the labels that each got.

#1830 chore: improving workflow docs
  docs/src/modules/java/pages/workflows.adoc
Labels: Documentation, kalix-proxy

#1831 chore: improving running locally
  docs/src/modules/java/pages/running-locally.adoc
Labels: Documentation, kalix-proxy

#1832 fix: metadata support in code first testkit
  sdk/java-sdk-spring-testkit/src/main/java/kalix/javasdk/testkit/ActionTestkit.java
  sdk/java-sdk-spring-testkit/src/main/java/kalix/javasdk/testkit/EventSourcedTestKit.java
  sdk/java-sdk-spring-testkit/src/main/java/kalix/javasdk/testkit/ValueEntityTestKit.java
  sdk/java-sdk-spring-testkit/src/test/java/spring/testmodels/actions/EchoAction.java
  sdk/java-sdk-spring-testkit/src/test/java/spring/testmodels/actions/EchoActionTest.java
  sdk/java-sdk-spring-testkit/src/test/java/spring/testmodels/eventsourced/CounterEventSourcedEntity.java
  sdk/java-sdk-spring-testkit/src/test/java/spring/testmodels/eventsourced/CounterEventSourcedEntityTest.java
  sdk/java-sdk-spring-testkit/src/test/java/spring/testmodels/valueentity/CounterValueEntity.java
  sdk/java-sdk-spring-testkit/src/test/java/spring/testmodels/valueentity/CounterValueEntityTest.java
Labels: kalix-runtime, java-sdk

#1836 docs: add note to Value Entities not being Value Objects
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  docs/src/modules/java/pages/value-entity.adoc
Labels: Documentation, kalix-runtime

#1839 fix: validate compound ids order in the path
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/valueentity/ValueEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ValueEntityDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

#1841 Small language changes to views.adoc
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-runtime

#1840 fix: supporting compound key in component client
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/valueentities/user/CompoundIdCounterEntity.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ActionCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ComponentClient.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/EventSourcedEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ValueEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ViewCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/WorkflowCallBuilder.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/client/ComponentCall.scala
Labels: kalix-runtime, java-sdk

#1847 fix: user friendly name of the kalix proxy docker container
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-views-quickstart/docker-compose.yml
  samples/java-spring-eventsourced-counter/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-shopping-cart/docker-compose.yml
  samples/java-spring-fibonacci-action/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/java-spring-shopping-cart-quickstart/docker-compose.yml
  samples/java-spring-transfer-workflow-compensation/docker-compose.yml
  samples/java-spring-transfer-workflow/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-shopping-cart/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1846 docs: improving eventing testkit configuration documentation
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerActionWithKafkaIntegrationTest.java
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationWithRealPubSubTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/TestKitConfig.java
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/valueentities/user/CompoundIdCounterEntity.java
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1848 docs: changing the file name
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationWithRealPubSubTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/TestKitConfiguration.java
Labels: Documentation, kalix-runtime, java-sdk

#1850 fix: calling a view with more than one parameter
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UsersByEmailAndName.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/client/ComponentCall.scala
Labels: kalix-runtime, java-sdk

#1852 fix: fixing eventing testkit timeout
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

#1853 fix: Discover and health check with service incarnation
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

#1861 fix: ensure KalixClient is configured before used
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
Labels: kalix-runtime, java-sdk

#1864 Correct GetCustomer to return non-null Address.
  samples/scala-protobuf-customer-registry-quickstart/src/main/scala/customer/domain/Customer.scala
Labels: kalix-runtime, scala-sdk-protobuf

#1863 docs: views integration tests
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java/pages/views.adoc
  samples/java-protobuf-valueentity-customer-registry/src/it/java/customer/view/CustomersResponseByCityViewIntegrationTest.java
  samples/java-protobuf-valueentity-customer-registry/src/main/java/customer/Main.java
  samples/java-protobuf-valueentity-customer-registry/src/main/java/customer/view/CustomersResponseByCityView.java
  samples/java-protobuf-valueentity-customer-registry/src/main/proto/customer/api/customer_api.proto
  samples/java-protobuf-valueentity-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomersByNameViewIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByNameView.java
  samples/java-spring-valueentity-customer-registry/src/it/java/customer/CustomerIntegrationTest.java
  samples/java-spring-valueentity-customer-registry/src/it/java/customer/view/CustomersResponseByCityIntegrationTest.java
  samples/java-spring-valueentity-customer-registry/src/it/resources/logback-test.xml
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/view/CustomersResponseByCity.java
  samples/scala-protobuf-valueentity-customer-registry/src/main/proto/customer/api/customer_api.proto
  samples/scala-protobuf-valueentity-customer-registry/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-valueentity-customer-registry/src/main/scala/customer/Main.scala
  samples/scala-protobuf-valueentity-customer-registry/src/main/scala/customer/view/CustomersResponseByCityView.scala
  samples/scala-protobuf-valueentity-customer-registry/src/test/scala/customer/view/CustomersResponseByCityViewIntegrationSpec.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1870 Update query-syntax-reference.adoc
  docs/src/modules/java-protobuf/partials/query-syntax-reference.adoc
Labels: Documentation, kalix-runtime

#1867 Reminder to announce in the public Slack channel
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime

#1866 bumps: current Maven plugins
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/java-protobuf-customer-registry-kafka-quickstart/pom.xml
  samples/java-protobuf-customer-registry-quickstart/pom.xml
  samples/java-protobuf-customer-registry-views-quickstart/pom.xml
  samples/java-protobuf-doc-snippets/pom.xml
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
  samples/java-protobuf-eventsourced-shopping-cart/pom.xml
  samples/java-protobuf-fibonacci-action/pom.xml
  samples/java-protobuf-first-service/pom.xml
  samples/java-protobuf-reliable-timers/pom.xml
  samples/java-protobuf-replicatedentity-examples/pom.xml
  samples/java-protobuf-replicatedentity-shopping-cart/pom.xml
  samples/java-protobuf-shopping-cart-quickstart/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter/pom.xml
  samples/java-protobuf-valueentity-customer-registry/pom.xml
  samples/java-protobuf-valueentity-shopping-cart/pom.xml
  samples/java-protobuf-view-store/pom.xml
  samples/java-protobuf-web-resources/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: Documentation, kalix-runtime, java-sdk-protobuf, java-sdk

#1875 test: increase flaky test timeout
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerActionIntegrationTest.java
Labels: kalix-runtime, java-sdk-protobuf

#1872 chore: refactor escaping of artifactId on templates
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
Labels: kalix-runtime, java-sdk-protobuf

#1869 docs: improved component's javadoc and scaladoc
  docs/src/modules/java-protobuf/partials/actions.adoc
  docs/src/modules/java-protobuf/partials/eventsourced.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/partials/actions.adoc
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/view/View.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/Workflow.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/view/View.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#1879 bump: remove direct dependency on commons-compress
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk-protobuf

#1881 chore: split JUnit4/Jupiter testkit classes
  codegen/java-gen/src/main/scala/kalix/codegen/java/EntityServiceSourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/absolute-packages/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/domain-in-service-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style-with-java-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/named-new-style/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/unnamed-new-style/generated-integration-unmanaged/org/example/eventsourcedentity/CounterServiceEntityIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-absolute-packages/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-domain-in-service-package/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-key-value-in-different-pacakge/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-named-new-style/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-scalar-named-new-style/generated-integration-unmanaged/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/replicated-entity/multimap-unnamed-new-style/generated-integration-unmanaged/com/example/replicated/multimap/MultiMapServiceEntityIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/absolute-packages/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/domain-in-service-package/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/named-new-style/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/state-events-in-different-pacakge/generated-integration-unmanaged/org/example/valueentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/value-entity/unnamed-new-style/generated-integration-unmanaged/org/example/valueentity/CounterServiceEntityIntegrationTest.java
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerActionIntegrationTest.java
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerActionWithKafkaIntegrationTest.java
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-protobuf-customer-registry-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-protobuf-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-protobuf-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByEmailIntegrationTest.java
  samples/java-protobuf-customer-registry-views-quickstart/src/it/java/customer/view/CustomerByNameIntegrationTest.java
  samples/java-protobuf-doc-snippets/src/it/java/com/example/JwtIntegrationTest.java
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  samples/java-protobuf-eventsourced-customer-registry/src/it/java/customer/api/CustomerEntityIntegrationTest.java
  samples/java-protobuf-eventsourced-shopping-cart/src/it/java/com/example/shoppingcart/ShoppingCartIntegrationTest.java
  samples/java-protobuf-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/java-protobuf-first-service/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-protobuf-reliable-timers/src/it/java/com/example/OrderIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/counter/SomeCounterIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/countermap/SomeCounterMapIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/map/SomeMapIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/multimap/SomeMultiMapIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/register/SomeRegisterIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/registermap/SomeRegisterMapIntegrationTest.java
  samples/java-protobuf-replicatedentity-examples/src/it/java/com/example/replicated/set/SomeSetIntegrationTest.java
  samples/java-protobuf-replicatedentity-shopping-cart/src/it/java/com/example/shoppingcart/ShoppingCartIntegrationTest.java
  samples/java-protobuf-shopping-cart-quickstart/src/it/java/shopping/cart/api/ShoppingCartEntityIntegrationTest.java
  samples/java-protobuf-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-protobuf-valueentity-customer-registry/src/it/java/customer/api/CustomerValueEntityIntegrationTest.java
  samples/java-protobuf-valueentity-customer-registry/src/it/java/customer/view/CustomersResponseByCityViewIntegrationTest.java
  samples/java-protobuf-valueentity-shopping-cart/src/it/java/com/example/shoppingcart/ShoppingCartIntegrationTest.java
  samples/java-protobuf-view-store/src/it/java/store/customer/api/CustomerEntityIntegrationTest.java
  samples/java-protobuf-view-store/src/it/java/store/order/api/OrderEntityIntegrationTest.java
  samples/java-protobuf-view-store/src/it/java/store/product/api/ProductEntityIntegrationTest.java
  samples/java-protobuf-view-store/src/it/java/store/view/joined/JoinedCustomerOrdersViewIntegrationTest.java
  samples/java-protobuf-view-store/src/it/java/store/view/nested/NestedCustomerOrdersViewIntegrationTest.java
  samples/java-protobuf-view-store/src/it/java/store/view/structured/StructuredCustomerOrdersViewIntegrationTest.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/KalixTestKitResource.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/jupiter/KalixDescriptor.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/jupiter/KalixTest.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/jupiter/KalixTestKitExtension.java
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1883 chore: remove obsolete jvm properties
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-views-quickstart/docker-compose.yml
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/java-spring-eventsourced-counter/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-shopping-cart/docker-compose.yml
  samples/java-spring-fibonacci-action/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/java-spring-shopping-cart-quickstart/docker-compose.yml
  samples/java-spring-transfer-workflow-compensation/docker-compose.yml
  samples/java-spring-transfer-workflow/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-shopping-cart/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
  sdk/java-sdk-spring/docker-compose-integration.yml
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1885 Suggest KCR setup in Maven archetypes and the samples
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  samples/java-protobuf-customer-registry-kafka-quickstart/pom.xml
  samples/java-protobuf-customer-registry-quickstart/pom.xml
  samples/java-protobuf-customer-registry-views-quickstart/pom.xml
  samples/java-protobuf-doc-snippets/pom.xml
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
  samples/java-protobuf-eventsourced-shopping-cart/pom.xml
  samples/java-protobuf-fibonacci-action/pom.xml
  samples/java-protobuf-first-service/pom.xml
  samples/java-protobuf-reliable-timers/pom.xml
  samples/java-protobuf-replicatedentity-examples/pom.xml
  samples/java-protobuf-replicatedentity-shopping-cart/pom.xml
  samples/java-protobuf-shopping-cart-quickstart/pom.xml
  samples/java-protobuf-valueentity-counter/pom.xml
  samples/java-protobuf-valueentity-customer-registry/pom.xml
  samples/java-protobuf-valueentity-shopping-cart/pom.xml
  samples/java-protobuf-view-store/pom.xml
  samples/java-protobuf-web-resources/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build-customer-service-image.sh
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1886 feat: allow Config injection
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/badwiring/workflow/IllDefinedWorkflow.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/badwiring/workflow/Main.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/KalixSpringApplicationSpec.scala
Labels: kalix-runtime, java-sdk-protobuf, java-sdk

#1892 docs: code highlight missing in views page
  docs/src/modules/java-protobuf/pages/views.adoc
Labels: Documentation, kalix-runtime
