Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-10, with the labels that each got.

#1804 bump: protobuf-java 3.21.12 (was 3.21.1)
  project/Dependencies.scala
Labels: kalix-proxy, CVE

#1805 bump: require Maven 3.5.0; plugin bumps
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/pom.xml
Labels: kalix-proxy, java-sdk-protobuf

#1806 bump: require Maven 3.6.0 (align with docs)
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/pom.xml
Labels: kalix-proxy, java-sdk-protobuf

#1807 bump: align Akka gRPC version in Maven with sbt
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/java-protobuf-customer-registry-kafka-quickstart/pom.xml
  samples/java-protobuf-customer-registry-quickstart/pom.xml
  samples/java-protobuf-customer-registry-views-quickstart/pom.xml
  samples/java-protobuf-doc-snippets/pom.xml
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
  samples/java-protobuf-eventsourced-shopping-cart/pom.xml
  samples/java-protobuf-fibonacci-action/pom.xml
  samples/java-protobuf-first-service/pom.xml
  samples/java-protobuf-replicatedentity-examples/pom.xml
  samples/java-protobuf-replicatedentity-shopping-cart/pom.xml
  samples/java-protobuf-shopping-cart-quickstart/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter/pom.xml
  samples/java-protobuf-valueentity-customer-registry/pom.xml
  samples/java-protobuf-valueentity-shopping-cart/pom.xml
  samples/java-protobuf-view-store/pom.xml
  samples/java-protobuf-web-resources/pom.xml
Labels: Documentation, kalix-proxy, java-sdk-protobuf

#1809 bump: Spring 6.0.13 (was 6.0.9); Boot 3.1.4 (was 3.1.0)
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1808 bump: Logback 1.4.11 (was 1.4.5) and SLF4J 2.0.9 (was 2.0.6)
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/logging/KalixJoranConfigurator.scala
Labels: kalix-proxy, java-sdk-protobuf

#1799 docs: document service level jwt
  docs/src/modules/java/pages/using-jwts.adoc
  samples/java-spring-doc-snippets/src/main/java/com/example/jwt/HelloJwtAction.java
  samples/java-spring-doc-snippets/src/main/java/com/example/jwt/JWTAction.java
Labels: Documentation, kalix-proxy, java-sdk

#1763 feat: adding traces to UF components
  .gitignore
  codegen/java-gen/src/main/scala/kalix/codegen/java/EventSourcedEntitySourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/README.md
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-integration-unmanaged/org/example/eventsourcedentity/CounterIntegrationTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-managed/org/example/Components.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-managed/org/example/ComponentsImpl.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-managed/org/example/KalixFactory.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-managed/org/example/eventsourcedentity/domain/AbstractCounter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-managed/org/example/eventsourcedentity/domain/CounterProvider.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-managed/org/example/eventsourcedentity/domain/CounterRouter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-test-managed/org/example/eventsourcedentity/domain/CounterTestKit.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-test-unmanaged/org/example/eventsourcedentity/domain/CounterTest.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/generated-unmanaged/org/example/eventsourcedentity/domain/Counter.java
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/proto/counter_api.proto
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/proto/counter_events.proto
  codegen/java-gen/src/test/resources/tests/event-sourced-entity/state-events-in-different-package/proto/counter_state.proto
  codegen/scala-gen/src/test/resources/tests/README.md
  project/Dependencies.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-spring/docker-compose-integration.yml
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/tracingcounter/TCounter.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/tracingcounter/TCounterEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/tracingcounter/TCounterEvent.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/tracingcounter/TIncreaseAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/DockerIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PubSubIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/tracing/Batches.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/tracing/Traces.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/tracing/TracingIntegratonTest.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/action/ReflectiveActionRouter.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/tempo-query.yaml
  sdk/java-sdk-spring/tempo.yaml
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityAdapters.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1813 test: update some test timing for projections
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/DockerIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/tracing/TracingIntegratonTest.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1821 fix: workflow input decoding
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
Labels: kalix-proxy, java-sdk-protobuf

#1817 fix: remove thread local based wiring
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/badwiring/workflow/IllDefinedWorkflow.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/badwiring/workflow/Main.java
Labels: kalix-proxy, java-sdk

#1811 feat: adding tracing for Value Entities #9381
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
Labels: kalix-proxy, java-sdk-protobuf

#1829 fix: support HTTP status codes in workflows effect
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/Workflow.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowEffectImpl.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk
