Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-06, with the labels that each got.

#1662 chore: missing test generated classes
  samples/java-protobuf-eventsourced-counter/src/test/java/com/example/actions/CounterJournalToTopicWithMetaActionTest.java
  samples/java-protobuf-eventsourced-counter/src/test/java/com/example/actions/CounterTopicSubscriptionActionTest.java
  samples/scala-protobuf-customer-registry-quickstart/src/test/scala/customer/api/CustomerServiceIntegrationSpec.scala
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/actions/CounterJournalToTopicWithMetaActionSpec.scala
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/actions/CounterTopicSubscriptionActionSpec.scala
  samples/scala-protobuf-first-service/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1586 feat: eventing out integration testkit for protocol-first
  .github/workflows/ci.yml
  build.sbt
  project/Dependencies.scala
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerActionIntegrationTest.java
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/resources/logback-test.xml
  samples/java-protobuf-customer-registry-kafka-quickstart/src/main/java/customer/action/CustomerStateSubscriptionAction.java
  samples/java-protobuf-customer-registry-kafka-quickstart/src/main/java/customer/domain/Customer.java
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/EventingTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixProxyContainer.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/KalixTestKitResource.java
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/impl/TopicImplSpec.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Kalix.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/EventingTestKit.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/Kalix.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1665 chore: fix double counter action in sample
  samples/java-spring-valueentity-counter/src/main/java/com/example/action/DoubleCounterAction.java
Labels: kalix-proxy, java-sdk

#1666 chore: update release-issue-template.md
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#1621 feat: eventing-in testkit for protocol-first
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  samples/java-protobuf-eventsourced-counter/src/it/resources/logback-test.xml
  samples/java-protobuf-eventsourced-counter/src/main/java/com/example/Main.java
  samples/java-protobuf-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicAction.java
  samples/java-protobuf-eventsourced-counter/src/main/java/com/example/actions/CounterTopicSubscriptionAction.java
  samples/java-protobuf-eventsourced-counter/src/main/java/com/example/domain/Counter.java
  samples/java-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/java-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic_sub.proto
  samples/java-protobuf-eventsourced-counter/src/test/java/com/example/actions/CounterCommandFromTopicActionTest.java
  samples/java-protobuf-eventsourced-counter/src/test/java/com/example/domain/CounterTest.java
  samples/scala-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic.proto
  samples/scala-protobuf-eventsourced-counter/src/main/proto/com/example/actions/counter_topic_sub.proto
  samples/scala-protobuf-eventsourced-counter/src/main/scala/com/example/Main.scala
  samples/scala-protobuf-eventsourced-counter/src/main/scala/com/example/actions/CounterCommandFromTopicAction.scala
  samples/scala-protobuf-eventsourced-counter/src/main/scala/com/example/actions/CounterJournalToTopicAction.scala
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/actions/CounterCommandFromTopicActionSpec.scala
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/EventingTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/impl/TopicImplSpec.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/EventingTestKit.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventingTestKitImpl.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1673 fix: an Action should not mix subscription and rest annotations
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/DummyCustomerStore.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PubSubIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/SubscribeToCounterEventsTopic.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1675 fix: file description name with package name to avoid collisions
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/headers/EchoAction.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ProtoDescriptorGenerator.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1677 chore: logs in integration tests be plain text by default
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/it/resources/logback-test.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/src/it/resources/logback-test.xml
Labels: kalix-proxy, java-sdk-protobuf

#1682 Docs
  docs/src/modules/java/pages/side-effects.adoc
  docs/src/modules/java/pages/views.adoc
  samples/java-spring-doc-snippets/src/main/java/com/example/acl/MyAction.java
Labels: Documentation, kalix-proxy, java-sdk

#1684 docs: fix content-type value for cloudevents
  docs/src/modules/java/pages/serialization.adoc
Labels: Documentation, kalix-proxy

#1663 feat: eventing teskit for java sdk
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/resources/logback-test.xml
  samples/java-spring-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicAction.java
  samples/java-spring-eventsourced-counter/src/test/resources/logback-test.xml
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/EventingTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/impl/TopicImplSpec.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1690 fix: scala/java tab group
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
Labels: Documentation, kalix-proxy

#1679 chore: minor fixes
  sdk/java-sdk-spring/src/it/java/com/example/wiring/valueentities/customer/CustomerEntity.java
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
Labels: kalix-proxy, java-sdk

#1688 docs: eventing testkit in protocol-first sdks
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/images/eventing-testkit-sample.svg
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  samples/java-protobuf-eventsourced-counter/src/test/resources/logback-test.xml
  samples/scala-protobuf-eventsourced-counter/src/test/resources/logback-test.xml
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
Labels: Documentation, kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1691 docs: eventing testkit for java sdk
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/partials/eventing-testkit-intro.adoc
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicAction.java
  samples/scala-protobuf-eventsourced-counter/src/test/scala/com/example/CounterServiceIntegrationSpec.scala
Labels: Documentation, kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1695 ci: fix proxy version update script
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  sdk/java-sdk-spring/docker-compose-integration.yml
  updateProxyVersions.sh
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1696 fix: set current state before handling commands
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntityRouter.scala
Labels: kalix-proxy, java-sdk-protobuf

#1697 docs: use entity id instead of key
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java/pages/spring-boot-integration.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/partials/entity-ids.adoc
  samples/java-spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartEntity.java
  samples/java-spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/valueentity/ValueEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/workflow/WorkflowTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ValueEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/WorkflowEntityDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, java-sdk

#1698 fix: forward all docker-compose output to stdout
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
Labels: kalix-proxy

#1700 docs(java-sdk): simplify left-side menu by merging pages
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/actions-as-controller.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/service-to-service.adoc
  docs/src/modules/java/pages/side-effects.adoc
  docs/src/modules/java/pages/spring-boot-integration.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-proxy

#1705 docs(protocol-first): simplify left-side menu by merging pages
  docs/src/modules/java-protobuf/nav.adoc
  docs/src/modules/java-protobuf/pages/actions-as-controller.adoc
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/actions.adoc
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
  docs/src/modules/java-protobuf/pages/replicated-entity-crdt.adoc
  docs/src/modules/java-protobuf/pages/serialization.adoc
  docs/src/modules/java-protobuf/pages/service-to-service.adoc
  docs/src/modules/java-protobuf/pages/side-effects.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
Labels: Documentation, kalix-proxy

#1685 feat: typed component client
  project/Dependencies.scala
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/ActionWithMetadata.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/ShortenedEchoAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/Counter.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/valueentities/user/ValidateUserAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UserWithId.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/FailingCounterEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithFraudDetection.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithoutInputs.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WalletEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithDefaultRecoverStrategy.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithRecoverStrategy.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithStepTimeout.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithTimeout.java
  sdk/java-sdk-spring/src/it/java/kalix/spring/KalixConfigurationTest.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ActionCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ComponentClient.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/EventSourcedEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ValueEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/WorkflowCallBuilder.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/client/ComponentCall.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/EntityDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/client/MethodRefResolver.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/http/HttpEndpointMethodDefinition.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/IdExtractor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/boot/KalixConfiguration.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/RestKalixClientImpl.scala
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/client/ComponentClientTest.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/Message.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/ActionsTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/EchoAction.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/valueentity/Counter.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/RestKalixClientImplSpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ValueEntityDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1708 Simplify Workflows intro paragraph
  docs/src/modules/java/pages/workflows.adoc
Labels: Documentation, kalix-proxy

#1699 docs: add section on how to identify Workflows
  docs/src/modules/java/pages/workflows.adoc
Labels: Documentation, kalix-proxy

#1706 feat: component client samples update
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/timers.adoc
  samples/java-spring-eventsourced-counter/src/main/java/com/example/actions/CounterCommandFromTopicAction.java
  samples/java-spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/java-spring-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciAction.java
  samples/java-spring-fibonacci-action/src/main/java/com/example/fibonacci/LimitedFibonacciAction.java
  samples/java-spring-fibonacci-action/src/test/java/com/example/fibonacci/FibonacciActionTest.java
  samples/java-spring-reliable-timers/src/it/resources/logback-test.xml
  samples/java-spring-reliable-timers/src/main/java/com/example/actions/OrderAction.java
  samples/java-spring-reliable-timers/src/main/java/com/example/domain/OrderEntity.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/transfer/TransferWorkflow.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/wallet/WalletEntity.java
  samples/java-spring-transfer-workflow/src/main/java/com/example/transfer/TransferWorkflow.java
  samples/java-spring-valueentity-counter/src/main/java/com/example/action/DoubleCounterAction.java
  samples/java-spring-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartController.java
  samples/java-spring-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEntity.java
Labels: Documentation, kalix-proxy, java-sdk

#1711 chore: KalixClient deprecation
  sdk/java-sdk-spring/src/main/scala/kalix/spring/KalixClient.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/RestKalixClientImpl.scala
Labels: kalix-proxy, java-sdk

#1717 docs: fix missing image in eventing testkit
  docs/src/modules/java/partials/eventing-testkit-intro.adoc
Labels: Documentation, kalix-proxy

#1721 build: Bump sbt 1.9.1, include release notes url in pom
  .circleci/config.yml
  project/Common.scala
  project/build.properties
  samples/java-spring-fibonacci-action/project/build.properties
  samples/scala-protobuf-customer-registry-quickstart/project/build.properties
  samples/scala-protobuf-doc-snippets/project/build.properties
  samples/scala-protobuf-eventsourced-counter/project/build.properties
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/project/build.properties
  samples/scala-protobuf-eventsourced-customer-registry/project/build.properties
  samples/scala-protobuf-eventsourced-shopping-cart/project/build.properties
  samples/scala-protobuf-fibonacci-action/project/build.properties
  samples/scala-protobuf-first-service/project/build.properties
  samples/scala-protobuf-reliable-timers/project/build.properties
  samples/scala-protobuf-replicatedentity-examples/project/build.properties
  samples/scala-protobuf-replicatedentity-shopping-cart/project/build.properties
  samples/scala-protobuf-valueentity-counter/project/build.properties
  samples/scala-protobuf-valueentity-customer-registry/project/build.properties
  samples/scala-protobuf-valueentity-shopping-cart/project/build.properties
  samples/scala-protobuf-view-store/project/build.properties
  samples/scala-protobuf-web-resources/project/build.properties
Labels: kalix-proxy, scala-sdk-protobuf, java-sdk

#1718 fix!: update enum for gpubsub and add docs
  .github/workflows/ci.yml
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  samples/java-protobuf-customer-registry-kafka-quickstart/src/it/java/customer/api/CustomerActionIntegrationTest.java
  samples/java-spring-eventsourced-counter/README.md
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationWithRealPubSubTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/TestkitConfig.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: Documentation, kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1723 docs: rewording regarding public/private interfaces
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/value-entity.adoc
Labels: Documentation, kalix-proxy
