Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-01, with the labels that each got.

#1377 fix: better error message for value entity subscription
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/Validations.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ViewDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/view/ViewTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, spring-sdk

#1387 docs: fix bad-formatted link in views reference
  docs/src/modules/java/partials/query-syntax-reference.adoc
Labels: Documentation, kalix-proxy

#1386 fix: CPU arch detection for docker build fix
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-first-service/build.sbt
  samples/scala-reliable-timers/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
  samples/scala-view-store/build.sbt
Labels: kalix-proxy, scala-sdk

#1390 feat: Remove some unused imports.
  sdk/java-sdk/src/main/java/kalix/javasdk/action/ActionContext.java
  sdk/java-sdk/src/main/java/kalix/javasdk/action/ActionOptions.java
  sdk/java-sdk/src/main/java/kalix/javasdk/logging/LogbackJsonLayout.java
  sdk/java-sdk/src/main/java/kalix/javasdk/view/ViewContext.java
Labels: kalix-proxy, java-sdk

#1392 docs(spring-sdk): update supported types for views
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/partials/query-syntax-reference.adoc
  docs/src/modules/spring/pages/views.adoc
  sdk/java-sdk/src/main/resources/reference.conf
Labels: Documentation, kalix-proxy, java-sdk

#1398 fix: codegen for multi-table views with `View` in their name
  codegen/java-gen/src/main/scala/kalix/codegen/java/ViewServiceSourceGenerator.scala
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/KalixFactory.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AbstractAnotherCustomerOrdersView.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AnotherCustomerOrdersViewProvider.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AnotherCustomerOrdersViewRouter.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/Main.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/view/AnotherCustomerOrdersViewImpl.java
  codegen/java-gen/src/test/resources/tests/view-service/view-multiple-tables/proto/customer_orders.proto
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/ViewServiceSourceGenerator.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/KalixFactory.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AbstractAnotherCustomerOrdersView.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AnotherCustomerOrdersViewProvider.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-managed/org/example/view/AnotherCustomerOrdersViewRouter.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/Main.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/generated-unmanaged/org/example/view/AnotherCustomerOrdersViewImpl.scala
  codegen/scala-gen/src/test/resources/tests/view-service/view-multiple-tables/proto/customer_orders.proto
Labels: kalix-proxy, java-sdk, scala-sdk

#1399 feat: support async calls and waitForInput
  sdk/java-sdk/src/main/java/kalix/javasdk/workflow/Workflow.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/java-sdk/src/test/java/kalix/javasdk/workflow/TransferWorkflow.java
  sdk/java-sdk/src/test/java/kalix/javasdk/workflow/TransferWorkflowRouter.java
  sdk/java-sdk/src/test/proto/workflow/transfer_workflow.proto
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/workflow/WorkflowImplSpec.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/workflow/WorkflowMessages.scala
Labels: kalix-proxy, java-sdk

#1395 feat: workflows support in Spring SDK
  project/Dependencies.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/XComponentCallsIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/actions/echo/ShortenedEchoAction.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/Balance.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/Deposit.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/Transfer.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/TransferState.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/TransferWorkflow.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/Wallet.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/WalletEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflow/Withdraw.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/workflow/ReflectiveWorkflowProvider.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/ComponentDescriptorFactory.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/workflow/ReflectiveWorkflowRouter.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/workflow/StartWorkflow.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/workflow/WorkflowState.java
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/workflow/WorkflowTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/SpringSdkMessageCodecSpec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/WorkflowDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1405 chore: testing async calls and wait for input in Spring SDK
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/FraudDetectionResult.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/Main.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferState.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithFraudDetection.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/WalletEntity.java
Labels: kalix-proxy, spring-sdk

#1406 chore: using HTTP status codes for ACL denyCode #1348
  docs/src/modules/spring/pages/access-control.adoc
  samples/spring-doc-snippets/src/main/java/com/example/acl/MyAction.java
  samples/spring-doc-snippets/src/main/java/com/example/acl/UserAction.java
  sdk/spring-sdk/src/main/java/kalix/springsdk/annotations/Acl.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/AclDescriptorFactory.scala
  sdk/spring-sdk/src/test/java/kalix/springsdk/testmodels/AclTestModels.java
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/AclDescriptorFactorySpec.scala
Labels: Documentation, kalix-proxy, spring-sdk

#1410 chore(spring-sdk): improve msg for null serialization error
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/test/scala/kalix/springsdk/impl/SpringSdkMessageCodecSpec.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1411 feat: KALIX_TESTKIT_USE_TEST_CONTAINERS env to disable testcontainers
  sdk/java-sdk-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
Labels: kalix-proxy, java-sdk

#1412 feat: pause and no-transition
  project/Dependencies.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/workflowentity/WorkflowEntity.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityImpl.scala
  sdk/java-sdk/src/test/java/kalix/javasdk/workflowentity/TransferWorkflowEntity.java
  sdk/java-sdk/src/test/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityImplSpec.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithFraudDetection.java
Labels: kalix-proxy, java-sdk, spring-sdk

#1415 bump: spring boot in java spring client sample to 2.7.8
  samples/java-valueentity-counter-spring-client/pom.xml
Labels: kalix-proxy, java-sdk

#1419 chore: fix java snipped for paging in query
  docs/src/modules/java/partials/query-syntax-paging.adoc
Labels: Documentation, kalix-proxy

#1422 doc: remove Spring SDK beta label
  docs/src/modules/spring/pages/index.adoc
Labels: Documentation, kalix-proxy

#1376 feat: update to spring 3
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-doc-snippets/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-valueentity-counter/pom.xml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk, spring-sdk

#1421 feat: improved workflow error handling is sdk
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/EntityExceptions.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityRouter.scala
  sdk/java-sdk/src/test/scala/kalix/testkit/workflowentity/WorkflowMessages.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
Labels: kalix-proxy, java-sdk, spring-sdk

#1417 removing reference to roadmap
  sdk/spring-sdk/README.md
Labels: kalix-proxy, spring-sdk

#1361 feat: Delete Entity
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/value-entity.adoc
  docs/src/modules/spring/pages/views.adoc
  samples/java-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/java-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/domain/shoppingcart_domain.proto
  samples/java-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/shoppingcart_api.proto
  samples/java-valueentity-counter/src/main/java/com/example/actions/CounterStateSubscriptionAction.java
  samples/java-valueentity-counter/src/main/java/com/example/domain/Counter.java
  samples/java-valueentity-counter/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/java-valueentity-counter/src/test/java/com/example/actions/CounterStateSubscriptionActionTest.java
  samples/java-valueentity-customer-registry/src/main/java/customer/domain/CustomerValueEntity.java
  samples/java-valueentity-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/scala-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/domain/shoppingcart_domain.proto
  samples/scala-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/shoppingcart_api.proto
  samples/scala-eventsourced-shopping-cart/src/main/scala/com/example/shoppingcart/domain/ShoppingCart.scala
  samples/scala-valueentity-counter/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/scala-valueentity-counter/src/main/scala/com/example/actions/CounterStateSubscriptionAction.scala
  samples/scala-valueentity-counter/src/main/scala/com/example/domain/Counter.scala
  samples/scala-valueentity-customer-registry/src/main/scala/customer/domain/CustomerValueEntity.scala
  samples/scala-valueentity-shopping-cart/src/main/scala/com/example/shoppingcart/domain/ShoppingCart.scala
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartEntity.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCart.java
  samples/spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/domain/ShoppingCartEvent.java
  samples/spring-eventsourced-shopping-cart/src/test/java/com/example/shoppingcart/domain/ShoppingCartTest.java
  samples/spring-valueentity-counter/src/main/java/com/example/CounterEntity.java
  samples/spring-valueentity-shopping-cart/src/main/java/com/example/api/ShoppingCartEntity.java
  sdk/java-sdk-testkit/src/main/scala/kalix/javasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk/src/main/resources/reference.conf
  sdk/java-sdk/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntityRouter.scala
  sdk/java-sdk/src/test/java/kalix/javasdk/valueentity/CartEntity.java
  sdk/java-sdk/src/test/scala/kalix/testkit/valueentity/ValueEntityMessages.scala
  sdk/scala-sdk-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
  sdk/spring-sdk-testkit/src/test/java/springsdk/testmodels/valueentity/CounterValueEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/UserEntity.java
  tck/java-tck/src/main/java/kalix/tck/model/valueentity/ValueEntityTckModelEntity.java
  tck/scala-tck/src/main/scala/kalix/tck/model/valueentity/ValueEntityTckModelEntity.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk, spring-sdk
