Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-03, with the labels that each got.

#1512 docs: drop obsolete view data
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-proxy

#1513 chore: fix version checker for java-spring
  docs/Makefile
Labels: Documentation, kalix-proxy

#1514 chore: fix some samples docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-spring-eventsourced-counter/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
Labels: kalix-proxy, java-sdk, java-protobuf-sdk, scala-protobuf-sdk

#1515 chore: add redirects from spring to java
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/actions-as-controller.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/call-another-service.adoc
  docs/src/modules/java/pages/development-process.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/failures-and-errors.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-spring.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/service-to-service.adoc
  docs/src/modules/java/pages/side-effects.adoc
  docs/src/modules/java/pages/spring-boot-integration.adoc
  docs/src/modules/java/pages/timers.adoc
  docs/src/modules/java/pages/using-jwts.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflow-entities.adoc
Labels: Documentation, kalix-proxy

#1521 fix: use correct env var syntax for docker-compose
  docs/src/modules/java-protobuf/partials/query-syntax-advanced.adoc
Labels: Documentation, kalix-proxy

#1522 docs: add migration guide from 1.1.x to 1.2.x
  docs/migration-guides.md
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-proxy

#1524 chore: align environment var syntax
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
Labels: kalix-proxy, java-sdk, java-protobuf-sdk, scala-protobuf-sdk

#1526 chore: log that Kalix Application is starting
  sdk/java-sdk-spring-testkit/src/main/java/kalix/spring/testkit/KalixIntegrationTestKitSupport.java
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
Labels: kalix-proxy, java-sdk

#1528 chore: adapt release draft and labeler
  .github/labeler.yml
  .github/release-drafter.yml
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/actions/EchoAction.java
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/actions/EchoActionTest.java
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/eventsourced/CounterEventSourcedEntity.java
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/eventsourced/CounterEventSourcedEntityTest.java
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/eventsourced/Increased.java
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/valueentity/CounterValueEntity.java
  sdk/spring-sdk-testkit/src/test/java/kalix/javasdk/testmodels/valueentity/CounterValueEntityTest.java
Labels: kalix-proxy, java-sdk

#1529 chore: zip customer-registry-views quickstart
  docs/Makefile
  samples/java-spring-customer-registry-views-quickstart/.bundleignore
Labels: Documentation, kalix-proxy

#1527 chore: remove mentions to 'Spring SDK'
  .circleci/config.yml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/it/java/__packageInPathFormat__/IntegrationTest.java
  maven-java/kalix-spring-boot-kotlin-archetype/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/src/it/kotlin/__packageInPathFormat__/IntegrationTest.kt
  samples/java-spring-eventsourced-shopping-cart/src/it/java/com/example/IntegrationTest.java
  samples/java-spring-reliable-timers/README.md
  samples/java-spring-transfer-workflow/src/main/java/com/example/Main.java
  samples/java-spring-valueentity-counter/src/it/java/com/example/CounterIntegrationTest.java
  samples/java-spring-valueentity-shopping-cart/src/it/java/com/example/IntegrationTest.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/path/PathPatternParser.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/KalixMethod.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/RestServiceIntrospector.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1519 bump: proxy to 1.1.5
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-views-quickstart/docker-compose.yml
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/java-spring-eventsourced-counter/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-shopping-cart/docker-compose.yml
  samples/java-spring-fibonacci-action/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/java-spring-transfer-workflow/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-shopping-cart/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/workflowentity/WorkflowMessages.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1530 docs: fix ES entity typo
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/workflow-entities.adoc
Labels: Documentation, kalix-proxy

#1520 feat: missing handlers validation for ES Entities and Subscription wh…
  samples/java-spring-eventsourced-counter/src/main/java/com/example/actions/CounterJournalToTopicAction.java
  samples/java-spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/ShoppingCartEntity.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedHandlersExtractor.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EmployeeEvent.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/eventsourceentity/EventSourcedHandlersExtractorSpec.scala
Labels: kalix-proxy, java-sdk

#1536 chore: buy kalix tshirts instead
  samples/java-protobuf-eventsourced-shopping-cart/README.md
  samples/java-protobuf-replicatedentity-shopping-cart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-protobuf-valueentity-shopping-cart/README.md
  samples/java-spring-eventsourced-shopping-cart/README.md
  samples/java-spring-eventsourced-shopping-cart/src/test/java/com/example/shoppingcart/domain/ShoppingCartTest.java
  samples/java-spring-valueentity-shopping-cart/README.md
  samples/scala-protobuf-eventsourced-shopping-cart/README.md
  samples/scala-protobuf-replicatedentity-shopping-cart/README.md
  samples/scala-protobuf-valueentity-shopping-cart/README.md
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1533 chore: align callouts style
  docs/src/modules/java-protobuf/pages/access-control.adoc
  docs/src/modules/java-protobuf/pages/actions-as-controller.adoc
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/actions.adoc
  docs/src/modules/java-protobuf/pages/call-another-service.adoc
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
  docs/src/modules/java-protobuf/pages/serialization.adoc
  docs/src/modules/java-protobuf/pages/service-to-service.adoc
  docs/src/modules/java-protobuf/pages/side-effects.adoc
  docs/src/modules/java-protobuf/pages/timers.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java-protobuf/pages/writing-grpc-descriptors-protobuf.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/actions-as-controller.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/service-to-service.adoc
  docs/src/modules/java/pages/side-effects.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflow-entities.adoc
Labels: Documentation, kalix-proxy

#1532 docs: add page about customer-registry-views
  docs/Makefile
  docs/src/modules/java-protobuf/pages/index.adoc
  docs/src/modules/java-protobuf/pages/quickstart-template.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java/pages/getting-started.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/quickstart/before-you-begin.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-spring.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/create-customer.adoc
  docs/src/modules/java/pages/quickstart/expose-service.adoc
  docs/src/modules/java/pages/quickstart/package-and-deploy.adoc
  docs/src/modules/java/pages/views.adoc
  samples/java-spring-customer-registry-views-quickstart/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-customer-registry-views-quickstart/src/main/java/customer/api/CustomerEntity.java
  samples/java-spring-customer-registry-views-quickstart/src/main/java/customer/domain/Address.java
  samples/java-spring-customer-registry-views-quickstart/src/main/java/customer/domain/Customer.java
  samples/java-spring-customer-registry-views-quickstart/src/main/java/customer/view/CustomerByEmailView.java
  samples/java-spring-customer-registry-views-quickstart/src/main/java/customer/view/CustomersByNameView.java
  samples/java-spring-customer-registry-views-quickstart/src/test/java/customer/api/CustomerEntityTest.java
  samples/java-spring-valueentity-customer-registry/src/it/java/customer/CustomerIntegrationTest.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/Main.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/api/CustomerSummary.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/api/CustomersResponse.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/domain/Address.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/domain/Customer.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/view/CustomerSummaryByName.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/view/CustomersByNameView.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/view/CustomersResponseByCity.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/view/CustomersResponseByName.java
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/view/CustomersStreamByName.java
Labels: Documentation, kalix-proxy, java-sdk

#1535 chore: template mentioning spring-boot plugin
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/README.md
Labels: kalix-proxy, java-sdk-protobuf

#1538 chore: sample's README mention spring-boot plugin
  samples/java-spring-customer-registry-quickstart/README.md
  samples/java-spring-customer-registry-views-quickstart/README.md
  samples/java-spring-eventsourced-counter/README.md
  samples/java-spring-eventsourced-customer-registry/README.md
  samples/java-spring-eventsourced-shopping-cart/README.md
  samples/java-spring-fibonacci-action/README.md
  samples/java-spring-reliable-timers/README.md
  samples/java-spring-valueentity-counter/README.md
  samples/java-spring-valueentity-customer-registry/README.md
  samples/java-spring-valueentity-shopping-cart/README.md
Labels: kalix-proxy, java-sdk

#1540 fix: escaping hypen from view name based on ES entity
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ActionDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1541 fix: fix uberjar - use spring-boot-starter-parent
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1543 fix: junit5 dependency
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1544 fix: remove double shading
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1546 fix: link to maven central
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#1547 chore: update sdk version to 1.2.0
  maven-java/kalix-maven-archetype-event-sourced-entity/pom.xml
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/pom.xml
  maven-java/pom.xml
  samples/java-protobuf-customer-registry-kafka-quickstart/pom.xml
  samples/java-protobuf-customer-registry-quickstart/pom.xml
  samples/java-protobuf-customer-registry-views-quickstart/pom.xml
  samples/java-protobuf-doc-snippets/pom.xml
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
  samples/java-protobuf-eventsourced-shopping-cart/pom.xml
  samples/java-protobuf-fibonacci-action/pom.xml
  samples/java-protobuf-first-service/pom.xml
  samples/java-protobuf-reliable-timers/pom.xml
  samples/java-protobuf-replicatedentity-examples/pom.xml
  samples/java-protobuf-replicatedentity-shopping-cart/pom.xml
  samples/java-protobuf-shopping-cart-quickstart/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter/pom.xml
  samples/java-protobuf-valueentity-customer-registry/pom.xml
  samples/java-protobuf-valueentity-shopping-cart/pom.xml
  samples/java-protobuf-view-store/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/project/plugins.sbt
  samples/scala-protobuf-doc-snippets/project/plugins.sbt
  samples/scala-protobuf-eventsourced-counter/project/plugins.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/project/plugins.sbt
  samples/scala-protobuf-eventsourced-customer-registry/project/plugins.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-fibonacci-action/project/plugins.sbt
  samples/scala-protobuf-first-service/project/plugins.sbt
  samples/scala-protobuf-reliable-timers/project/plugins.sbt
  samples/scala-protobuf-replicatedentity-examples/project/plugins.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-valueentity-counter/project/plugins.sbt
  samples/scala-protobuf-valueentity-customer-registry/project/plugins.sbt
  samples/scala-protobuf-valueentity-shopping-cart/project/plugins.sbt
  samples/scala-protobuf-view-store/project/plugins.sbt
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1551 chore: update sdk names and link
  docs/src/modules/java-protobuf/pages/index.adoc
Labels: Documentation, kalix-proxy

#1553 chore: fixing sample link in workflows docs
  docs/src/modules/java/pages/workflow-entities.adoc
Labels: Documentation, kalix-proxy

#1552 security(ci): lock versions in linting workflow
  .github/workflows/linting.yml
  styles/Vocab/Base/accept.txt
Labels: kalix-proxy
