Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-02, with the labels that each got.

#1430 chore: release 11 and 17 flags
  .circleci/config.yml
  build.sbt
Labels: kalix-proxy

#1423 docs: moving acls and jwts to sdk specific sections
  docs/dev/src/antora.yml
  docs/dev/src/modules/ROOT/partials/grpc/using-acls.adoc
  docs/dev/src/modules/ROOT/partials/grpc/using-jwts.adoc
  docs/src/modules/java/pages/access-control.adoc
  docs/src/modules/java/pages/using-jwts.adoc
  docs/src/modules/spring/pages/access-control.adoc
  docs/src/modules/spring/pages/index.adoc
  docs/src/modules/spring/pages/using-jwts.adoc
Labels: Documentation, kalix-proxy

#1440 fix: create user using 'now' time instead
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/spring-sdk/src/it/java/com/example/wiring/views/CustomerByCreationTime.java
Labels: kalix-proxy, spring-sdk

#1441 fix: use await after restarting an entity
  sdk/spring-sdk/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
Labels: kalix-proxy, spring-sdk

#1443 chore: temporarily disable test using Instant
  di
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
Labels: kalix-proxy, spring-sdk

#1437 chore: Update nexus-staging-maven-plugin for JDK 17, #1435
  maven-java/pom.xml
Labels: kalix-proxy, java-sdk

#1448 ci: fix publish docs on release
  .circleci/config.yml
  docs/bin/deploy.sh
Labels: Documentation, kalix-proxy

#1450 feat: More error details about what service when a cross call fails
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/GrpcDeferredCall.scala
Labels: kalix-proxy, java-sdk

#1452 chore: updating docs and broken link
  di
  docs/README.md
  docs/release-issue-template.md
Labels: Documentation, kalix-proxy

#1428 docs: workflow Spring SDK
  .circleci/config.yml
  docs/src/modules/spring/pages/event-sourced-entities.adoc
  docs/src/modules/spring/pages/workflow-entities.adoc
  project/Dependencies.scala
  samples/spring-transfer-workflow/README.md
  samples/spring-transfer-workflow/docker-compose.yml
  samples/spring-transfer-workflow/pom.xml
  samples/spring-transfer-workflow/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/spring-transfer-workflow/src/it/resources/logback-test.xml
  samples/spring-transfer-workflow/src/main/java/com/example/Main.java
  samples/spring-transfer-workflow/src/main/java/com/example/transfer/FraudDetectionResult.java
  samples/spring-transfer-workflow/src/main/java/com/example/transfer/Message.java
  samples/spring-transfer-workflow/src/main/java/com/example/transfer/TransferState.java
  samples/spring-transfer-workflow/src/main/java/com/example/transfer/TransferWorkflowEntity.java
  samples/spring-transfer-workflow/src/main/java/com/example/wallet/WalletEntity.java
  samples/spring-transfer-workflow/src/main/resources/application.conf
  samples/spring-transfer-workflow/src/main/resources/application.properties
  samples/spring-transfer-workflow/src/main/resources/logback-dev-mode.xml
  samples/spring-transfer-workflow/src/main/resources/logback.xml
  sdk/java-sdk/src/main/java/kalix/javasdk/workflowentity/WorkflowEntity.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityRouter.scala
  sdk/java-sdk/src/test/java/kalix/javasdk/workflowentity/TransferWorkflowEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithFraudDetection.java
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1451 chore: fix logger format in spring samples and archetypes
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/src/main/resources/logback-dev-mode.xml
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/src/main/resources/logback.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/src/main/resources/logback-dev-mode.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/src/main/resources/logback.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/resources/logback-dev-mode.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/resources/logback.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/src/main/resources/logback-dev-mode.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/src/main/resources/logback.xml
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-quickstart/src/main/resources/logback.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/src/main/resources/logback.xml
  samples/spring-doc-snippets/pom.xml
  samples/spring-doc-snippets/src/main/resources/logback.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-counter/src/main/resources/logback.xml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/src/main/resources/logback.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-customer-registry/src/main/resources/logback.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-eventsourced-shopping-cart/src/main/resources/logback.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-fibonacci-action/src/main/resources/logback.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-reliable-timers/src/main/resources/logback.xml
  samples/spring-valueentity-counter/pom.xml
  samples/spring-valueentity-counter/src/main/resources/logback.xml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-customer-registry/src/main/resources/logback.xml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-valueentity-shopping-cart/src/main/resources/logback.xml
  samples/spring-view-store/pom.xml
  samples/spring-view-store/src/main/resources/logback.xml
Labels: kalix-proxy, java-sdk, spring-sdk

#1453 fix: decode messages from proxy after workflow restart
  project/Dependencies.scala
  sdk/java-sdk/src/main/java/kalix/javasdk/workflowentity/WorkflowEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixServer.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/SpringSdkMessageCodec.scala
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/workflow/ReflectiveWorkflowEntityRouter.scala
Labels: kalix-proxy, java-sdk, spring-sdk

#1455 fix: Instant test - use lower precision
  sdk/spring-sdk/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
Labels: kalix-proxy, spring-sdk

#1457 chore: fix java timers sample
  samples/java-reliable-timers/src/it/java/com/example/OrderIntegrationTest.java
  samples/java-reliable-timers/src/main/java/com/example/actions/OrderAction.java
Labels: kalix-proxy, java-sdk

#1464 chore: A few missed places for proxy plain text log config
  docs/src/modules/spring/pages/access-control.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
Labels: Documentation, kalix-proxy, java-sdk

#1469 bump: Scala 2.13.10 in sdk, docs and samples
  docs/src/modules/java/pages/index.adoc
  project/Dependencies.scala
  samples/scala-customer-registry-quickstart/build.sbt
  samples/scala-doc-snippets/build.sbt
  samples/scala-eventsourced-counter/build.sbt
  samples/scala-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-eventsourced-customer-registry/build.sbt
  samples/scala-eventsourced-shopping-cart/build.sbt
  samples/scala-fibonacci-action/build.sbt
  samples/scala-first-service/build.sbt
  samples/scala-reliable-timers/build.sbt
  samples/scala-replicatedentity-examples/build.sbt
  samples/scala-replicatedentity-shopping-cart/build.sbt
  samples/scala-valueentity-counter/build.sbt
  samples/scala-valueentity-customer-registry/build.sbt
  samples/scala-valueentity-shopping-cart/build.sbt
  samples/scala-view-store/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/build.sbt
Labels: Documentation, kalix-proxy, scala-sdk

#1436 feat: add Kalix error status code
  docs/src/modules/spring/pages/timers.adoc
  project/Dependencies.scala
  samples/java-valueentity-counter-spring-client/src/test/resources/logback-test.xml
  samples/scala-fibonacci-action/src/main/scala/com/example/fibonacci/FibonacciAction.scala
  samples/spring-reliable-timers/src/it/java/com/example/OrderActionIntegrationTest.java
  samples/spring-reliable-timers/src/main/java/com/example/actions/OrderAction.java
  samples/spring-reliable-timers/src/main/java/com/example/domain/OrderEntity.java
  samples/spring-valueentity-customer-registry/src/main/java/com/example/api/CustomerEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/StatusCode.java
  sdk/java-sdk/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/RestDeferredCall.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/StatusCodeConverter.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntityEffectImpl.scala
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/UserEntity.java
  sdk/spring-sdk/src/it/java/com/example/wiring/valueentities/user/ValidateUserAction.java
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1472 chore: build docker image on 'install'
  docs/src/modules/java/pages/quickstart-template.adoc
  docs/src/modules/spring/pages/getting-started.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  samples/java-customer-registry-kafka-quickstart/pom.xml
  samples/java-customer-registry-quickstart/pom.xml
  samples/java-customer-registry-views-quickstart/pom.xml
  samples/java-doc-snippets/pom.xml
  samples/java-eventsourced-counter/pom.xml
  samples/java-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-eventsourced-customer-registry/pom.xml
  samples/java-fibonacci-action/pom.xml
  samples/java-first-service/pom.xml
  samples/java-reliable-timers/pom.xml
  samples/java-replicatedentity-examples/pom.xml
  samples/java-replicatedentity-shopping-cart/pom.xml
  samples/java-shopping-cart-quickstart/pom.xml
  samples/java-valueentity-counter/pom.xml
  samples/java-valueentity-customer-registry/pom.xml
  samples/java-valueentity-shopping-cart/pom.xml
  samples/java-view-store/pom.xml
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-doc-snippets/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-transfer-workflow/pom.xml
  samples/spring-valueentity-counter/pom.xml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-view-store/pom.xml
Labels: Documentation, kalix-proxy, java-sdk, spring-sdk

#1478 fix: KalixReactiveWebServer.start
  sdk/spring-sdk/src/main/scala/kalix/spring/boot/KalixReactiveWebServerFactory.scala
Labels: kalix-proxy, spring-sdk

#1481 fix: KalixReactiveWebServer.start (take 2)
  sdk/spring-sdk/src/main/scala/kalix/spring/boot/KalixReactiveWebServerFactory.scala
Labels: kalix-proxy, spring-sdk

#1484 fix: bind to 0.0.0.0 when running springboot:run
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-doc-snippets/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-transfer-workflow/pom.xml
  samples/spring-valueentity-counter/pom.xml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk, spring-sdk

#1476 chore: remove unused pub/sub from docker compose
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-customer-registry-quickstart/docker-compose.yml
  samples/java-customer-registry-views-quickstart/docker-compose.yml
  samples/java-eventsourced-counter/docker-compose.yml
  samples/java-eventsourced-shopping-cart/docker-compose.yml
  samples/java-fibonacci-action/docker-compose.yml
  samples/java-first-service/docker-compose.yml
  samples/java-reliable-timers/docker-compose.yml
  samples/java-replicatedentity-examples/docker-compose.yml
  samples/java-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-shopping-cart-quickstart/docker-compose.yml
  samples/java-valueentity-counter/docker-compose.yml
  samples/java-valueentity-customer-registry/docker-compose.yml
  samples/java-valueentity-shopping-cart/docker-compose.yml
  samples/java-view-store/docker-compose.yml
  samples/scala-customer-registry-quickstart/docker-compose.yml
  samples/scala-eventsourced-counter/docker-compose.yml
  samples/scala-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-fibonacci-action/docker-compose.yml
  samples/scala-first-service/docker-compose.yml
  samples/scala-reliable-timers/docker-compose.yml
  samples/scala-replicatedentity-examples/docker-compose.yml
  samples/scala-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-valueentity-counter/docker-compose.yml
  samples/scala-valueentity-customer-registry/docker-compose.yml
  samples/scala-valueentity-shopping-cart/docker-compose.yml
  samples/scala-view-store/docker-compose.yml
  samples/spring-customer-registry-quickstart/docker-compose.yml
  samples/spring-customer-registry-views-quickstart/docker-compose.yml
  samples/spring-doc-snippets/docker-compose.yml
  samples/spring-eventsourced-counter/docker-compose.yml
  samples/spring-eventsourced-customer-registry/docker-compose.yml
  samples/spring-eventsourced-shopping-cart/docker-compose.yml
  samples/spring-fibonacci-action/docker-compose.yml
  samples/spring-reliable-timers/docker-compose.yml
  samples/spring-transfer-workflow/docker-compose.yml
  samples/spring-valueentity-counter/docker-compose.yml
  samples/spring-valueentity-customer-registry/docker-compose.yml
  samples/spring-valueentity-shopping-cart/docker-compose.yml
  samples/spring-view-store/docker-compose.yml
Labels: kalix-proxy, java-sdk, scala-sdk, spring-sdk

#1485 chore: remove unused akka-grpc.version property
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  samples/spring-customer-registry-quickstart/pom.xml
  samples/spring-customer-registry-views-quickstart/pom.xml
  samples/spring-doc-snippets/pom.xml
  samples/spring-eventsourced-counter/pom.xml
  samples/spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/spring-eventsourced-customer-registry/pom.xml
  samples/spring-eventsourced-shopping-cart/pom.xml
  samples/spring-fibonacci-action/pom.xml
  samples/spring-reliable-timers/pom.xml
  samples/spring-transfer-workflow/pom.xml
  samples/spring-valueentity-counter/pom.xml
  samples/spring-valueentity-customer-registry/pom.xml
  samples/spring-valueentity-shopping-cart/pom.xml
  samples/spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk, spring-sdk

#1486 fix: use the same spring context environment for KalixComponentProvider
  sdk/spring-sdk/src/main/scala/kalix/springsdk/impl/KalixSpringApplication.scala
Labels: kalix-proxy, spring-sdk

#1490 chore: load components using Main's ClassLoader
  sdk/spring-sdk/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
Labels: kalix-proxy, spring-sdk

#1021 chore: minor improvement to updatePomVersions.sh script
  publishLocalM2.sh
  publishLocally.sh
  updatePomVersions.sh
  updateSamplesVersions.sh
Labels: kalix-proxy

#1493 chore: updating links in workflow doc
  docs/src/modules/spring/pages/workflow-entities.adoc
Labels: Documentation, kalix-proxy

#1500 feat: Upper limit to timer retries, document backoff on failure
  docs/src/modules/java/pages/timers.adoc
  docs/src/modules/java/partials/timers-intro.adoc
  docs/src/modules/spring/pages/timers.adoc
  sdk/java-sdk/src/main/java/kalix/javasdk/timer/TimerScheduler.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/scala-sdk/src/main/scala/kalix/scalasdk/timer/TimerScheduler.scala
Labels: Documentation, kalix-proxy, java-sdk, scala-sdk

#1505 fix: support RestDeferredCall as side effects
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/effect/EffectSupport.scala
Labels: kalix-proxy, java-sdk, java-protobuf-sdk

#1494 feat: step transition without input param
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithoutInputs.java
  sdk/java-sdk/src/main/java/kalix/javasdk/workflowentity/WorkflowEntity.java
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityEffectImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityImpl.scala
  sdk/java-sdk/src/main/scala/kalix/javasdk/impl/workflowentity/WorkflowEntityRouter.scala
Labels: kalix-proxy, java-sdk, java-protobuf-sdk

#1488 feat: opt in deploy to kalix with mvn #1058
  docs/src/modules/java/pages/quickstart-template.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java/partials/important-mvn-kalixdeploy.adoc
  docs/src/modules/spring/pages/getting-started.adoc
  docs/src/modules/spring/pages/quickstart/cr-value-entity-spring.adoc
  docs/src/modules/spring/partials/important-mvn-kalixdeploy.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-plugin/src/main/java/kalix/DeployMojo.java
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/README.md
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
  samples/java-protobuf-customer-registry-quickstart/README.md
  samples/java-protobuf-customer-registry-views-quickstart/README.md
  samples/java-protobuf-eventsourced-counter/README.md
  samples/java-protobuf-eventsourced-shopping-cart/README.md
  samples/java-protobuf-fibonacci-action/README.md
  samples/java-protobuf-first-service/README.md
  samples/java-protobuf-reliable-timers/README.md
  samples/java-protobuf-replicatedentity-shopping-cart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-protobuf-valueentity-counter/README.md
  samples/java-protobuf-valueentity-shopping-cart/README.md
  samples/java-protobuf-view-store/README.md
  samples/java-spring-customer-registry-quickstart/README.md
  samples/java-spring-customer-registry-views-quickstart/README.md
  samples/java-spring-eventsourced-counter/README.md
  samples/java-spring-eventsourced-customer-registry/README.md
  samples/java-spring-eventsourced-shopping-cart/README.md
  samples/java-spring-fibonacci-action/README.md
  samples/java-spring-reliable-timers/README.md
  samples/java-spring-transfer-workflow/README.md
  samples/java-spring-valueentity-counter/README.md
  samples/java-spring-valueentity-customer-registry/README.md
  samples/java-spring-valueentity-shopping-cart/README.md
  samples/java-spring-view-store/README.md
Labels: Documentation, kalix-proxy, java-sdk-protobuf, java-sdk, spring-sdk, java-protobuf-sdk
