Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-05, with the labels that each got.

#1604 feat: read port configs from docker yml
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
  devtools/src/main/scala/kalix/devtools/impl/ServicePortMappingsExtractor.scala
  devtools/src/main/scala/kalix/devtools/impl/UserFunctionPortExtractor.scala
  devtools/src/test/scala/kalix/devtools/impl/DockerComposeUtilsSpec.scala
  devtools/src/test/scala/kalix/devtools/impl/ServicePortMappingsExtractorSpec.scala
  devtools/src/test/scala/kalix/devtools/impl/UserFunctionPortExtractorSpec.scala
  project/Dependencies.scala
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/HostAndPort.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf

#1607 bump: sbt 1.8.2
  .circleci/config.yml
  project/build.properties
  samples/java-spring-fibonacci-action/project/build.properties
  samples/scala-protobuf-customer-registry-quickstart/project/build.properties
  samples/scala-protobuf-doc-snippets/project/build.properties
  samples/scala-protobuf-eventsourced-counter/project/build.properties
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/project/build.properties
  samples/scala-protobuf-eventsourced-customer-registry/project/build.properties
  samples/scala-protobuf-eventsourced-shopping-cart/project/build.properties
  samples/scala-protobuf-fibonacci-action/project/build.properties
  samples/scala-protobuf-first-service/project/build.properties
  samples/scala-protobuf-reliable-timers/project/build.properties
  samples/scala-protobuf-replicatedentity-examples/project/build.properties
  samples/scala-protobuf-replicatedentity-shopping-cart/project/build.properties
  samples/scala-protobuf-valueentity-counter/project/build.properties
  samples/scala-protobuf-valueentity-customer-registry/project/build.properties
  samples/scala-protobuf-valueentity-shopping-cart/project/build.properties
  samples/scala-protobuf-view-store/project/build.properties
  samples/scala-protobuf-web-resources/project/build.properties
Labels: kalix-proxy, scala-sdk-protobuf, java-sdk

#1598 chore: move sample version checks to GH workflow
  .circleci/config.yml
  .github/workflows/samples.yml
  bin/check-sample-protoc-version.sh
Labels: kalix-proxy

#1611 docs: direct eventing docs updates
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/README.md
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
  samples/java-protobuf-customer-registry-quickstart/README.md
  samples/java-protobuf-customer-registry-views-quickstart/README.md
  samples/java-protobuf-eventsourced-counter/README.md
  samples/java-protobuf-eventsourced-customer-registry-subscriber/README.md
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-shopping-cart/README.md
  samples/java-protobuf-first-service/README.md
  samples/java-protobuf-replicatedentity-shopping-cart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-protobuf-valueentity-customer-registry/README.md
  samples/java-protobuf-valueentity-shopping-cart/README.md
  samples/java-spring-customer-registry-quickstart/README.md
  samples/java-spring-customer-registry-views-quickstart/README.md
  samples/java-spring-eventsourced-counter/README.md
  samples/java-spring-eventsourced-customer-registry-subscriber/README.md
  samples/java-spring-eventsourced-customer-registry/README.md
  samples/java-spring-eventsourced-shopping-cart/README.md
  samples/java-spring-reliable-timers/README.md
  samples/java-spring-shopping-cart-quickstart/README.md
  samples/java-spring-valueentity-counter/README.md
  samples/java-spring-valueentity-customer-registry/README.md
  samples/java-spring-valueentity-shopping-cart/README.md
  samples/scala-protobuf-customer-registry-quickstart/README.md
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/README.md
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/README.md
  samples/scala-protobuf-eventsourced-shopping-cart/README.md
  samples/scala-protobuf-first-service/README.md
  samples/scala-protobuf-replicatedentity-shopping-cart/README.md
  samples/scala-protobuf-valueentity-shopping-cart/README.md
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1606 feat: run docker-compose from kalix:runAll
  build.sbt
  devtools/src/main/scala/kalix/devtools/impl/KalixProxyContainer.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/DockerParameters.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunAllMojo.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunParameters.scala
  project/Dependencies.scala
Labels: kalix-proxy, java-sdk-protobuf

#1608 chore: move sys props to JAVA_TOOL_OPTIONS section
  docs/src/modules/java/pages/access-control.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-views-quickstart/docker-compose.yml
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/java-spring-eventsourced-counter/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-shopping-cart/docker-compose.yml
  samples/java-spring-fibonacci-action/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/java-spring-shopping-cart-quickstart/docker-compose.yml
  samples/java-spring-transfer-workflow-compensation/docker-compose.yml
  samples/java-spring-transfer-workflow/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-shopping-cart/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
Labels: Documentation, kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1615 fix: revert proxy port in subscriber samples
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1609 chore: extend tests for UF port Extractor
  devtools/src/test/scala/kalix/devtools/impl/UserFunctionPortExtractorSpec.scala
Labels: kalix-proxy

#1617 chore: reference.conf - disable descriptor source
  sdk/java-sdk-spring/src/main/resources/reference.conf
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
Labels: kalix-proxy, java-sdk

#1582 chore: add multi-service testing example
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
  devtools/src/main/scala/kalix/devtools/impl/ServicePortMappingsExtractor.scala
  devtools/src/test/scala/kalix/devtools/impl/DockerComposeUtilsSpec.scala
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunAllMojo.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
  project/Dependencies.scala
  samples/java-spring-eventsourced-customer-registry-subscriber/README.md
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/TestkitConfig.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/resources/logback-test.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/actions/CustomerRegistryAction.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/views/CustomersByNameView.java
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/api/CustomerEntity.java
  samples/java-spring-eventsourced-customer-registry/src/test/java/customer/api/CustomerEntityTest.java
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
  sdk/core/src/main/java/kalix/devtools/impl/DevModeSettings.java
  sdk/java-sdk-spring-testkit/src/main/java/kalix/spring/testkit/KalixIntegrationTestKitSupport.java
  sdk/spring-boot-starter-test/src/main/scala/kalix/spring/boot/KalixConfigurationTest.scala
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1622 chore: add multi-service tests Java/Proto
  .github/workflows/ci.yml
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
  samples/java-protobuf-eventsourced-customer-registry-subscriber/README.md
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/it/java/customer/CustomerIntegrationTest.java
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/java/customer/Main.java
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/java/customer/action/CustomerActionImpl.java
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/java/customer/view/AllCustomersViewImpl.java
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/api/customer_action.proto
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/api/customer_api.proto
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/api/publisher_api.proto
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/view/customer_view.proto
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/resources/logback-dev-mode.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/test/java/customer/action/CustomerActionImplTest.java
  samples/java-protobuf-eventsourced-customer-registry/README.md
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/README.md
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1623 chore: add multi-service tests Scala/Proto
  .github/workflows/ci.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/README.md
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build-customer-service-image.sh
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/api/customer_action.proto
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/api/customer_api.proto
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/view/customer_view.proto
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/scala/customer/Main.scala
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/scala/customer/action/CustomerActionImpl.scala
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/scala/customer/view/AllCustomersViewImpl.scala
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/test/scala/customer/CustomerServiceIntegrationSpec.scala
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/test/scala/customer/action/CustomerActionImplSpec.scala
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
Labels: kalix-proxy, scala-sdk-protobuf

#1625 fix: hide todos from published docs
  docs/dev/antora.yml
  docs/src/modules/java/pages/actions.adoc
Labels: Documentation, kalix-proxy

#1627 fix: supporting custom JVM args in kalix-maven-plugin
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunAllMojo.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunMojo.scala
  maven-java/kalix-maven-plugin/src/main/scala/kalix/RunParameters.scala
Labels: kalix-proxy, java-sdk-protobuf

#1629 fix: enable todos in dev
  docs/dev/antora.yml
Labels: Documentation, kalix-proxy

#1634 fix: publishing to a topic from different sources
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/annotations/Subscribe.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ActionDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ComponentDescriptorSuite.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/DescriptorPrinter.scala
Labels: kalix-proxy, java-sdk

#1636 fix: supporting value entity type level subscription
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ActionDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ViewDescriptorFactory.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1640 chore: delete empty replicated entity page
  docs/src/modules/java/pages/replicated-entity.adoc
Labels: Documentation, kalix-proxy

#1641 fix: support topic subscription for Views (code first sdk)
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ActionDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ViewDescriptorFactory.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: kalix-proxy, java-sdk

#1643 chore: update Spring versions
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1642 feat: integration tests with docker-compose
  build.sbt
  sdk/java-sdk-spring/docker-compose-integration.yml
  sdk/java-sdk-spring/src/it/java/com/example/wiring/EventSourcedEntityIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/CounterView.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/DockerIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/DummyCounterEventStore.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/DummyCustomerStore.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PubSubIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PublishESToTopic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PublishTopicToTopic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PublishVEToTopic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/SubscribeToCounterEventsTopic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/SubscribeToCustomers2Topic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/SubscribeToCustomersTopic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/ViewFromCounterEventsTopic.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/valueentities/customer/CustomerEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/CountersByValueSubscriptions.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UserCounter.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UserCountersView.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/FailingCounterEntity.java
Labels: kalix-proxy, java-sdk

#1652 bump: Jackson 2.14.3 (was 2.14.1)
  project/Dependencies.scala
Labels: kalix-proxy

#1653 fix: workflow is an orchestrated saga
  docs/src/modules/java/pages/workflow-entities.adoc
Labels: Documentation, kalix-proxy

#1654 fix: allow passing docker-compose file as arg
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
Labels: kalix-proxy, scala-sdk-protobuf

#1659 chore: update proxy version to 1.1.12
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  sdk/java-sdk-spring/docker-compose-integration.yml
Labels: kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk
