Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-08, with the labels that each got.

#1751 docs: documenting ComponentClient
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/component-and-service-calls.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/running-locally.adoc
  docs/src/modules/java/pages/value-entity.adoc
  samples/java-spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionComponentClientIntegrationTest.java
  samples/java-spring-fibonacci-action/src/it/java/com/example/fibonacci/FibonacciActionIntegrationTest.java
  samples/java-spring-fibonacci-action/src/main/java/com/example/fibonacci/FibonacciAction.java
  samples/java-spring-fibonacci-action/src/main/java/com/example/fibonacci/LimitedFibonacciAction.java
Labels: Documentation, kalix-proxy, java-sdk

#1756 docs: documenting workflow pause and timers
  docs/src/modules/java-protobuf/partials/timers-intro.adoc
  docs/src/modules/java/pages/workflows.adoc
  samples/java-spring-transfer-workflow-compensation/src/it/java/com/example/transfer/TransferWorkflowIntegrationTest.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/transfer/TransferState.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/transfer/TransferWorkflow.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/wallet/WalletEntity.java
Labels: Documentation, kalix-proxy, java-sdk

#1759 fix: logback config not working when packaged
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/logging/KalixJoranConfigurator.scala
Labels: kalix-proxy, java-sdk-protobuf

#1767 fix: workflows, exception when running a step with a null workflow state
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithoutInitialState.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1770 fix: using workflow finished flag from the init msg
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
Labels: kalix-proxy, java-sdk-protobuf

#1769 docs: JSON schema evolution documentation
  docs/src/modules/java/nav.adoc
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/serialization.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  samples/java-spring-eventsourced-customer-registry-subscriber/README.md
  samples/java-spring-eventsourced-customer-registry-subscriber/src/it/java/customer/api/CustomerIntegrationTest.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/actions/CustomerRegistryAction.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/Main.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/domain/CustomerCreatedMigration.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/domain/CustomerEvent.java
  samples/java-spring-eventsourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
  samples/java-spring-eventsourced-customer-registry/src/test/java/customer/domain/schemaevolution/AddressChangedMigration.java
  samples/java-spring-eventsourced-customer-registry/src/test/java/customer/domain/schemaevolution/CustomerEvent.java
  samples/java-spring-eventsourced-customer-registry/src/test/java/customer/domain/schemaevolution/NameChangedMigration.java
  sdk/java-sdk-spring-testkit/src/main/java/kalix/javasdk/testkit/EventSourcedTestKit.java
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-proxy, java-sdk

#1765 fix: removing kalix dependency from Spring grpc client
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/kalix_policy.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/logback-dev-mode.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/logback.xml
Labels: Documentation, kalix-proxy, java-sdk-protobuf

#1775 fix: catch npe when trying to load file that does not exist
  samples/java-protobuf-web-resources/src/main/java/com/example/FileServiceAction.java
Labels: kalix-proxy, java-sdk-protobuf

#1777 fix: respecting TypeName annotations when using eventing testkit
  docs/src/modules/java-protobuf/pages/actions-publishing-subscribing.adoc
  samples/java-protobuf-eventsourced-counter/src/it/java/com/example/CounterTopicIntegrationTest.java
  samples/java-spring-eventsourced-counter/src/it/java/com/example/CounterIntegrationTest.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/EventingTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/junit/KalixTestKitResource.java
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/AnySupport.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/IncreaseActionWithIgnore.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/EventingTestkitIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/SubscribeToCounterEventsTopic.java
  sdk/java-sdk-spring/src/it/java/kalix/spring/KalixConfigurationTest.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JsonMessageCodec.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/Kalix.scala
  sdk/spring-boot-starter-test/src/main/scala/kalix/spring/boot/KalixConfigurationTest.scala
Labels: Documentation, kalix-proxy, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1778 fix: eventing testkit - supporting multiple subscription to the same …
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/SourcesHolder.scala
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/impl/TopicImplSpec.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/EventingTestkitIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/ViewFromCounterEventsTopic.java
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1780 fix: moving @Migration to java-sdk-protobuf
  samples/java-spring-eventsourced-customer-registry/src/test/java/customer/domain/CustomerEventSerializationTest.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/JsonSupport.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/annotations/Migration.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/DummyClass.java
  sdk/java-sdk-protobuf/src/test/java/kalix/javasdk/DummyClass2.java
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/JsonSupportSpec.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/eventsourcedentity/ReflectiveEventSourcedEntityRouter.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/MigrationExtractor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/ParameterExtractor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/valueentity/ReflectiveValueEntityRouter.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/JsonMessageCodecSpec.scala
Labels: kalix-proxy, java-sdk-protobuf, java-sdk

#1782 fix: package name missing in API docs link
  docs/src/modules/java/pages/workflows.adoc
Labels: Documentation, kalix-proxy

#1785 docs: fix curl snippet after exposing service
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
Labels: Documentation, kalix-proxy
