Repository lightbend/kalix-jvm-sdk, pull requests merged in 2023-12, with the labels that each got.

#1899 fix: generic typeUrls for Java primitives
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/JsonMessageCodecSpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/eventsourceentity/EventSourcedHandlersExtractorSpec.scala
Labels: kalix-runtime, java-sdk

#1893 feat: reading the collector endpoint from the ProxyInfo
  project/Dependencies.scala
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/ProxyInfoHolder.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/action/ActionHandlerSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/eventsourcedentity/TestEventSourced.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/valueentity/TestValueEntity.scala
  sdk/java-sdk-spring/docker-compose-integration.yml
  sdk/java-sdk-spring/src/it/java/com/example/wiring/pubsub/PubSubIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/tracing/TracingIntegrationTest.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionsImplSpec.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1902 chore: bump scala version 2.13.10 -> 2.13.12
  project/Dependencies.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EmployeeEvent.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/subscriptions/PubSubTestModels.java
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/eventsourceentity/EventSourcedHandlersExtractorSpec.scala
Labels: kalix-runtime, java-sdk

#1884 docs: choreography saga quickstart
  .github/workflows/ci.yml
  docs/Makefile
  samples/java-spring-choreography-saga-quickstart/.bundleignore
  samples/java-spring-choreography-saga-quickstart/README.md
  samples/java-spring-choreography-saga-quickstart/controller-requests.http
  samples/java-spring-choreography-saga-quickstart/docker-compose.yml
  samples/java-spring-choreography-saga-quickstart/flow-failure.png
  samples/java-spring-choreography-saga-quickstart/flow-full.png
  samples/java-spring-choreography-saga-quickstart/flow-successful.png
  samples/java-spring-choreography-saga-quickstart/pom.xml
  samples/java-spring-choreography-saga-quickstart/src/it/java/user/registry/UserCreationIntegrationTest.java
  samples/java-spring-choreography-saga-quickstart/src/it/resources/application.conf
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/Main.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/api/ApplicationController.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/common/Done.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/domain/UniqueEmail.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/domain/User.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/entity/UniqueEmailEntity.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/entity/UserEntity.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UniqueEmailSubscriber.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/subscriber/UserEventsSubscriber.java
  samples/java-spring-choreography-saga-quickstart/src/main/java/user/registry/views/UsersByCountryView.java
  samples/java-spring-choreography-saga-quickstart/src/main/resources/application.conf
  samples/java-spring-choreography-saga-quickstart/src/main/resources/logback-dev-mode.xml
  samples/java-spring-choreography-saga-quickstart/src/main/resources/logback.xml
  samples/java-spring-choreography-saga-quickstart/src/test/java/user/registry/entity/UniqueEmailEntityTest.java
  samples/java-spring-choreography-saga-quickstart/src/test/java/user/registry/entity/UserEntityTest.java
Labels: Documentation, kalix-runtime, java-sdk

#1906 chore: fix typo
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/java-spring-choreography-saga-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-views-quickstart/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-shopping-cart/docker-compose.yml
  samples/java-spring-fibonacci-action/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/java-spring-shopping-cart-quickstart/docker-compose.yml
  samples/java-spring-transfer-workflow-compensation/docker-compose.yml
  samples/java-spring-transfer-workflow/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-shopping-cart/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1908 chore: bump scala tooling version 2.12.15 -> 2.12.18
  maven-java/kalix-maven-plugin/pom.xml
  project/Dependencies.scala
Labels: kalix-runtime, java-sdk-protobuf

#1911 chore: improve error message for JSON deserialization
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/JsonSupport.java
Labels: kalix-runtime, java-sdk-protobuf

#1909 docs: actions as service life-cycle hooks
  docs/src/modules/java-protobuf/pages/actions.adoc
  docs/src/modules/java-protobuf/partials/actions.adoc
  samples/java-protobuf-doc-snippets/src/main/proto/com/example/on_startup.proto
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1917 fix: maven archetype kcr vars
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#1920 fix: Hello world action exposed to the internet in code first archetypes
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/hello/HelloWorld.java
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/src/main/kotlin/__packageInPathFormat__/hello/HelloWorld.kt
Labels: kalix-runtime, java-sdk-protobuf

#1918 docs: documenting persistent dev mode
  docs/src/modules/java-protobuf/pages/running-locally.adoc
  docs/src/modules/java/pages/running-locally.adoc
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  styles/Vocab/Base/accept.txt
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1929 ci: make updateProxyVersions.sh runnable
  updateProxyVersions.sh
Labels: kalix-runtime

#1930 ci: fix recursive script
  updateProxyVersions.sh
Labels: kalix-runtime

#1931 docs: add release information for aggregation
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime

#1937 feat: allow metadata in asyncReply
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/ActionWithMetadata.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/action/ActionEffectImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk
