Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-05, with the labels that each got.

#2132 chore: upgrade to scala 2.13.14
  docs/src/modules/java-protobuf/pages/index.adoc
  project/Dependencies.scala
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/build.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/build.sbt
Labels: Documentation, kalix-runtime, scala-sdk-protobuf

#2026 docs: add tracing sample for java sdk
  .github/workflows/ci.yml
  samples/java-spring-tracing/.env
  samples/java-spring-tracing/README.md
  samples/java-spring-tracing/docker-compose.yml
  samples/java-spring-tracing/pom.xml
  samples/java-spring-tracing/src/it/java/com/example/IntegrationTest.java
  samples/java-spring-tracing/src/it/resources/logback-test.xml
  samples/java-spring-tracing/src/main/java/com/example/tracing/Main.java
  samples/java-spring-tracing/src/main/java/com/example/tracing/api/GetRandomNameAction.java
  samples/java-spring-tracing/src/main/java/com/example/tracing/api/GetRandomPhotoAction.java
  samples/java-spring-tracing/src/main/java/com/example/tracing/api/RandomUserApi.java
  samples/java-spring-tracing/src/main/java/com/example/tracing/api/UserEntity.java
  samples/java-spring-tracing/src/main/java/com/example/tracing/domain/User.java
  samples/java-spring-tracing/src/main/java/com/example/tracing/domain/UserEvent.java
  samples/java-spring-tracing/src/main/resources/application.conf
  samples/java-spring-tracing/src/main/resources/logback-dev-mode.xml
  samples/java-spring-tracing/src/main/resources/logback.xml
  samples/java-spring-tracing/src/test/resources/logback-test.xml
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ActionCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/EventSourcedEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ValueEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ViewCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/WorkflowCallBuilder.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/client/ComponentCall.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/action/ReflectiveActionRouter.scala
Labels: Documentation, kalix-runtime, java-sdk

#2136 bump(maven plugin): logback-classic 1.4.14 (was 1.2.11)
  maven-java/kalix-maven-plugin/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2137 docs: Document nested id fields
  docs/src/modules/java-protobuf/pages/writing-grpc-descriptors-protobuf.adoc
Labels: Documentation, kalix-runtime

#2141 feat: include sdk deps in parent pom
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-parent/pom.xml
  samples/java-protobuf-customer-registry-kafka-quickstart/pom.xml
  samples/java-protobuf-customer-registry-quickstart/pom.xml
  samples/java-protobuf-customer-registry-views-quickstart/pom.xml
  samples/java-protobuf-doc-snippets/pom.xml
  samples/java-protobuf-eventsourced-counter/pom.xml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-protobuf-eventsourced-customer-registry/pom.xml
  samples/java-protobuf-eventsourced-shopping-cart/pom.xml
  samples/java-protobuf-fibonacci-action/pom.xml
  samples/java-protobuf-first-service/pom.xml
  samples/java-protobuf-reliable-timers/pom.xml
  samples/java-protobuf-replicatedentity-examples/pom.xml
  samples/java-protobuf-replicatedentity-shopping-cart/pom.xml
  samples/java-protobuf-shopping-cart-quickstart/pom.xml
  samples/java-protobuf-tracing/pom.xml
  samples/java-protobuf-transfer-workflow-compensation/pom.xml
  samples/java-protobuf-transfer-workflow/pom.xml
  samples/java-protobuf-valueentity-counter/pom.xml
  samples/java-protobuf-valueentity-customer-registry/pom.xml
  samples/java-protobuf-valueentity-shopping-cart/pom.xml
  samples/java-protobuf-view-store/pom.xml
  samples/java-protobuf-web-resources/pom.xml
  samples/java-spring-choreography-saga-quickstart/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-tracing/pom.xml
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#2142 chore: remove deps also from archetypes
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2143 build: update license change date
  LICENSE
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime

#2145 build: cross versions publish and avoid publishing twice
  .github/workflows/publish.yml
  build.sbt
Labels: kalix-runtime

#2148 chore: explain how to change ports
  docs/src/modules/java-protobuf/pages/running-locally.adoc
  docs/src/modules/java-protobuf/partials/env-file.txt
  docs/src/modules/java/pages/running-locally.adoc
Labels: Documentation, kalix-runtime

#2150 build: fix for release 1.5
  build.sbt
  project/PublishPlugin.scala
  publishLocally.sh
Labels: kalix-runtime

#2152 ci: fix auto pr and have it depend on publish
  .github/determine-sdk-version.sh
  .github/workflows/update-sdk-version.yml
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime

#2154 fix: remove Akka snapshot repos
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-spring-boot-parent/pom.xml
Labels: kalix-runtime, java-sdk-protobuf
