Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-04, with the labels that each got.

#2070 chore: aligning .env and docker-compose.yml
  samples/java-protobuf-tracing/.env
  samples/java-protobuf-tracing/docker-compose.yml
Labels: Documentation, kalix-runtime

#2079 chore: remove unused code
  build.sbt
  codegen/core/src/main/scala/kalix/codegen/SourceGeneratorUtils.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/EntityServiceSourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/EventSourcedEntityTestKitGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/ReplicatedEntitySourceGenerator.scala
  codegen/java-gen/src/main/scala/kalix/codegen/java/SourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/MainSourceGenerator.scala
  codegen/scala-gen/src/main/scala/kalix/codegen/scalasdk/impl/SourceGenerator.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityOptionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntityOptionsImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/GrpcClientsSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/MetadataImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/action/ActionHandlerSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/eventsourcedentity/TestEventSourcedProtocol.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/replicatedentity/TestReplicatedEntityProtocol.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/client/MethodRefResolver.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/ParameterExtractor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/RestKalixClientImpl.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/WebClientProviderHolder.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/DescriptorPrinter.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ActionResultImpl.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedEntityEffectsRunner.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/ValueEntityResultImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/JsonSupport.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntityOptions.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/replicatedentity/ReplicatedEntityAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/replicatedentity/ReplicatedEntityEffectImpl.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/Main.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/TckService.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/action/ActionTwoImpl.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/eventsourcedentity/EventSourcedConfiguredEntity.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/eventsourcedentity/EventSourcedTckModelEntity.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/eventsourcedentity/EventSourcedTwoEntity.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/valueentity/ValueEntityConfiguredEntity.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/valueentity/ValueEntityTckModelEntity.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/valueentity/ValueEntityTwoEntity.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/view/ViewTckModelImpl.scala
  tck/scala-tck/src/main/scala/kalix/tck/model/view/ViewTckSourceEntity.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#2081 docs: match at least once in JWT static claim with pattern
  docs/src/modules/java/pages/using-jwts.adoc
Labels: Documentation, kalix-runtime

#2083 chore: file headers
  devtools/src/main/scala/kalix/devtools/impl/TracingPortExtractor.scala
  devtools/src/test/scala/kalix/devtools/impl/TracingPortExtractorSpec.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/TraceContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/action/ActionAdapters.scala
Labels: kalix-runtime, scala-sdk-protobuf

#2087 Publishing fixes (round 1)
  .github/workflows/publish.yml
  build.sbt
  docs/release-issue-template.md
  project/ProtocolProject.scala
  project/PublishPlugin.scala
Labels: Documentation, kalix-runtime

#2088 feat: Support ScalaPB generated envoy validation #695
  .github/workflows/ci.yml
  project/Dependencies.scala
  samples/scala-protobuf-validated/.env
  samples/scala-protobuf-validated/README.md
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-validated/docker-compose.yml
  samples/scala-protobuf-validated/project/build.properties
  samples/scala-protobuf-validated/project/plugins.sbt
  samples/scala-protobuf-validated/src/main/proto/com/example/validated/kalix_policy.proto
  samples/scala-protobuf-validated/src/main/proto/com/example/validated/validated.proto
  samples/scala-protobuf-validated/src/main/resources/logback-dev-mode.xml
  samples/scala-protobuf-validated/src/main/resources/logback.xml
  samples/scala-protobuf-validated/src/main/scala/com/example/validated/Main.scala
  samples/scala-protobuf-validated/src/main/scala/com/example/validated/ValidatedAction.scala
  samples/scala-protobuf-validated/src/test/resources/logback-test.xml
  samples/scala-protobuf-validated/src/test/scala/com/example/validated/ValidatedActionIntegrationSpec.scala
  samples/scala-protobuf-validated/src/test/scala/com/example/validated/ValidatedActionSpec.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/AnySupport.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#2094 Publish Maven plugin (Take 4)
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2106 Tests in CI: use local docker compose
  .circleci/google-pubsub-emulator-docker-compose.yml
  .github/workflows/ci.yml
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
Labels: Documentation, kalix-runtime

#2107 Remove references to CircleCI
  .circleci/config.yml
  RELEASING.md
  docs/bin/deploy.sh
  docs/release-issue-template.md
  project/build.properties
Labels: Documentation, kalix-runtime

#2113 Repositories in archetypes, debug publishing
  .github/determine-sdk-version.sh
  .github/publish-maven.sh
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/pom.xml
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2115 chore: remove unnecessary resolvers
  maven-java/kalix-maven-archetype-value-entity/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  maven-java/kalix-spring-boot-archetype/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/pom.xml
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2117 feat: kalix-spring-parent pom
  .github/publish-maven.sh
  maven-java/kalix-spring-boot-parent/pom.xml
  maven-java/pom.xml
  publishLocally.sh
Labels: kalix-runtime, java-sdk-protobuf

#2118 feat: parent pom for java protobuf
  .github/publish-maven.sh
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-parent/pom.xml
  maven-java/pom.xml
  publishLocally.sh
Labels: kalix-runtime, java-sdk-protobuf

#2120 fix: isolate parent pom plugins
  .github/publish-maven.sh
  maven-java/pom.xml
  publishLocally.sh
Labels: kalix-runtime, java-sdk-protobuf

#2121 fix: remove bogus plugin re-declaration
  maven-java/pom.xml
  publishLocally.sh
Labels: kalix-runtime, java-sdk-protobuf

#2122 fix: enable all parent pom plugins
  .github/patch-maven-versions.sh
  .github/publish-maven.sh
  .github/workflows/ci.yml
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-parent/pom.xml
  publishLocally.sh
  updateSdkVersions.sh
Labels: kalix-runtime, java-sdk-protobuf

#2126 bump: Jackson 2.15.4 (aligns with Akka 2.9)
  project/Dependencies.scala
Labels: kalix-runtime

#2125 feat: expose underlying Akka version
  build.sbt
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
Labels: kalix-runtime, scala-sdk-protobuf

#2128 feat: expose underlying Akka version correctly
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
Labels: kalix-runtime, scala-sdk-protobuf

#2123 feat: ease build for multi-platform images
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-spring-boot-parent/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2127 fix: correctly configure spring-boot plugin
  maven-java/kalix-spring-boot-parent/pom.xml
Labels: kalix-runtime, java-sdk-protobuf
