Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-07, with the labels that each got.

#2160 feat: adding tracing id to UF logs
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/eventsourcedentity/TestEventSourced.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/valueentity/TestValueEntity.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/eventsourcedentity/EventSourcedMessages.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/valueentity/ValueEntityMessages.scala
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/action/TestTracingAction.java
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/eventsourcedentity/TestEventSourcedEntity.java
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/valueentity/TestValueEntity.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionsImplSpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/EvenSourcedEntitiesImplSpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ValueEntitiesImplSpec.scala
Labels: kalix-runtime, java-sdk-protobuf, java-sdk

#2170 chore: updating licence
  LICENSE
Labels: kalix-runtime

#2171 fix: redirect to the right file
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime

#2174 fix: removing infinite subscription loop
  docs/src/modules/java/pages/actions.adoc
  samples/java-spring-valueentity-counter/src/main/java/com/example/action/Confirmed.java
  samples/java-spring-valueentity-counter/src/main/java/com/example/action/DoubleCounterAction.java
Labels: Documentation, kalix-runtime

#2175 Add akka-repository for Maven dependencies and plugins
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2178 fix: akkademy link
  docs/src/modules/java-protobuf/partials/eventsourced.adoc
Labels: Documentation, kalix-runtime
