Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-08, with the labels that each got.

#2172 feat: passing through metadata traceparent
  sdk/java-sdk-protobuf-testkit/src/test/scala/kalix/javasdk/testkit/impl/ActionResultSpec.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/action/ReflectiveActionRouter.scala
Labels: enhancement, kalix-runtime, java-sdk-protobuf, java-sdk

#2181 chore: Don't use the global Scala execution context
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
Labels: kalix-runtime, java-sdk-protobuf

#2182 fix: adding missing tracing MDC for views
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/TraceContext.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/MetadataImplSpec.scala
Labels: kalix-runtime, java-sdk-protobuf

#2187 docs: replace course reference to Akkademy
  docs/src/modules/java-protobuf/partials/eventsourced.adoc
Labels: Documentation, kalix-runtime

#2201 fix: service packages in README
  samples/scala-protobuf-transfer-workflow/README.md
Labels: Documentation, kalix-runtime

#2203 Proto scala testkig start config
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/KalixTestKit.scala
Labels: kalix-runtime, scala-sdk-protobuf

#2204 chore: clarification on readme
  RELEASING.md
Labels: Documentation, kalix-runtime
