Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-10, with the labels that each got.

#2222 chore: handle UpdateState workflow entity protocol message
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

#2221 chore: Message broker links removed from runtime errors
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DocLinks.scala
Labels: kalix-runtime, java-sdk-protobuf

#2223 Revert "fix: change format for logMessage mkString (#2219)"
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-runtime, java-sdk-protobuf

#2225 Handle windows
  docs/Makefile
  docs/README.md
  docs/bin/bundle.sh
Labels: Documentation, kalix-runtime

#2227 bump: Akka 2.9.7, grpc 1.4.4
  project/Dependencies.scala
  project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/compile-only/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/eventsourcedentity/project/plugins.sbt
  sbt-plugin/src/sbt-test/sbt-kalix/no-common-pkg-root/project/plugins.sbt
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/KalixRunnerLicenseKeySupplier.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf
