Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-03, with the labels that each got.

#2056 Docs
  docs/src/modules/java/pages/timers.adoc
  docs/src/modules/java/pages/workflows.adoc
Labels: Documentation, kalix-runtime

#2055 fix: cloud events - convert kafka prefix
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/replicatedentity/ReplicatedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/valueentity/ValueEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/view/ViewsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/MetadataImplSpec.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/Metadata.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/DeferredCallAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/InternalContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/action/ActionAdapters.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#2053 chore: update javadoc to reflect implementation
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/annotations/TypeName.java
Labels: kalix-runtime, java-sdk

#2052 chore: use docker compose instead of docker-compose
  devtools/src/main/scala/kalix/devtools/impl/DockerComposeUtils.scala
Labels: kalix-runtime

#2063 feat: ComponentClient tracing
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithStepTimeout.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithTimer.java
  sdk/java-sdk-spring/src/it/java/kalix/spring/KalixConfigurationTest.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ActionCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ComponentClient.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/EventSourcedEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ValueEntityCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/ViewCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/client/WorkflowCallBuilder.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/impl/client/ComponentClientImpl.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/client/ComponentCall.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ActionDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JwtDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Reflect.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ViewDescriptorFactory.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/action/ReflectiveActionRouter.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/Reflect.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/ReflectionUtils.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/reflection/RestServiceIntrospector.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/boot/KalixConfiguration.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixClient.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/RestKalixClientImpl.scala
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/client/ComponentClientTest.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/reflection/ReflectSpec.scala
Labels: kalix-runtime, java-sdk-protobuf, java-sdk

#2054 Update LICENSE to BSL
  LICENSE
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime
