Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-09, with the labels that each got.

#2205 fix(docs): fail deploy.sh on error in script
  docs/bin/deploy.sh
Labels: Documentation, kalix-runtime

#2207 fix: getClientGrpc, back to originally leveraging `javaSdkContext`
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/action/ActionAdapters.scala
Labels: bug, kalix-runtime, scala-sdk-protobuf

#2208 chore: adding docs about how to add headers to grpcClient
  docs/src/modules/java-protobuf/pages/call-another-service.adoc
  samples/java-protobuf-doc-snippets/src/main/java/com/example/DelegatingServiceAction.java
  samples/scala-protobuf-doc-snippets/src/main/scala/com/example/DelegatingServiceAction.scala
Labels: Documentation, kalix-runtime

#2211 fix: adding tabset
  docs/src/modules/java-protobuf/pages/call-another-service.adoc
Labels: Documentation, kalix-runtime

#2217 chore: bump Spring versions
  project/Dependencies.scala
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
Labels: Documentation, kalix-runtime

#2219 refactor: change format for logMessage mkString so it shows with tabs…
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
Labels: kalix-runtime, java-sdk-protobuf
