Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-01, with the labels that each got.

#1940 fix: kalix maven plugin with mutable list for configuration params
  maven-java/kalix-maven-plugin/src/main/java/kalix/DeployMojo.java
Labels: kalix-runtime, java-sdk-protobuf

#1945 chore: validate components are public
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/impl/NotPublicComponents.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ValueEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/WorkflowEntityDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk

#1943 docs: internal and external port match when running multiple
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
  docs/src/modules/java-protobuf/pages/running-locally.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/value-entity.adoc
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
Labels: Documentation, kalix-runtime, java-sdk-protobuf, java-sdk

#1949 chore: improve error msg in EventingTestKit
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventingTestKitImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#1950 docs: replace generated service with Kalix service
  docs/src/modules/java-protobuf/pages/quickstart-template.adoc
  docs/src/modules/java/pages/getting-started.adoc
Labels: Documentation, kalix-runtime

#1934 chore: move container class to impl package
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/KalixTestKit.java
  sdk/java-sdk-protobuf-testkit/src/main/java/kalix/javasdk/testkit/impl/KalixRuntimeContainer.java
Labels: kalix-runtime, java-sdk-protobuf

#1953 docs: how to inject component client
  docs/src/modules/java/pages/component-and-service-calls.adoc
  samples/java-spring-fibonacci-action/src/main/java/com/example/fibonacci/LimitedFibonacciAction.java
Labels: Documentation, kalix-runtime, java-sdk

#1925 feat(javasdk): support multiple values in a static claim
  docs/src/modules/java/pages/using-jwts.adoc
  project/Dependencies.scala
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/annotations/JWT.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JwtDescriptorFactory.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/ActionsTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ValueEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/WorkflowEntityDescriptorFactorySpec.scala
Labels: Documentation, kalix-runtime, java-sdk

#1932 bump: kalix runtime to 1.1.29
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/docker-compose.yml
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-views-quickstart/docker-compose.yml
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/java-spring-eventsourced-counter/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-spring-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-spring-eventsourced-customer-registry/docker-compose.yml
  samples/java-spring-eventsourced-shopping-cart/docker-compose.yml
  samples/java-spring-fibonacci-action/docker-compose.yml
  samples/java-spring-reliable-timers/docker-compose.yml
  samples/java-spring-shopping-cart-quickstart/docker-compose.yml
  samples/java-spring-transfer-workflow-compensation/docker-compose.yml
  samples/java-spring-transfer-workflow/docker-compose.yml
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-shopping-cart/docker-compose.yml
  samples/java-spring-view-store/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
  sdk/java-sdk-spring/docker-compose-integration.yml
  updateProxyVersions.sh
  updateRuntimeVersions.sh
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1955 Typo fix
  docs/src/modules/java/pages/actions-publishing-subscribing.adoc
Labels: Documentation, kalix-runtime

#1924 feat: support on startup hook for java sdk
  docs/src/modules/java-protobuf/pages/actions.adoc
  docs/src/modules/java/pages/actions.adoc
  samples/java-spring-doc-snippets/src/main/java/com/example/trigger/OnStartupAction.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/annotations/Trigger.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ActionDescriptorFactory.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/ActionsTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: Documentation, kalix-runtime, java-sdk

#1926 feat(java-sdk): support for pattern in jwt static claim
  docs/src/modules/java/pages/using-jwts.adoc
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/annotations/JWT.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JwtDescriptorFactory.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/ActionsTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: Documentation, kalix-runtime, java-sdk

#1938 feat: single event handler for sealed interface
  sdk/java-sdk-spring-testkit/src/main/java/kalix/javasdk/testkit/EventSourcedTestKit.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/Counter.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEntity.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/eventsourcedentities/counter/CounterEvent.java
  sdk/java-sdk-spring/src/main/java/kalix/javasdk/eventsourced/ReflectiveEventSourcedEntityProvider.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedHandlersExtractor.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/eventsourcedentity/EventSourcedEntitiesTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/EventSourcedEntityDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/eventsourceentity/EventSourcedHandlersExtractorSpec.scala
Labels: kalix-runtime, java-sdk

#1954 docs: describe what an effect is
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
  docs/src/modules/developing/pages/development-process-proto.adoc
  docs/src/modules/java-protobuf/pages/actions.adoc
  docs/src/modules/java-protobuf/pages/event-sourced-entities.adoc
  docs/src/modules/java-protobuf/pages/replicated-entity-crdt.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java-protobuf/partials/effects-action.adoc
  docs/src/modules/java-protobuf/partials/effects-api.adoc
  docs/src/modules/java-protobuf/partials/effects-event-sourced-entity.adoc
  docs/src/modules/java-protobuf/partials/effects-replicated-entity.adoc
  docs/src/modules/java-protobuf/partials/effects-value-entity.adoc
  docs/src/modules/java-protobuf/partials/effects-view.adoc
  docs/src/modules/java-protobuf/partials/effects-workflow.adoc
  docs/src/modules/java/pages/actions.adoc
  docs/src/modules/java/pages/development-process.adoc
  docs/src/modules/java/pages/event-sourced-entities.adoc
  docs/src/modules/java/pages/value-entity.adoc
  docs/src/modules/java/pages/views.adoc
  docs/src/modules/java/pages/workflows.adoc
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/replicatedentity/ReplicatedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/valueentity/ValueEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/Workflow.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/replicatedentity/ReplicatedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/valueentity/ValueEntity.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#1936 feat: provide http status code API
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Metadata.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/StatusCode.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/MetadataImplSpec.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/ValueEntityIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/valueentities/user/UserEntity.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/Metadata.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/StatusCode.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/MetadataImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#1968 docs: fix deadlinks after setting-up page removal
  docs/src/modules/developing/pages/development-process-proto.adoc
  docs/src/modules/java-protobuf/pages/quickstart-template.adoc
  docs/src/modules/java/pages/development-process.adoc
  docs/src/modules/java/pages/getting-started.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/README.md
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
  samples/java-protobuf-customer-registry-quickstart/README.md
  samples/java-protobuf-customer-registry-views-quickstart/README.md
  samples/java-protobuf-eventsourced-counter/README.md
  samples/java-protobuf-eventsourced-shopping-cart/README.md
  samples/java-protobuf-fibonacci-action/README.md
  samples/java-protobuf-first-service/README.md
  samples/java-protobuf-reliable-timers/README.md
  samples/java-protobuf-replicatedentity-shopping-cart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-protobuf-valueentity-counter/README.md
  samples/java-protobuf-valueentity-shopping-cart/README.md
  samples/java-protobuf-view-store/README.md
  samples/java-protobuf-web-resources/README.md
  samples/java-spring-choreography-saga-quickstart/README.md
  samples/java-spring-customer-registry-quickstart/README.md
  samples/java-spring-customer-registry-views-quickstart/README.md
  samples/java-spring-eventsourced-counter/README.md
  samples/java-spring-eventsourced-customer-registry/README.md
  samples/java-spring-eventsourced-shopping-cart/README.md
  samples/java-spring-fibonacci-action/README.md
  samples/java-spring-reliable-timers/README.md
  samples/java-spring-shopping-cart-quickstart/README.md
  samples/java-spring-transfer-workflow-compensation/README.md
  samples/java-spring-transfer-workflow/README.md
  samples/java-spring-valueentity-counter/README.md
  samples/java-spring-valueentity-customer-registry/README.md
  samples/java-spring-valueentity-shopping-cart/README.md
  samples/java-spring-view-store/README.md
  samples/scala-protobuf-customer-registry-quickstart/README.md
  samples/scala-protobuf-eventsourced-counter/README.md
  samples/scala-protobuf-eventsourced-customer-registry/README.md
  samples/scala-protobuf-eventsourced-shopping-cart/README.md
  samples/scala-protobuf-fibonacci-action/README.md
  samples/scala-protobuf-first-service/README.md
  samples/scala-protobuf-reliable-timers/README.md
  samples/scala-protobuf-replicatedentity-shopping-cart/README.md
  samples/scala-protobuf-valueentity-counter/README.md
  samples/scala-protobuf-valueentity-customer-registry/README.md
  samples/scala-protobuf-valueentity-shopping-cart/README.md
  samples/scala-protobuf-view-store/README.md
  samples/scala-protobuf-web-resources/README.md
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1966 chore: update docs links on errors
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java/pages/publishing-subscribing.adoc
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DiscoveryImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/DocLinks.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/DocLinksSpec.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1967 docs: pointing to component client docs
  docs/src/modules/java/pages/workflows.adoc
Labels: Documentation, kalix-runtime

#1969 docs: fix install kalix typos
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/README.md
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/README.md
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
  samples/java-protobuf-customer-registry-quickstart/README.md
  samples/java-protobuf-customer-registry-views-quickstart/README.md
  samples/java-protobuf-eventsourced-counter/README.md
  samples/java-protobuf-eventsourced-shopping-cart/README.md
  samples/java-protobuf-fibonacci-action/README.md
  samples/java-protobuf-first-service/README.md
  samples/java-protobuf-reliable-timers/README.md
  samples/java-protobuf-replicatedentity-shopping-cart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-protobuf-valueentity-counter/README.md
  samples/java-protobuf-valueentity-shopping-cart/README.md
  samples/java-protobuf-view-store/README.md
  samples/java-protobuf-web-resources/README.md
  samples/java-spring-choreography-saga-quickstart/README.md
  samples/java-spring-customer-registry-quickstart/README.md
  samples/java-spring-customer-registry-views-quickstart/README.md
  samples/java-spring-eventsourced-counter/README.md
  samples/java-spring-eventsourced-customer-registry/README.md
  samples/java-spring-eventsourced-shopping-cart/README.md
  samples/java-spring-fibonacci-action/README.md
  samples/java-spring-reliable-timers/README.md
  samples/java-spring-shopping-cart-quickstart/README.md
  samples/java-spring-transfer-workflow-compensation/README.md
  samples/java-spring-transfer-workflow/README.md
  samples/java-spring-valueentity-counter/README.md
  samples/java-spring-valueentity-customer-registry/README.md
  samples/java-spring-valueentity-shopping-cart/README.md
  samples/java-spring-view-store/README.md
  samples/scala-protobuf-customer-registry-quickstart/README.md
  samples/scala-protobuf-eventsourced-counter/README.md
  samples/scala-protobuf-eventsourced-customer-registry/README.md
  samples/scala-protobuf-eventsourced-shopping-cart/README.md
  samples/scala-protobuf-fibonacci-action/README.md
  samples/scala-protobuf-first-service/README.md
  samples/scala-protobuf-reliable-timers/README.md
  samples/scala-protobuf-replicatedentity-shopping-cart/README.md
  samples/scala-protobuf-valueentity-counter/README.md
  samples/scala-protobuf-valueentity-customer-registry/README.md
  samples/scala-protobuf-valueentity-shopping-cart/README.md
  samples/scala-protobuf-view-store/README.md
  samples/scala-protobuf-web-resources/README.md
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1976 chore: upgrade Vale to 3.0.5
  .github/workflows/documentation.yml
  .vale.ini
  styles/Vocab/Base/accept.txt
  styles/config/vocabularies/Base/accept.txt
  styles/config/vocabularies/Base/reject.txt
Labels: Documentation

#1974 fix(java-sdk): enforce entity id presence on http calls
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptor.scala
Labels: kalix-runtime, java-sdk

#1977 bump: spring to 6.1.3 and spring boot to 3.2.1
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/pom.xml
  project/Dependencies.scala
  samples/java-spring-choreography-saga-quickstart/pom.xml
  samples/java-spring-customer-registry-quickstart/pom.xml
  samples/java-spring-customer-registry-views-quickstart/pom.xml
  samples/java-spring-doc-snippets/pom.xml
  samples/java-spring-eventsourced-counter/pom.xml
  samples/java-spring-eventsourced-customer-registry-subscriber/pom.xml
  samples/java-spring-eventsourced-customer-registry/pom.xml
  samples/java-spring-eventsourced-shopping-cart/pom.xml
  samples/java-spring-fibonacci-action/pom.xml
  samples/java-spring-reliable-timers/pom.xml
  samples/java-spring-shopping-cart-quickstart/pom.xml
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
  samples/java-spring-valueentity-counter/pom.xml
  samples/java-spring-valueentity-customer-registry/pom.xml
  samples/java-spring-valueentity-shopping-cart/pom.xml
  samples/java-spring-view-store/pom.xml
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1965 feat: http response as endpoint return type
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/HttpResponse.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/JsonSupport.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/StatusCode.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/XComponentCallsIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/ActionWithHttpResponse.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/EchoAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/Message.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/actions/echo/ShortenedEchoAction.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/SpringWorkflowIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflow.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithFraudDetection.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/TransferWorkflowWithoutInputs.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WalletEntity.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ComponentDescriptor.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/JsonMessageCodec.scala
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ProtoDescriptorGenerator.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/RestKalixClientImpl.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/action/ActionsTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionDescriptorFactorySpec.scala
Labels: kalix-runtime, java-sdk-protobuf, java-sdk

#1984 docs: rename Quickstarts to Samples
  docs/src/modules/developing/pages/development-process-proto.adoc
  docs/src/modules/java-protobuf/nav.adoc
  docs/src/modules/java-protobuf/pages/access-control.adoc
  docs/src/modules/java-protobuf/pages/developer-tools.adoc
  docs/src/modules/java-protobuf/pages/index.adoc
  docs/src/modules/java-protobuf/pages/project-template.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-kafka-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java-protobuf/pages/quickstart/sc-eventsourced-entity-java.adoc
  docs/src/modules/java-protobuf/pages/value-entity.adoc
  docs/src/modules/java/pages/development-process.adoc
  docs/src/modules/java/pages/index.adoc
  docs/src/modules/java/pages/quickstart/before-you-begin.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-java.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/quickstart/sc-eventsourced-entity-java.adoc
  samples/java-protobuf-customer-registry-kafka-quickstart/README.md
  samples/java-protobuf-customer-registry-quickstart/README.md
  samples/java-protobuf-customer-registry-views-quickstart/README.md
  samples/java-protobuf-shopping-cart-quickstart/README.md
  samples/java-spring-choreography-saga-quickstart/README.md
  samples/java-spring-customer-registry-quickstart/README.md
  samples/java-spring-customer-registry-views-quickstart/README.md
  samples/java-spring-eventsourced-customer-registry/README.md
  samples/java-spring-shopping-cart-quickstart/README.md
  samples/scala-protobuf-customer-registry-quickstart/README.md
Labels: Documentation, kalix-runtime

#1987 bump: Logback 1.4.11 -> 1.4.14
  project/Dependencies.scala
Labels: kalix-runtime

#1988 bump: Maven 3.6.0 -> 3.9.0
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#1989 doc: Direct link to ACL details pages from all samples and archetypes
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/src/main/proto/__packageInPathFormat__/kalix_policy.proto
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/src/main/proto/__packageInPathFormat__/kalix_policy.proto
  maven-java/kalix-spring-boot-archetype/src/main/resources/archetype-resources/src/main/java/__packageInPathFormat__/Main.java
  maven-java/kalix-spring-boot-kotlin-archetype/src/main/resources/archetype-resources/src/main/kotlin/__packageInPathFormat__/Main.kt
  samples/java-protobuf-customer-registry-kafka-quickstart/src/main/proto/customer/kalix_policy.proto
  samples/java-protobuf-customer-registry-quickstart/src/main/proto/customer/kalix_policy.proto
  samples/java-protobuf-customer-registry-views-quickstart/src/main/proto/customer/kalix_policy.proto
  samples/java-protobuf-eventsourced-counter/src/main/proto/com/example/kalix_policy.proto
  samples/java-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/kalix_policy.proto
  samples/java-protobuf-eventsourced-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/java-protobuf-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/java-protobuf-fibonacci-action/src/main/proto/com/example/fibonacci/kalix_policy.proto
  samples/java-protobuf-first-service/src/main/proto/com/example/kalix_policy.proto
  samples/java-protobuf-reliable-timers/src/main/proto/com/example/kalix_policy.proto
  samples/java-protobuf-replicatedentity-examples/src/main/proto/com/example/replicated/kalix_policy.proto
  samples/java-protobuf-replicatedentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/java-protobuf-shopping-cart-quickstart/src/main/proto/shopping/cart/kalix_policy.proto
  samples/java-protobuf-valueentity-counter/src/main/proto/com/example/kalix_policy.proto
  samples/java-protobuf-valueentity-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/java-protobuf-valueentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/java-protobuf-view-store/src/main/proto/store/kalix_policy.proto
  samples/java-protobuf-web-resources/src/main/proto/com/example/kalix_policy.proto
  samples/java-spring-choreography-saga-quickstart/docker-compose.yml
  samples/java-spring-customer-registry-quickstart/src/main/java/customer/Main.java
  samples/java-spring-customer-registry-views-quickstart/src/main/java/customer/Main.java
  samples/java-spring-doc-snippets/docker-compose.yml
  samples/java-spring-doc-snippets/src/main/java/com/example/callanotherservice/Main.java
  samples/java-spring-eventsourced-counter/src/main/java/com/example/Main.java
  samples/java-spring-eventsourced-customer-registry-subscriber/src/main/java/customer/Main.java
  samples/java-spring-eventsourced-customer-registry/src/main/java/customer/Main.java
  samples/java-spring-eventsourced-shopping-cart/src/main/java/com/example/shoppingcart/Main.java
  samples/java-spring-fibonacci-action/src/main/java/com/example/Main.java
  samples/java-spring-reliable-timers/src/main/java/com/example/Main.java
  samples/java-spring-shopping-cart-quickstart/docker-compose.yml
  samples/java-spring-shopping-cart-quickstart/src/main/java/shoppingcart/Main.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/Main.java
  samples/java-spring-transfer-workflow/src/main/java/com/example/Main.java
  samples/java-spring-valueentity-counter/docker-compose.yml
  samples/java-spring-valueentity-counter/src/main/java/com/example/Main.java
  samples/java-spring-valueentity-customer-registry/docker-compose.yml
  samples/java-spring-valueentity-customer-registry/src/main/java/customer/Main.java
  samples/java-spring-valueentity-shopping-cart/src/main/java/com/example/Main.java
  samples/java-spring-view-store/src/main/java/store/Main.java
  samples/scala-protobuf-customer-registry-quickstart/src/main/proto/customer/kalix_policy.proto
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/src/main/proto/com/example/kalix_policy.proto
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/src/main/proto/customer/kalix_policy.proto
  samples/scala-protobuf-eventsourced-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/scala-protobuf-eventsourced-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/scala-protobuf-fibonacci-action/src/main/proto/com/example/fibonacci/kalix_policy.proto
  samples/scala-protobuf-first-service/src/main/proto/com/example/kalix_policy.proto
  samples/scala-protobuf-reliable-timers/src/main/proto/com/example/kalix_policy.proto
  samples/scala-protobuf-replicatedentity-examples/src/main/proto/com/example/replicated/kalix_policy.proto
  samples/scala-protobuf-replicatedentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/scala-protobuf-valueentity-counter/src/main/proto/com/example/kalix_policy.proto
  samples/scala-protobuf-valueentity-customer-registry/src/main/proto/customer/kalix_policy.proto
  samples/scala-protobuf-valueentity-shopping-cart/src/main/proto/com/example/shoppingcart/kalix_policy.proto
  samples/scala-protobuf-view-store/src/main/proto/store/kalix_policy.proto
  samples/scala-protobuf-web-resources/src/main/proto/com/example/kalix_policy.proto
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#1994 docs: remove mentions of "node"
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-scala.adoc
  docs/src/modules/java-protobuf/partials/eventsourced.adoc
Labels: Documentation, kalix-runtime

#1956 feat: Allow multiple queries in code first views
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java/pages/views.adoc
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/Validations.scala
  sdk/java-sdk-spring/src/test/java/kalix/spring/testmodels/view/ViewTestModels.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ViewDescriptorFactorySpec.scala
Labels: Documentation, kalix-runtime, java-sdk

#2002 chore: fix grafana link
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime
