Repository lightbend/kalix-jvm-sdk, pull requests merged in 2024-02, with the labels that each got.

#2009 fix: exposing all query endpoints from the View component
  docs/src/modules/java-protobuf/pages/publishing-subscribing.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java/pages/publishing-subscribing.adoc
  sdk/java-sdk-spring/src/it/java/com/example/wiring/SpringSdkIntegrationTest.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/views/UsersView.java
  sdk/java-sdk-spring/src/main/scala/kalix/javasdk/impl/ViewDescriptorFactory.scala
Labels: Documentation, kalix-runtime, java-sdk

#2013 docs: add note on how to configure brokers
  docs/src/modules/java/pages/publishing-subscribing.adoc
  docs/src/modules/java/partials/pubsub-note.adoc
Labels: Documentation, kalix-runtime

#2011 fix: reverting maven-surefire-plugin and maven-failsafe-plugin versions bump
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/pom.xml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/pom.xml
Labels: kalix-runtime, java-sdk-protobuf

#2019 feat: import of maxRetries methods is no longer required
  samples/java-protobuf-transfer-workflow-compensation/src/main/java/com/example/transfer/api/TransferWorkflow.java
  samples/java-spring-transfer-workflow-compensation/src/main/java/com/example/transfer/TransferWorkflow.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/workflow/AbstractWorkflow.java
  sdk/java-sdk-spring/src/it/java/com/example/wiring/workflowentities/WorkflowWithRecoverStrategy.java
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/workflow/AbstractWorkflow.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf, java-sdk

#2027 chore: update runtime images
  samples/java-protobuf-transfer-workflow/docker-compose.yml
  samples/java-spring-choreography-saga-quickstart/docker-compose.yml
Labels: Documentation, kalix-runtime

#2034 chore: avoiding validation site.mockito while is down
  docs/config/validate-links.json
Labels: Documentation, kalix-runtime

#2033 chore: removing deprecated api codegen file options
  codegen/core/src/main/scala/kalix/codegen/ModelBuilder.scala
Labels: kalix-runtime

#2030 feat: add support for tracing propagation to external systems
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitActionContext.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/Metadata.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/TraceContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/ActionContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/ActionCreationContext.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-spring/src/main/scala/kalix/spring/impl/KalixSpringApplication.scala
  sdk/java-sdk-spring/src/test/java/kalix/javasdk/action/TestTracingAction.java
  sdk/java-sdk-spring/src/test/scala/kalix/javasdk/impl/ActionsImplSpec.scala
Labels: kalix-runtime, java-sdk-protobuf, java-sdk

#2037 fix: wrong FQCN in workflow samples
  samples/java-spring-transfer-workflow-compensation/pom.xml
  samples/java-spring-transfer-workflow/pom.xml
Labels: Documentation, kalix-runtime

#2040 fix: using command name for tracing span for VE, ES entities
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
Labels: kalix-runtime, java-sdk-protobuf

#2044 feat: tracing support for timer calls
  samples/java-spring-choreography-saga-quickstart/src/it/java/user/registry/UserCreationIntegrationTest.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/action/Action.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/telemetry/Telemetry.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/action/Action.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/timer/TimerSchedulerImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#2043 chore: drop release-drafter GH workflow
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  docs/release-issue-template.md
Labels: Documentation, kalix-runtime

#2049 docs: changing entity_key to component_id
  docs/src/modules/java-protobuf/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java-protobuf/pages/views.adoc
  docs/src/modules/java/pages/quickstart/cr-value-entity-views-java.adoc
  docs/src/modules/java/pages/views.adoc
Labels: Documentation, kalix-runtime
