Repository lightbend/kalix-jvm-sdk, pull requests merged in 2025-03, with the labels that each got.

#2270 bump: Broad sweep of dependency bumps
  .github/workflows/ci.yml
  docs/src/modules/java-protobuf/nav.adoc
  docs/src/modules/java-protobuf/pages/spring-client.adoc
  maven-java/kalix-java-protobuf-parent/pom.xml
  maven-java/kalix-maven-plugin/pom.xml
  project/Dependencies.scala
  project/plugins.sbt
  samples/java-protobuf-valueentity-counter-spring-client/README.md
  samples/java-protobuf-valueentity-counter-spring-client/pom.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/CounterClientApplication.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/GrpcClientConfig.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/config/WebClientConfig.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/controller/CounterController.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/CounterRequest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/model/ValueRequest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterService.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/CounterServiceImpl.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/java/com/example/client/spring/rest/service/GrpcClientService.java
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/actions/counter_states_sub.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/actions/double-counter.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/counter_api.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/proto/com/example/domain/counter_domain.proto
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/application.properties
  samples/java-protobuf-valueentity-counter-spring-client/src/main/resources/logback.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerIntegrationTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/java/com/example/client/spring/rest/CounterControllerTest.java
  samples/java-protobuf-valueentity-counter-spring-client/src/test/resources/logback-test.xml
  samples/java-protobuf-valueentity-counter-spring-client/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  samples/scala-protobuf-tracing/build.sbt
  sbt-plugin/src/main/scala/kalix/sbt/KalixPlugin.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/ActionResultImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventingTestKitImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/KalixRunner.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/MetadataImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/action/ActionsImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/workflow/WorkflowRouter.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/KalixRunner.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/PassivationStrategyConverters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/workflow/WorkflowAdapters.scala
Labels: Documentation, kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#2271 chore: use runtime image from registry.akka.io
  bin/docker-login-public-gcr.sh
  devtools/src/test/scala/kalix/devtools/impl/DevModeSettingsSpec.scala
  devtools/src/test/scala/kalix/devtools/impl/DockerComposeUtilsSpec.scala
  devtools/src/test/scala/kalix/devtools/impl/TracingPortExtractorSpec.scala
  docs/Makefile
  docs/src/modules/java-protobuf/pages/running-locally.adoc
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  project/DockerImage.scala
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-tracing/docker-compose.yml
  samples/java-protobuf-transfer-workflow-compensation/docker-compose.yml
  samples/java-protobuf-transfer-workflow/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-tracing/docker-compose.yml
  samples/scala-protobuf-transfer-workflow-compensation/docker-compose.yml
  samples/scala-protobuf-transfer-workflow/docker-compose.yml
  samples/scala-protobuf-validated/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/KalixRunnerSpec.scala
  tck/java-tck/src/test/java/kalix/javasdk/tck/RunTck.java
  tck/scala-tck/src/test/java/kalix/javasdk/tck/RunTck.java
  updateRuntimeVersions.sh
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#2272 build: Stop building docker image for TCK
  bin/docker-login-public-gcr.sh
  build.sbt
  project/DockerImage.scala
Labels: kalix-runtime

#2275 chore: update license ahead of 1.5.7
  LICENSE
Labels: kalix-runtime

#2276 bump: java 21 and ubuntu version to latest versions
  maven-java/kalix-java-protobuf-parent/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#2278 Auto PR - Kalix Runtime version 1.2.13
  maven-java/kalix-maven-archetype-event-sourced-entity/src/main/resources/archetype-resources/docker-compose.yml
  maven-java/kalix-maven-archetype-value-entity/src/main/resources/archetype-resources/docker-compose.yml
  project/Dependencies.scala
  samples/java-protobuf-customer-registry-kafka-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/java-protobuf-customer-registry-views-quickstart/docker-compose.yml
  samples/java-protobuf-eventsourced-counter/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/java-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/java-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/java-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/java-protobuf-fibonacci-action/docker-compose.yml
  samples/java-protobuf-first-service/docker-compose.yml
  samples/java-protobuf-reliable-timers/docker-compose.yml
  samples/java-protobuf-replicatedentity-examples/docker-compose.yml
  samples/java-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-shopping-cart-quickstart/docker-compose.yml
  samples/java-protobuf-tracing/docker-compose.yml
  samples/java-protobuf-transfer-workflow-compensation/docker-compose.yml
  samples/java-protobuf-transfer-workflow/docker-compose.yml
  samples/java-protobuf-valueentity-counter/docker-compose.yml
  samples/java-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/java-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/java-protobuf-view-store/docker-compose.yml
  samples/java-protobuf-web-resources/docker-compose.yml
  samples/scala-protobuf-customer-registry-quickstart/docker-compose.yml
  samples/scala-protobuf-doc-snippets/docker-compose.yml
  samples/scala-protobuf-eventsourced-counter/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose-integration.yml
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/docker-compose.yml
  samples/scala-protobuf-eventsourced-shopping-cart/docker-compose.yml
  samples/scala-protobuf-fibonacci-action/docker-compose.yml
  samples/scala-protobuf-first-service/docker-compose.yml
  samples/scala-protobuf-reliable-timers/docker-compose.yml
  samples/scala-protobuf-replicatedentity-examples/docker-compose.yml
  samples/scala-protobuf-replicatedentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-tracing/docker-compose.yml
  samples/scala-protobuf-transfer-workflow-compensation/docker-compose.yml
  samples/scala-protobuf-transfer-workflow/docker-compose.yml
  samples/scala-protobuf-validated/docker-compose.yml
  samples/scala-protobuf-valueentity-counter/docker-compose.yml
  samples/scala-protobuf-valueentity-customer-registry/docker-compose.yml
  samples/scala-protobuf-valueentity-shopping-cart/docker-compose.yml
  samples/scala-protobuf-view-store/docker-compose.yml
  samples/scala-protobuf-web-resources/docker-compose.yml
Labels: Documentation, kalix-runtime, java-sdk-protobuf
