Repository lightbend/kalix-jvm-sdk, pull requests merged in 2025-08, with the labels that each got.

#2333 chore: disable virtual threads by default
  sdk/java-sdk-protobuf/src/main/resources/reference.conf
Labels: kalix-runtime, java-sdk-protobuf

#2338 ci: add debug echo to makefile
  docs/Makefile
Labels: Documentation, kalix-runtime

#2340 bump: Several dependencies
  project/Dependencies.scala
  project/plugins.sbt
Labels: kalix-runtime

#2343 chore: docbuiler image version
  docs/Makefile
Labels: Documentation, kalix-runtime

#2342 feat: Persist metadata together with event
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/java-sdk-protobuf-testkit/src/main/scala/kalix/javasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventContext.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventSourcedEntity.java
  sdk/java-sdk-protobuf/src/main/java/kalix/javasdk/eventsourcedentity/EventWithMetadata.java
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
  sdk/java-sdk-protobuf/src/main/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntityRouter.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/javasdk/impl/eventsourcedentity/EventSourcedEntitiesImplSpec.scala
  sdk/java-sdk-protobuf/src/test/scala/kalix/testkit/eventsourcedentity/EventSourcedMessages.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/EventSourcedResultImpl.scala
  sdk/scala-sdk-protobuf-testkit/src/main/scala/kalix/scalasdk/testkit/impl/TestKitEventSourcedEntityEventContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventContext.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/eventsourcedentity/EventSourcedEntity.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityAdapters.scala
  sdk/scala-sdk-protobuf/src/main/scala/kalix/scalasdk/impl/eventsourcedentity/EventSourcedEntityEffectImpl.scala
Labels: kalix-runtime, java-sdk-protobuf, scala-sdk-protobuf

#2347 chore: License change date for 1.5.16
  LICENSE
Labels: kalix-runtime
