Repository lightbend/kalix-jvm-sdk, pull requests merged in 2025-07, with the labels that each got.

#2321 bump: JRE 21.0.7 as base image
  maven-java/kalix-java-protobuf-parent/pom.xml
  samples/scala-protobuf-customer-registry-quickstart/build.sbt
  samples/scala-protobuf-doc-snippets/build.sbt
  samples/scala-protobuf-eventsourced-counter/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/build.sbt
  samples/scala-protobuf-eventsourced-customer-registry-subscriber/docker-compose.yml
  samples/scala-protobuf-eventsourced-customer-registry/build.sbt
  samples/scala-protobuf-eventsourced-shopping-cart/build.sbt
  samples/scala-protobuf-fibonacci-action/build.sbt
  samples/scala-protobuf-first-service/build.sbt
  samples/scala-protobuf-reliable-timers/build.sbt
  samples/scala-protobuf-replicatedentity-examples/build.sbt
  samples/scala-protobuf-replicatedentity-shopping-cart/build.sbt
  samples/scala-protobuf-tracing/build.sbt
  samples/scala-protobuf-transfer-workflow-compensation/build.sbt
  samples/scala-protobuf-transfer-workflow/build.sbt
  samples/scala-protobuf-validated/build.sbt
  samples/scala-protobuf-valueentity-counter/build.sbt
  samples/scala-protobuf-valueentity-customer-registry/build.sbt
  samples/scala-protobuf-valueentity-shopping-cart/build.sbt
  samples/scala-protobuf-view-store/build.sbt
  samples/scala-protobuf-web-resources/build.sbt
Labels: Documentation, kalix-runtime, java-sdk-protobuf

#2324 Update LICENSE
  LICENSE
Labels: kalix-runtime

#2329 chore: publishing to new sonatype's repo
  .github/publish-maven.sh
  maven-java/pom.xml
Labels: kalix-runtime, java-sdk-protobuf
